
        <div class="bg-grey-darkest mt-4">
            <div class="container items-center justify-between mx-auto px-4 leading-normal">
                <div class="w-fill pt-12 pb-12">
                    <div class="text-center text-purple items-center pt-5">
                        <h1 class="font-black text-3xl md:text-4xl uppercase">All journeys have a</h1>
                        <h1 class="font-black text-3xl md:text-4xl uppercase">story…</h1>
                        <p class="font-medium text-xl font-rubik py-8">About Me.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-grey-lighter items-left mx-auto px-4 leading-normal">
            <div class="w-fill pt-8 lg:pt-10 pb-6">
                <div class="lg:flex lg:flex-warp pt-5">
                    <div class="w-full lg:w-1/2">
                        <div class="mx-auto h-full flex justify-center items-center about-illustration"><img src="/img/about-illustration.84ace2da.svg"></div>
                    </div>
                    <div class="w-full lg:w-1/2">
                        <h2 class="font-black text-grey-primary uppercase pt-8 pb-8 text-3xl">Jorge Carrasco</h2>
                        <p class="w-full text-grey-darker text-base"><span class="font-bold">Premium Teacher</span></p>
                        <p class="text-grey-darker pt-4">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, </p>
                        <p class="text-grey-darker pt-4">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container items-center justify-between mx-auto px-4 leading-normal">
            <div class="block text-center pt-16 pb-24">
                <h2 class="font-black text-grey-primary uppercase pt-4 pb-4 text-3xl">Let's talk</h2>
                <div class="flex flex-wrap mb-16">
                    <p class="w-full md:w-2/3 mr-auto ml-auto text-grey-darker text-base">If you are interested in taking a lesson with me, feel free to reach out!</p>
                </div>           <a href="#" class="no-underline px-6 py-3 ml-4 rounded text-base text-white font-semibold bg-purple-light hover:bg-purple-light shadow-lg">Contact</a></div>
        </div>
        