<section>
    <div class="container mx-auto px-6 my-20">
        <div class="mb-16 text-center">
            <h2 class="text-2xl mb-2 text-3xl purple-dark uppercase font-bold">Contact</h2>
            <p class="text-lg text-space text-grey-dark leading-loose font-thin">Experts at personalized lessons.</p>
        </div>
    </div>
</section>

<div class="">
    <div class="flex flex-1 wave">
        <div class="container mx-auto mb-48 px-6">
            <div class="py-2 flex flex-wrap-reverse items-center ">
                <div class="w-full lg:w-2/5 text-center lg:text-left lg:ml-8">
                    <div class="mb-12">
                        <h1 class="text-5xl font-medium text-space purple-dark mb-2 tracking-tight text-purple-dark">Form<br class="hidden md:block"></h1>
                                                <h1 class="text-4xl font-medium text-space purple-dark mb-2 tracking-tight text-grey-darkest">Medelliín, Colombia<br class="hidden md:block"></h1>
                        <p class="text-xl leading-loose font-normal text-spacepurple-light">Sed ut perspiciatis unde omnis iste natus error sit <br>voluptatem accusantium doloremque laudantium
                        
                    </div>
                    <div><a href="#" class="no-underline px-12 inline-block rounded py-4 text-lg shadow-lg text-white font-semibold bg-purple-light hover:bg-purple-light mb-3">Get Started</a>
                        <p id= "place holder "class="font-light content-center text-spacepurple-light text-sm"></p>
                    </div>
                </div>
                <div class="w-full mb-5 lg:my-8 lg:mb-0 lg:w-2/5 text-center items-center"><img src="https://previews.dropbox.com/p/thumb/AAQg9tRB7Gxoi82fKDWDfnp7xcejZMqzxtuaXQUZMS0xKi8QVwiKieGy63ymGXNG29iXFDhOt-7TgBPsZ4q8TB2wK0_QSNp6Hbajw9mCwTpodu00cs3JQJyUWXCzQq8Us29CTg0yEH37oSzpJXfmhplau91T7hDP2Z2WztOdaS4evDRt3redBY6Y5J0ZjpAW_JXF1LTOs9C8Kt-ZIhkPo1QLOcVRwOQ6mqjAbv14JniIqQ/p.png?size=2048x1536&size_mode=3" alt="Feedr hero illustration" class="px-6 sm:w-4/5 md:w-3/5 lg:pr-0 lg:pl-8 lg:w-full"></div>
            </div>
        </div>
    </div>
</div>
