<!--Title Section-->
<section class="mx-auto px-6 mt-12 border-b-4 border-grey-light">
        <div class="">
          <div class=" text-center">
            <h2 class="text-2xl mb-2 text-3xl purple-dark uppercase font-bold">FAQ.</h2>
              <p class="text-lg text-space text-grey-dark leading-loose font-thin">What to expect.</p>
                <div class="flex items-end">
                  <div class="sm:w-1/3 mx-auto"><img src="/assets/illustrations/teamwork_white_3.png" alt="Feedr hero illustration" class="image-center px-6 sm:w-3/5 md:w-4/5"></div>
                </div>
          </div>
        </div>
</section>
<!--Teacher Expectations-->
        
        
        
        
        
        <div class="container items-center mx-auto px-4 leading-normal">
            <div class="md:flex md:flex-warp pt-24">
                <div class="w-full md:w-1/2 lg:w-1/2 mb-12 px-4">
                    <div class="box-outer relative">
                        <div class="border border-grey-light lg:border-grey-light bg-white rounded p-4 leading-normal">
                            <div class="font-bold text-xl mb-2 border-l-4 rounded border-orange-primary pl-6 font-black text-grey-primary">How old do I have to be to learn Spanish?</div>
                            <p class="w-5/6 text-grey-darker text-base py-4 pb-12 md:pb-8 relative z-50">
                                We believe that anyone can learn Spanish, so your age does not matter to take up a new language. We even work with kids!                           <br>
                            </p>
                        </div>

                    </div>
                </div>
                <div class="w-full md:w-1/2 lg:w-1/2 mb-12 px-4">
                    <div class="box-outer relative">
                        <div class="border border-grey-light lg:border-grey-light bg-white rounded p-4 leading-normal">
                            <div class="font-bold text-xl mb-2 border-l-4 rounded border-orange-primary pl-6 font-black text-grey-primary  h-12">What levels are offered? </div>
                            <p class="w-5/6 text-grey-darker text-base py-4 pb-12 md:pb-8 relative z-50">
                                We offer courses for true beginners, all the way up to very advanced conversational courses. You can take a look at our levels here.	
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="md:flex md:flex-warp">
                <div class="w-full md:w-1/2 lg:w-1/2 mb-12 px-4">
                    <div class="box-outer relative">
                        <div class="border border-grey-light lg:border-grey-light bg-white rounded p-4 leading-normal">
                            <div class="font-bold text-xl mb-2 border-l-4 rounded border-orange-primary pl-6 font-black text-grey-primary">Do all tutors speak English?</div>
                            <p class="w-5/6 text-grey-darker text-base py-4 pb-12 md:pb-8 relative z-50">
                                Yes, all of our tutors go through an English Proficiency test to determine if their English Level is more than enough to teach their lessons, offer clear explanations.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-1/2 lg:w-1/2 mb-12 px-4">
                    <div class="box-outer relative">
                        <div class="border border-grey-light lg:border-grey-light bg-white rounded p-4 leading-normal">
                            <div class="font-bold text-xl mb-2 border-l-4 rounded border-orange-primary pl-6 font-black text-grey-primary">Are Vertical Spanish Tutors Native speakers?</div>
                            <p class="w-5/6 text-grey-darker text-base py-4 pb-12 md:pb-8 relative z-50">
                                Yes, they are. We want to offer an authentic experience during your lesson, this can only be achieved with Experienced Native Tutors                             </p>
                        </div>
                        </div>
                    </div>
                
                </div>
            </div>
            <div class="container items-center mx-auto px-4 leading-normal">
            <div class="md:flex md:flex-warp">
                <div class="w-full md:w-1/2 lg:w-1/2 mb-12 px-4">
                    <div class="box-outer relative">
                        <div class="border border-grey-light lg:border-grey-light bg-white rounded p-4 leading-normal">
                            <div class="font-bold text-xl mb-2 border-l-4 rounded border-orange-primary pl-6 font-black text-grey-primary">How many lessons can I book?</div>
                            <p class="w-5/6 text-grey-darker text-base py-4 pb-12 md:pb-8 relative z-50">
                                You can book at least 4 lessons (Trial Plan) and as many as you want, if you want more lessons than our intensive plans you can contact us                            </p>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-1/2 lg:w-1/2 mb-12 px-4">
                    <div class="box-outer relative">
                        <div class="border border-grey-light lg:border-grey-light bg-white rounded p-4 leading-normal">
                            <div class="font-bold text-xl mb-2 border-l-4 rounded border-orange-primary pl-6 font-black text-grey-primary">How many people are there in the lessons? </div>
                            <p class="w-5/6 text-grey-darker text-base py-4 pb-12 md:pb-8 relative z-50">
                                You and the teacher. Our lessons are 1 on 1 in order to offer effective lessons with a personalized approach.                            <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="md:flex md:flex-warp">
                <div class="w-full md:w-1/2 lg:w-1/2 mb-12 px-4">
                    <div class="box-outer relative">
                        <div class="border border-grey-light lg:border-grey-light bg-white rounded p-4 leading-normal">
                            <div class="font-bold text-xl mb-2 border-l-4 rounded border-orange-primary pl-6 font-black text-grey-primary">How long are the lessons?</div>
                            <p class="w-5/6 text-grey-darker text-base py-4 pb-12 md:pb-8 relative z-50">
                              Lessons are one hour long, but you can have longer lessons by scheduling two or more lessons to be right after the other.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-1/2 lg:w-1/2 mb-12 px-4">
                    <div class="box-outer relative">
                        <div class="border border-grey-light lg:border-grey-light bg-white rounded p-4 leading-normal">
                            <div class="font-bold text-xl mb-2 border-l-4 rounded border-orange-primary pl-6 font-black text-grey-primary">What are Vertical Spanish lessons like?</div>
                            <p class="w-5/6 text-grey-darker text-base py-4 pb-12 md:pb-8 relative z-50">
we want you to enjoy your lessons while you learn the language, that is why we have developed The Vertical Method and designed engaging lessons for you.                            </p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container items-center mx-auto px-4 leading-normal">
            <div class="md:flex md:flex-warp">
                <div class="w-full md:w-1/2 lg:w-1/2 mb-12 px-4">
                    <div class="box-outer relative">
                        <div class="border border-grey-light lg:border-grey-light bg-white rounded p-4 leading-normal">
                            <div class="font-bold text-xl mb-2 border-l-4 rounded border-orange-primary pl-6 font-black text-grey-primary">How many levels are there?</div>
                            <p class="w-5/6 text-grey-darker text-base py-4 pb-12 md:pb-8 relative z-50">
we have 6 levels that go from the basic all the way to the most advance. You can check them out here to find out what you will be able to do once you complete each level.                        </p>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-1/2 lg:w-1/2 mb-12 px-4">
                    <div class="box-outer relative">
                        <div class="border border-grey-light lg:border-grey-light bg-white rounded p-4 leading-normal">
                            <div class="font-bold text-xl mb-2 border-l-4 rounded border-orange-primary pl-6 font-black text-grey-primary">Can I take a placement test? </div>
                            <p class="w-5/6 text-grey-darker text-base py-4 pb-12 md:pb-8 relative z-50">
                                If you already have some knowledge and you do not want to start from the most basic level, you can take a placement test once you sign up for your lessons.                        </div>
                    </div>
                </div>
            </div>
            <div class="md:flex md:flex-warp">
                <div class="w-full md:w-1/2 lg:w-1/2 mb-12 px-4">
                    <div class="box-outer relative">
                        <div class="border border-grey-light lg:border-grey-light bg-white rounded p-4 leading-normal">
                            <div class="font-bold text-xl mb-2 border-l-4 rounded border-orange-primary pl-6 font-black text-grey-primary">Where can I have my lesson?</div>
                            <p class="w-5/6 text-grey-darker text-base py-4 pb-12 md:pb-8 relative z-50">
                                Having a private tutor means that the possibilities are endless, a coffee shop, a park, the square, your apartment or anywhere in town that you consider comfortable. You can check our list of suggestions.                              </p>
                        </div>

                    </div>
                </div>
                <div class="w-full md:w-1/2 lg:w-1/2 mb-12 px-4">
                    <div class="box-outer relative">
                        <div class="border border-grey-light lg:border-grey-light bg-white rounded p-4 leading-normal">
                            <div class="font-bold text-xl mb-2 border-l-4 rounded border-orange-primary pl-6 font-black text-grey-primary">Do I get a certification?</div>
                            <p class="w-5/6 text-grey-darker text-base py-4 pb-12 md:pb-8 relative z-50">
                                Once you complete the course you get a certificate stating what your current level is and how many hours of study you have gone through. If you want to have an International Certification we can make all the arrangements so you take the test. You can arrange this by clicking here.                 </p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container items-center mx-auto px-4 leading-normal">
            <div class="md:flex md:flex-warp">
                <div class="w-full md:w-1/2 lg:w-1/2 mb-12 px-4">
                    <div class="box-outer relative">
                        <div class="border border-grey-light lg:border-grey-light bg-white rounded p-4 leading-normal">
                            <div class="font-bold text-xl mb-2 border-l-4 rounded border-orange-primary pl-6 font-black text-grey-primary">What payments method do you accept?</div>
                            <p class="w-5/6 text-grey-darker text-base py-4 pb-12 md:pb-8 relative z-50">
                                We accept the following payment methods: Credit Cards, PayPal, & Bank Transfers.                             </p>
                        </div>
                    </div>
                </div>
                                <div class="w-full md:w-1/2 lg:w-1/2 mb-12 px-4">
                    <div class="box-outer relative">
                        <div class="border border-grey-light lg:border-grey-light bg-white rounded p-4 leading-normal">
                            <div class="font-bold text-xl mb-2 border-l-4 rounded border-orange-primary pl-6 font-black text-grey-primary">What happens if there is a public holiday?</div>
                            <p class="w-5/6 text-grey-darker text-base py-4 pb-12 md:pb-8 relative z-50">
                            Whenever a holiday interferes with your lessons, this will be shown on the calendar while booking, you will be able to see if the tutor is available, in that case, you decide whether you want to book a lesson on that date or not. <br><br>                            </p>
                        </div>
                    </div>
                </div>
                </div>
            <div class="md:flex md:flex-warp">
                <div class="w-full md:w-1/2 lg:w-1/2 mb-12 px-4">
                    <div class="box-outer relative">
                        <div class="border border-grey-light lg:border-grey-light bg-white rounded p-4 leading-normal">
                            <div class="font-bold text-xl mb-2 border-l-4 rounded border-orange-primary pl-6 font-black text-grey-primary">How do I sign up for lessons?</div>
                            <p class="w-5/6 text-grey-darker text-base py-4 pb-12 md:pb-8 relative z-50">
                            It's as easy as clicking the "Get Started" button!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-1/2 lg:w-1/2 mb-12 px-4">
                    <div class="box-outer relative">
                        <div class="border border-grey-light lg:border-grey-light bg-white rounded p-4 leading-normal">
                            <div class="font-bold text-xl mb-2 border-l-4 rounded border-orange-primary pl-6 font-black text-grey-primary">How long do I have to keep my subscription?</div>
                            <p class="w-5/6 text-grey-darker text-base py-4 pb-12 md:pb-8 relative z-50">
                                You can cancel your subscription anytime, just remember the following month is charged to your Credit Card 48 hours before your first lesson of the new month.                            </p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container items-center mx-auto px-4 leading-normal">
            <div class="md:flex md:flex-warp">
                <div class="w-full md:w-1/2 lg:w-1/2 mb-12 px-4">
                    <div class="box-outer relative">
                        <div class="border border-grey-light lg:border-grey-light bg-white rounded p-4 leading-normal">
                            <div class="font-bold text-xl mb-2 border-l-4 rounded border-orange-primary pl-6 font-black text-grey-primary">What are the available hours?</div>
                            <p class="w-5/6 text-grey-darker text-base py-4 pb-12 md:pb-8 relative z-50">
                                We have teachers available as early as 6am and as late as 9pm, always dependable on each teacher's schedule.                            </p>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-1/2 lg:w-1/2 mb-12 px-4">
                    <div class="box-outer relative">
                        <div class="border border-grey-light lg:border-grey-light bg-white rounded p-4 leading-normal">
                            <div class="font-bold text-xl mb-2 border-l-4 rounded border-orange-primary pl-6 font-black text-grey-primary">Do you have company plans?</div>
                            <p class="w-5/6 text-grey-darker text-base py-4 pb-12 md:pb-8 relative z-50">
                                We offer Company Packages by request.
                            </p>
                        </div>
                        <div class="box-image absolute pin-r padding-c-b7">
                        </div>
                    </div>
                </div>
            </div>
            <div class="md:flex md:flex-warp">
                <div class="w-full md:w-1/2 lg:w-1/2 mb-12 px-4">
                    <div class="box-outer relative">
                        <div class="border border-grey-light lg:border-grey-light bg-white rounded p-4 leading-normal">
                            <div class="font-bold text-xl mb-2 border-l-4 rounded border-orange-primary pl-6 font-black text-grey-primary">Do you have group plans?</div>
                            <p class="w-5/6 text-grey-darker text-base py-4 pb-12 md:pb-8 relative z-50">
                                We offer Company Packages that can be adapted to the needs of a group                            
                            </p>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-1/2 lg:w-1/2 mb-12 px-4">
                    <div class="box-outer relative">
                        <div class="border border-grey-light lg:border-grey-light bg-white rounded p-4 leading-normal">
                            <div class="font-bold text-xl mb-2 border-l-4 rounded border-orange-primary pl-6 font-black text-grey-primary">Do I need to buy a course book?</div>
                            <p class="w-5/6 text-grey-darker text-base py-4 pb-12 md:pb-8 relative z-50">
                                You don't, we provide the Study Material at every lesson.                            
                            </p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container items-center mx-auto px-4 leading-normal">
            <div class="md:flex md:flex-warp">
                <div class="w-full md:w-1/2 lg:w-1/2 mb-12 px-4">
                    <div class="box-outer relative">
                        <div class="border border-grey-light lg:border-grey-light bg-white rounded p-4 leading-normal">
                            <div class="font-bold text-xl mb-2 border-l-4 rounded border-orange-primary pl-6 font-black text-grey-primary">What happens if I want to go on vacation or take a break?</div>
                            <p class="w-5/6 text-grey-darker text-base py-4 pb-12 md:pb-8 relative z-50">
                                You can always put your subscription on hold, thus cancelling all the lessons you have left, so you can book them for the dates you will be back.                            </p>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-1/2 lg:w-1/2 mb-12 px-4">
                    <div class="box-outer relative">
                        <div class="border border-grey-light lg:border-grey-light bg-white rounded p-4 leading-normal">
                            <div class="font-bold text-xl mb-2 border-l-4 rounded border-orange-primary pl-6 font-black text-grey-primary">what happens if I want to cancel my lesson?</div>
                            <p class="w-5/6 text-grey-darker text-base py-4 pb-12 md:pb-8 relative z-50">
                                We have a 24-hour notice cancellation policy, if you cancel within the 24-hour period, you will be charged for the lesson, if you cancel with over 24 hours notice, your lesson will be rescheduled or the credit will be added to your next bill.	
                           <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="md:flex md:flex-warp">
                <div class="w-full md:w-1/2 lg:w-1/2 mb-12 px-4">
                    <div class="box-outer relative">
                        <div class="border border-grey-light lg:border-grey-light bg-white rounded p-4 leading-normal">
                            <div class="font-bold text-xl mb-2 border-l-4 rounded border-orange-primary pl-6 font-black text-grey-primary">What happens if my teacher doesn't show up?</div>
                            <p class="w-5/6 text-grey-darker text-base py-4 pb-12 md:pb-8 relative z-50">
                                If something happens and your teacher doesn't show up or can't teach your lesson, you need to contact us and your lesson will be rescheduled or the credit will be added to your next bill.                            
                                </p>
                        </div>
                        <div class="box-image absolute pin-r padding-c-b7">
                            
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-1/2 lg:w-1/2 mb-12 px-4">
                    <div class="box-outer relative">
                        <div class="border border-grey-light lg:border-grey-light bg-white rounded p-4 leading-normal">
                            <div class="font-bold text-xl mb-2 border-l-4 rounded border-orange-primary pl-6 font-black text-grey-primary">What happens if I can't have my lesson?</div>
                            <p class="w-5/6 text-grey-darker text-base py-4 pb-12 md:pb-8 relative z-50">
                            As we need to guarantee our teachers that they are paid for their time, we refer to our 24-notice cancellation policy for all cases when the student cannot have the lesson.                             </p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container items-center mx-auto px-4 leading-normal">
            <div class="md:flex md:flex-warp">
                <div class="w-full md:w-1/2 lg:w-1/2 mb-12 px-4">
                    <div class="box-outer relative">
                        <div class="border border-grey-light lg:border-grey-light bg-white rounded p-4 leading-normal">
                            <div class="font-bold text-xl mb-2 border-l-4 rounded border-orange-primary pl-6 font-black text-grey-primary">What happens if there is a public holiday</div>
                            <p class="w-5/6 text-grey-darker text-base py-4 pb-12 md:pb-8 relative z-50">
                            Whenever a holiday interferes with your lessons, this will be shown on the calendar while booking, you will be able to see if the tutor is available, in that case, you decide whether you want to book a lesson on that date or not. <br><br>                            </p>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-1/2 lg:w-1/2 mb-12 px-4">
                    <div class="box-outer relative">
                        <div class="border border-grey-light lg:border-grey-light bg-white rounded p-4 leading-normal">
                            <div class="font-bold text-xl mb-2 border-l-4 rounded border-orange-primary pl-6 font-black text-grey-primary">How often are payments made? </div>
                            <p class="w-5/6 text-grey-darker text-base py-4 pb-12 md:pb-8 relative z-50">
                                You sign up for monthly subscriptions, every bill is charged 48 hours before the first lesson of the bill.                          <br><br><br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
          
      <!--ending-->          
    </div>
 </div>

