<div class="">
    <div class="flex flex-1 wave">
        <div class="container mx-auto mb-48 px-6">
            <div class="py-2 flex flex-wrap-reverse items-center ">
                <div class="w-full lg:w-2/5 text-center lg:text-left">
                    <div class="mb-12">
                        <h1 class="text-5xl font-medium text-space indigo-dark mb-2 tracking-tight text-indigo-dark">1-on-1 Spanish Lessons<br class="hidden md:block"></h1>
                        <p class="text-xl leading-loose font-normal text-spaceindigo-light">Sed ut perspiciatis unde omnis iste natus error sit <br>voluptatem accusantium doloremque laudantium
                        
                    </div>
                    <div><a href="#" class="no-underline px-12 inline-block rounded py-4 text-lg shadow-lg text-white font-semibold bg-indigo-light hover:bg-indigo-light mb-3">Get Started</a>
                        <p id= "place holder "class="font-light content-center text-spaceindigo-light text-sm"></p>
                    </div>
                </div>
                <div class="w-full mb-5 lg:my-8 lg:mb-0 lg:w-3/5 text-center"><img src="https://cdn.dribbble.com/users/1568450/screenshots/5715862/teamwork_white_2_dribbble-01-01.png" alt="Feedr hero illustration" class="px-6 sm:w-4/5 md:w-3/5 lg:pr-0 lg:pl-8 lg:w-full"></div>
            </div>
        </div>
    </div>
</div>
            <section id="howdoesitwork" class="howdoesitwork bg-indigo-lightest overflow-hidden">
                <div class="container mx-auto px-6 text-center my-16">
                    <div class="mb-16">
                        <h2 class="text-3xl mb-5 text-space indigo-dark uppercase font-bold">How does it work?</h2>
                        <p class="text-lg text-spaceindigo leading-loose font-normal">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p>
                    </div>
                    <div class="flex flex-wrap block my-24">
                        <div class="px-6 mb-8 w-full md:w-1/3"><img alt="Setup" src="/images/setup.svg" class="lazy mb-6">
                            <p class="text-lg font-bold text-spaceindigo mb-4">Sign Up</p>
                            <p class="text-md leading-loose font-normal text-spaceindigo-light">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui</p>
                        </div>
                        <div class="px-6 mb-8 w-full md:w-1/3"><img alt="Watch" src="/images/watch.svg" class="lazy mb-6">
                            <h2 class="text-lg font-bold text-spaceindigo mb-4"> We Reachout</h2>
                            <p class="text-md leading-loose font-normal text-spaceindigo-light">ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut</p>
                        </div>
                        <div class="px-6 mb-8 w-full md:w-1/3"><img alt="Increase" src="/images/increase.png" class="lazy mb-6">
                            <h2 class="text-lg font-bold text-spaceindigo mb-4">Have your first lesson</h2>
                            <p class="text-md leading-loose font-normal text-spaceindigo-light">adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem</p>
                        </div>
                    </div>
                </div>
            </section>
            <div id="themes" class="py-20">
                <div class="container mx-auto px-6 bg-white overflow-hidden">
                    <div class="mb-16 text-center">
                        <h2 class="text-3xl mb-2S text-spaceindigo-dark uppercase font-bold">Students Reviews</h2>
                        <p class="text-lg text-spaceindigo leading-loose font-normal">We love our students, and they love us too!</p>
                    </div>
                    <div class="px-4 mb-18">
		<div class="container mx-auto text-center overflow-hidden">
			<div class="flex flex-col sm:flex-row md:flex-row lg:flex-row mb-16 p-2">
				<div class="sm:w-1/3 md:w-1/3 lg:w-1/3 sm:mx-8 md:mx-8 lg:mx-8 mx-2 mb-8 shadow-lg bg-white p-4 rounded-lg">
					<img class="h-64" src="./img/discuss.svg" alt="Savol-javob">
					<div>
						<h3 class="text-2xl text-ink-blue mb-4">Trusted</h3>
						<p class="text-lg text-blue-darkest">                    <div class="flex-row my-6">
                        <svg aria-hidden="true" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="" class="w-12" style="color: rgb(255, 204, 51);">
                            <path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                        </svg>
                        <svg aria-hidden="true" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="" class="w-12" style="color: rgb(255, 204, 51);">
                            <path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                        </svg>
                        <svg aria-hidden="true" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="" class="w-12" style="color: rgb(255, 204, 51);">
                            <path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                        </svg>
                        <svg aria-hidden="true" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="" class="w-12" style="color: rgb(255, 204, 51);">
                            <path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                        </svg>
                        <svg aria-hidden="true" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="" class="w-12" style="color: rgb(255, 204, 51);">
                            <path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                        </svg>
                    </div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit quam expedita voluptate praesentium aspernatur molestias eius labore tenetur libero natus nam possimus odio vel inventore, fugiat, atque quas distinctio. Aperiam.</p>
					</div>
				</div>

				<div class="sm:w-1/3 md:w-1/3 lg:w-1/3 sm:mx-8 md:mx-8 lg:mx-8 mx-2 mb-8 shadow-lg bg-white p-4 rounded-lg">
					<img class="h-64" src="./img/docs.svg" alt="Hujjat tayyorlash">
					<div>
						<h3 class="text-2xl text-ink-blue mb-4">Trusted</h3>
						<p class="text-lg text-blue-darkest">                    <div class="flex-row my-6">
                        <svg aria-hidden="true" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="" class="w-12" style="color: rgb(255, 204, 51);">
                            <path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                        </svg>
                        <svg aria-hidden="true" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="" class="w-12" style="color: rgb(255, 204, 51);">
                            <path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                        </svg>
                        <svg aria-hidden="true" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="" class="w-12" style="color: rgb(255, 204, 51);">
                            <path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                        </svg>
                        <svg aria-hidden="true" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="" class="w-12" style="color: rgb(255, 204, 51);">
                            <path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                        </svg>
                        <svg aria-hidden="true" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="" class="w-12" style="color: rgb(255, 204, 51);">
                            <path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                        </svg>
                    </div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit quam expedita voluptate praesentium aspernatur molestias eius labore tenetur libero natus nam possimus odio vel inventore, fugiat, atque quas distinctio. Aperiam.</p>
					</div>
				</div>

				<div class="sm:w-1/3 md:w-1/3 lg:w-1/3 sm:mx-8 md:mx-8 lg:mx-8 mx-2 mb-8 shadow-lg bg-white p-4 rounded-lg">
					<img class="h-64" src="./img/destination.svg" alt="G'alaba!">
					<div>
						<h3 class="text-2xl text-ink-blue mb-4">Trusted</h3>
						<p class="text-lg text-indigo-darkest">                    <div class="flex-row my-6">
                        <svg aria-hidden="true" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="" class="w-12" style="color: rgb(255, 204, 51);">
                            <path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                        </svg>
                        <svg aria-hidden="true" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="" class="w-12" style="color: rgb(255, 204, 51);">
                            <path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                        </svg>
                        <svg aria-hidden="true" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="" class="w-12" style="color: rgb(255, 204, 51);">
                            <path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                        </svg>
                        <svg aria-hidden="true" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="" class="w-12" style="color: rgb(255, 204, 51);">
                            <path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                        </svg>
                        <svg aria-hidden="true" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="" class="w-12" style="color: rgb(255, 204, 51);">
                            <path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                        </svg>
                    </div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit quam expedita voluptate praesentium aspernatur molestias eius labore tenetur libero natus nam possimus odio vel inventore, fugiat, atque quas distinctio. Aperiam.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
                    <div class="text-center">
                        <a href="#" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-indigo-light hover:bg-indigo-light mb-4">Become a Student</a>
                        <div class="font-light text-spaceindigo-light text-sm">First Lesson is Free!</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
