<body class="font-base min-h-screen antialiased leading-normal font-light" data-gr-c-s-loaded="true" style="">
    <div id="app">
        <div class="min-h-screen">
            <div class="overflow-hidden">
                <header class="mb-8">
                    <div class="container mx-auto px-2 pt-0">
                        <div class="w-full">
                            <div class="flex flex-wrap justify-between">
                            </div>
                        </div>
                    </div>
                </header>
            </div>
            <div class="">
                <div class="flex flex-1 wave">
                    <div class="container mx-auto mb-48 px-6">
                        <div class="py-2 flex flex-wrap-reverse items-center lg:py-12">
                            <div class="w-full lg:w-3/5 text-center lg:text-left">
                                <div class="mb-12">
                                    <h1 class="text-5xl font-medium text-spaceindigo-dark mb-2 tracking-tight">Lorem ipsum dolor sit<br class="hidden md:block"></h1>
                                    <p class="text-xl leading-loose font-normal text-spaceindigo-light">Sed ut perspiciatis unde omnis iste natus error sit <br>voluptatem accusantium doloremque laudantium
                                    
                                </div>
                                <div><a href="#" class="no-underline px-12 inline-block rounded py-4 text-lg shadow-lg text-white font-semibold bg-indigo hover:bg-indigo-light mb-3">Get Started</a>
                                    <p class="font-light text-spaceindigo-light text-sm">qui in ea voluptate velit esse</p>
                                </div>
                            </div>
                            <div class="w-full mb-5 lg:my-8 lg:mb-0 lg:w-2/5 text-center"><img src="https://cdn.dribbble.com/users/1568450/screenshots/5715862/teamwork_white_2_dribbble-01-01_4x.png" alt="Feedr hero illustration" class="px-6 sm:w-4/5 md:w-3/5 lg:pr-0 lg:pl-8 lg:w-full"></div>
                        </div>
                    </div>
                </div>
            </div>
            <section id="howdoesitwork" class="howdoesitwork bg-indigo-lighter overflow-hidden">
                <div class="container mx-auto px-6 text-center my-16">
                    <div class="mb-16">
                        <h2 class="text-2xl mb-5 text-spaceindigo-dark uppercase font-bold">How does it work?</h2>
                        <p class="text-lg text-spaceindigo leading-loose font-normal">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p>
                    </div>
                    <div class="flex flex-wrap block my-24">
                        <div class="px-6 mb-8 w-full md:w-1/3"><img alt="Setup" src="/images/setup.svg" class="lazy mb-6">
                            <p class="text-lg font-bold text-spaceindigo mb-4">Setup</p>
                            <p class="text-md leading-loose font-normal text-spaceindigo-light">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui</p>
                        </div>
                        <div class="px-6 mb-8 w-full md:w-1/3"><img alt="Watch" src="/images/watch.svg" class="lazy mb-6">
                            <h2 class="text-lg font-bold text-spaceindigo mb-4">Watch</h2>
                            <p class="text-md leading-loose font-normal text-spaceindigo-light">ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut</p>
                        </div>
                        <div class="px-6 mb-8 w-full md:w-1/3"><img alt="Increase" src="/images/increase.png" class="lazy mb-6">
                            <h2 class="text-lg font-bold text-spaceindigo mb-4">Increase</h2>
                            <p class="text-md leading-loose font-normal text-spaceindigo-light">adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem</p>
                        </div>
                    </div>
                </div>
            </section>
            <div id="themes" class="py-20">
                <div class="container mx-auto px-6 bg-white overflow-hidden">
                    <div class="mb-16 text-center">
                        <h2 class="text-2xl mb-5 text-spaceindigo-dark uppercase font-bold">Themes</h2>
                        <p class="text-lg text-spaceindigo leading-loose font-normal">Apply beautiful themes to your product images.</p>
                    </div>
                    <div class="mb-24 flex flex-wrap">
                        <div class="w-1/2 md:w-1/4 lg:w-1/5 p-3"><img src="/images/themes/theme-1.jpg" data-themed="/images/themes/theme-1.jpg" data-original="/images/themes/no-theme-1.jpg" alt="Feedr theme"></div>
                        <div class="w-1/2 md:w-1/4 lg:w-1/5 p-3"><img src="/images/themes/theme-2.jpg" data-themed="/images/themes/theme-2.jpg" data-original="/images/themes/no-theme-2.jpg" alt="Feedr theme"></div>
                        <div class="w-1/2 md:w-1/4 lg:w-1/5 p-3"><img src="/images/themes/theme-3.jpg" data-themed="/images/themes/theme-3.jpg" data-original="/images/themes/no-theme-3.jpg" alt="Feedr theme"></div>
                        <div class="w-1/2 md:w-1/4 lg:w-1/5 p-3"><img src="/images/themes/theme-4.jpg" data-themed="/images/themes/theme-4.jpg" data-original="/images/themes/no-theme-4.jpg" alt="Feedr theme"></div>
                        <div class="hidden w-1/2 md:w-1/4 lg:w-1/5 lg:block p-3"><img src="/images/themes/theme-5.jpg" data-themed="/images/themes/theme-5.jpg" data-original="/images/themes/no-theme-5.jpg" alt="Feedr theme"></div>
                    </div>
                    <div class="text-center">
                        <a href="#" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-indigo hover:bg-indigo-light mb-4">Start 14 days free trial</a>
                        <div class="font-light text-spaceindigo-light text-sm">No credit card needed during trial.</div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>