
  <title><% title 'Vertical Spanish | Medellín Spanish School' %></title>
  
  <meta name="description" content="Learn Spanish in Medellin, Colombia with private 1-on-1 lessons. Vertical Spanish is designed to provide our students a frictionless experience while learning Spanish.">




<!--Hero Section-->
<section class="pb-10 pt-6">
    <div class="">
        <div class="flex flex-1 mb-20 wave">
            <div class="container mx-auto mb-48 px-6">
                <div class="py-10 flex flex-wrap-reverse items-center ">
                    <div class="container lg:w-3/5 text-center lg:text-left">
                        <div class="mb-12">
                            <h1 class="text-5xl font-medium text-space purple-dark mb-2 tracking-tight text-purple-dark">1-on-1 Spanish Lessons<br class="hidden md:block"></h1>
                                                    <h1 class="text-5xl font-medium text-space purple-dark mb-2 tracking-tight text-purple-dark"></h1>
                                                    <h1 class="text-4xl font-medium text-space purple-dark mb-2 tracking-tight text-grey-darkest">Medellín, Colombia<br class="hidden md:block"></h1>
                            <p class="text-xl leading-loose font-normal text-spacepurple-light">A Spanish School Designed for Personal Learning.
                            
                        </div>
                        <div><a href="https://verticalspanish.typeform.com/to/zJtLWp" class="no-underline px-12 inline-block rounded py-4 text-lg shadow-lg text-white font-semibold bg-purple-light hover:bg-purple-light mb-3">Get Started</a>
                            <p id= "place holder "class="font-light content-center text-spacepurple-light text-sm"></p>
                        </div>
                    </div>
                    <div class="container mb-5 lg:my-4 lg:w-2/5 text-center"><img class="mr-8"src="/assets/illustrations/teamwork_white_11.png" width="500" height="auto" alt="Vertical Spanish private lessons" class="px-6 sm:w-4/5 md:w-2/5 lg:pr-0 lg:pl-8"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Hero Section-->
<!--How We Work-->
<section class="bg-grey-lighter py-10 border-t-4 border-b-4" style="transform : skewY(-4deg)">
    <div class="flex mb-2 text-center pt-6" style="transform : skewY(4deg);">

      <div class="mx-auto ">
        <h1 class="text-4xl font-medium text-space purple-darker items-center mb-1 tracking-tight">How We Work<br class="hidden md:block"></h1>
        <p class="text-lg text-spacepurple leading-loose font-normal">A simple process, for a smooth experience.</p>
        <img class="py-2" width="500" height="auto" src="/assets/brand/ven-diagram.png" alt="Learn Spanish in Colombia">
        
        
        <div class="container bg-grey-lighter overflow-hidden border-t-2 border-grey-light text-grey-darker py-2"></div>
         <!--123-->
    			<div class="container text-purple max-w-xl mx-auto pb-10 flex flex-wrap">
				
				<div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/3 p-3 mb-4">
					<a href="#">
						<img src="/assets/icons/how-we-work/test.png" class="h-auto" alt="Vertical Spanish - How we work">
					</a>

					<h2 class="text-xl py-4">
						<a href="#" class="text-grey-darkest no-underline">1. Welcome Aboard</a>
					</h2>

					<p class="text-sm  leading-normal">We want to make sure we serve you in the best way possible. We do this by walking you through how to schedule a lesson, use our 24/7 chat support, and a placement test that will tell us exactly where you should begin. </p>
				</div>
				
				<div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/3 p-3 mb-4">
					<a href="#">
						<img src="/assets/icons/how-we-work/hired.png" class="h-auto" alt="Vertical Spanish - Choose a teacher">
					</a>

					<h2 class="text-xl py-4">
						<a href="#" class="text-grey-darkest no-underline">2. Choose Teacher</a>
					</h2>

					<p class="text-sm leading-normal">You have the opportunity to schedule a lesson with any of our teachers. Feel free to schedule lessons with multiple teachers to find the best fit for you.   </p>
				</div>
				
				<div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/3 p-3 mb-4">
					<a href="#">
						<img src="/assets/icons/how-we-work/calendar.png" class="h-auto" alt="Vertical Spanish - Schedule Anytime">
					</a>

					<h2 class="text-xl py-4">
						<a href="#" class="text-grey-darkest no-underline">3. Schedule Anytime</a>
					</h2>

					<p class="text-sm leading-normal">Experience a smooth scheduling process. Login, and you will be able to see all of teachers' availablity. Find a time that works for you, and in a couple clicks your lesson is booked.</p>
				</div>
			</div>
			
			 <!--CTA-->
 <div class="text-center">
    <a href="https://verticalspanish.typeform.com/to/zJtLWp" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4">Become a Student</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--CTA-->
			 <!--123-->
      </div>
    </div>
</section>
    
   


<div class="py-12"></div>
