<head>
  <title>Premire Spanish School in Medellín | Vertical Spanish  </title>
  <meta name="description" content="Learn Spanish in Medellin, Colombia with private 1-on-1 lessons.">
</head>



<!--Hero Section-->
<section class="pb-10 pt-6">
    <div class="">
        <div class="flex flex-1 mb-20 wave">
            <div class="container mx-auto mb-48 px-6">
                <div class="py-10 flex flex-wrap-reverse items-center ">
                    <div class="container lg:w-3/5 text-center lg:text-left">
                        <div class="mb-12">
                            <h1 class="text-5xl font-medium text-space purple-dark mb-2 tracking-tight text-purple-dark">1-on-1 Spanish Lessons<br class="hidden md:block"></h1>
                                                    <h1 class="text-5xl font-medium text-space purple-dark mb-2 tracking-tight text-purple-dark"></h1>
                                                    <h1 class="text-4xl font-medium text-space purple-dark mb-2 tracking-tight text-grey-darkest">Medellín, Colombia<br class="hidden md:block"></h1>
                            <p class="text-xl leading-loose font-normal text-spacepurple-light">A Spanish School Designed for Personal Learning
                            
                        </div>
                        <div><a href="https://verticalspanish.typeform.com/to/xB381L" class="no-underline px-12 inline-block rounded py-4 text-lg shadow-lg text-white font-semibold bg-purple-light hover:bg-purple-light mb-3">Get Started</a>
                            <p id= "place holder "class="font-light content-center text-spacepurple-light text-sm"></p>
                        </div>
                    </div>
                    <div class="container mb-5 lg:my-4 lg:w-2/5 text-center"><img class="mr-8"src="/assets/illustrations/teamwork_white_11.png" width="500" height="auto" alt="Vertical Spanish private lessonss " class="px-6 sm:w-4/5 md:w-2/5 lg:pr-0 lg:pl-8"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Hero Section-->
<!--How We Work-->
<section class="bg-grey-lighter py-10 border-t-4 border-b-4" style="transform : skewY(-4deg)">
    <div class="flex mb-2 text-center pt-6" style="transform : skewY(4deg);">

      <div class="mx-auto ">
        <h1 class="text-4xl font-medium text-space purple-darker items-center mb-1 tracking-tight">How We Work<br class="hidden md:block"></h1>
        <p class="text-lg text-spacepurple leading-loose font-normal">A simple process, for a smooth experience.</p>
        <img class="py-2" width="500" height="auto" src="/assets/brand/ven-diagram.png" alt="Learn Spanish in Colombia">
        
        
        <div class="container bg-grey-lighter overflow-hidden border-t-2 border-grey-light text-grey-darker py-2"></div>
         <!--123-->
    			<div class="container text-purple max-w-xl mx-auto pb-10 flex flex-wrap">
				
				<div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/3 p-3 mb-4">
					<a href="#">
						<img src="/assets/icons/how-we-work/test.png" class="h-auto" alt="Vertical Spanish - How we work">
					</a>

					<h2 class="text-xl py-4">
						<a href="#" class="text-grey-darkest no-underline">1. Welcome Aboard</a>
					</h2>

					<p class="text-sm  leading-normal">We want to make sure we serve you in the best way possible. We do this by walking you through how to schedule a lesson, use our 24/7 chat support, and a placement test that will tell us exactly where you should begin. </p>
				</div>
				
				<div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/3 p-3 mb-4">
					<a href="#">
						<img src="/assets/icons/how-we-work/hired.png" class="h-auto" alt="Vertical Spanish - Choose a teacher">
					</a>

					<h2 class="text-xl py-4">
						<a href="#" class="text-grey-darkest no-underline">2. Choose Teacher</a>
					</h2>

					<p class="text-sm leading-normal">You have the opportunity to schedule a lesson with any of our teachers. Feel free to schedule lessons with multiple teachers to find the best fit for you.   </p>
				</div>
				
				<div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/3 p-3 mb-4">
					<a href="#">
						<img src="/assets/icons/how-we-work/calendar.png" class="h-auto" alt="Vertical Spanish - Schedule Anytime">
					</a>

					<h2 class="text-xl py-4">
						<a href="#" class="text-grey-darkest no-underline">3. Schedule Anytime</a>
					</h2>

					<p class="text-sm leading-normal">Experience a smooth scheduling process. Login, and you will be able to see all of teachers' availablity. Find a time that works for you, and in a couple clicks your lesson is booked.</p>
				</div>
			</div>
			
			 <!--CTA-->
 <div class="text-center">
    <a href="https://verticalspanish.typeform.com/to/xB381L" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4">Become a Student</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--CTA-->
			 <!--123-->
      </div>
    </div>
</section>
    
   
<!--Student Reviews
  <div class="py-20">
    <div class="container mx-auto px-6 bg-white overflow-hidden">
      <div class="mb-16 text-center">
          <h2 class="text-3xl mb-2S text-spacepurple-dark uppercase font-bold">Students Reviews</h2>
          <p class="text-lg text-spacepurple leading-loose font-normal">We love our students, and they love us too!</p>
    </div>
    -->
                    
                    
<div class="sm:flex-wrap md:flex">
  <div class="w-full sm:w-1/2 md:w-1/3 my-4">
    <!--Start of Card				
    <div class="max-w-sm rounded overflow-hidden shadow-lg mx-2">
      <img class="w-full" src="https://previews.dropbox.com/p/thumb/AASBubzeJKXLhY1c-czRa61LcFw864hCKau07l4Yyirkjk3LFfHlbBkqmzsp67Uit8RUQr-7fJJ7taFprO2bB6lJrCP4kYvD1v1-aY929YmeecMJGsKDh9olMewpDR6PVa-euApefoUSJbgrxL_57bdGMGCIZVwyDE4Lj9W1OWAjQ6gYKnytveKDulbcUJCJEb1uS4iKwO_-GfOuctzi1CUQlUFkoPYgUzZgPDjEEaNO0zXHbIgVufQz76Pk2W47gqw/p.jpeg?size=2048x1536&size_mode=3" alt="Sunset in the mountains">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">An Amazing Experience</div>
        <p class="text-grey-darker text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
        </p>
      </div>
      <div class="px-6 py-4">
        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2">#Fast</span>
        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2">#Professional</span>
        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker">#Fun</span>
      </div>
    </div>
    -->	
    <!--End of Card-->
    
  </div>
  <div class="w-full sm:w-1/2 md:w-1/3 my-4">
    <!--Start of Card					
    <div class="max-w-sm rounded overflow-hidden shadow-lg mx-2">
      <img class="w-full" src="https://previews.dropbox.com/p/thumb/AATCW5O6Ds2Xz4c_lljsAxwmiIsNVuEfIt79iYppaCzNcZSAWXhdCOovcaaXro1fbvDuT3i2BNI_zljvXn77ecp5rv6s9dHPWGOn5Qi5OfD97lWZHRUtZHL5Cd54BFyjEyfWeoNnRs615yT5alQFbM_q3JRagL9NOq-42aQrJUmK8HJ6jPud5_rl7zNLopHn0C-PkzYYXe9a-w9aNEkTfgUS1fTJfA7AfdMTe4UvLtPnBNKTQeb77QEJg8cpTGoHs0U/p.jpeg?size=2048x1536&size_mode=3" alt="Sunset in the mountains">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Super Fun Way to Learn</div>
        <p class="text-grey-darker text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
        </p>
      </div>
      <div class="px-6 py-4">
        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2">#Affordable</span>
        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2">#Exciting</span>
        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker">#Easy</span>
      </div>
    </div>
    -->
  </div>
  <!--Start of Card
  <div class="w-full sm:w-1/2 md:w-1/3 my-4">
  				
    <div class="max-w-sm rounded overflow-hidden shadow-lg mx-2">
      <img class="w-full" src="https://previews.dropbox.com/p/thumb/AAQkJyOPB78WiY_bK4s954meNPiypjdX3xVFfeT9goiU8U_Du4H_0wTbip7Rg8nMyzEdwfuZlBBzthZJGwYXvASkAuESx0MVP0F__mwZ-IePEfjwiVa1LOTSZxvK8ul4ohO-ZTgerUpdiFX7_yKjBT6Wiviaz3Er74QsYR1Xt44-MxzSG3asNbNEYHGLvJvuFgX5TmPu4VITXCu3cnlwP8AZM9M-R_az3ncGJfIFoJWUNt9FYM4kWR7sj48x0z8_ICk/p.jpeg?size=2048x1536&size_mode=3" alt="Sunset in the mountains">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Great Value</div>
        <p class="text-grey-darker text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
        </p>
      </div>
      <div class="px-6 py-4">
        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2">#Value</span>
        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2">#Impressive</span>
        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker">#Fun</span>
      </div>
    </div>
     -->
    <!--End of Card-->
  </div>
</div>

<div class="py-12"></div>
