

<body class="font-base min-h-screen antialiased leading-normal font-light" data-gr-c-s-loaded="true" style="">
    <div id="app">
        <div class="min-h-screen">
            <div class="bg-blue-lightest overflow-hidden">
                <header class="mb-8">
                    <div class="container mx-auto px-6 pt-8">
                        <div class="w-full">
                            <div class="flex flex-wrap justify-between">
                                <a href="#" class="flex mr-12"><img src="/images/logos/logo-fav-blue.svg" class="w-24"></a>
                                <button class="lg:hidden text-spaceblue-dark flex cursor-pointer">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="fill-current w-8 h-8">
                                        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
                                    </svg>
                                </button>
                                <nav class="hidden lg:flex flex-1 items-center justify-between">
                                    <div class="flex flex-1"><a href="#" class="no-underline mx-4 text-base text-spaceblue font-medium hover:text-spaceblue-dark">Home</a> <a href="https://feedr.dk/pricing" class="no-underline mx-4 text-base text-spaceblue font-medium hover:text-spaceblue-dark">Pricing</a> <a href="https://feedr.dk/contact" class="no-underline mx-4 text-base text-spaceblue font-medium hover:text-spaceblue-dark">Contact</a> <a href="https://feedr.dk/help" class="no-underline mx-4 text-base text-spaceblue font-medium hover:text-spaceblue-dark">Help</a> <a href="https://feedr.dk/blog" class="no-underline mx-4 text-base text-spaceblue font-medium hover:text-spaceblue-dark">Blog</a></div>
                                    <div class="flex items-center"><a href="#" class="no-underline mx-4 text-base text-spaceblue font-medium hover:text-spaceblue-dark">Log in</a> <a href="https://app.feedr.dk/join" class="no-underline px-6 py-3 ml-4 rounded text-base text-white font-semibold bg-blue hover:bg-blue-light">Get started</a>
                                        <div class="flex ml-3">
                                            <a rel="alternate" hreflang="da" href="https://feedr.dk/da" title="Dansk"><img src="/images/flags/da.svg" alt="Dansk" class="w-5 ml-2"></a>
                                            <a rel="alternate" hreflang="en" href="https://feedr.dk/en" title="English"><img src="/images/flags/en.svg" alt="English" class="w-5 ml-2"></a>
                                        </div>
                                    </div>
                                </nav>
                                <nav class="w-full py-4 lg:hidden" style="display: none;"><a href="#" class="block no-underline px-4 py-4 text-base text-spaceblue font-medium hover:underline">Home</a> <a href="https://feedr.dk/pricing" class="block no-underline px-4 py-4 text-base text-spaceblue font-medium hover:underline">Pricing</a> <a href="https://feedr.dk/contact" class="block no-underline px-4 py-4 text-base text-spaceblue font-medium hover:underline">Contact</a> <a href="https://feedr.dk/help" class="block no-underline px-4 py-4 text-base text-spaceblue font-medium hover:underline">Help</a> <a href="https://feedr.dk/blog" class="block no-underline px-4 py-4 text-base text-spaceblue font-medium hover:underline">Blog</a> <a href="https://app.feedr.dk/login" class="block no-underline px-4 py-4 text-base text-spaceblue font-medium hover:underline">Log in</a> <a href="https://app.feedr.dk/join" class="block no-underline px-4 py-4 text-base text-spaceblue font-medium hover:underline">Get started</a>
                                    <div class="flex justify-center mt-3">
                                        <a rel="alternate" hreflang="da" href="https://feedr.dk/da"><img src="/images/flags/da.svg" alt="Dansk" class="w-10 mx-4"></a>
                                        <a rel="alternate" hreflang="en" href="https://feedr.dk/en"><img src="/images/flags/en.svg" alt="English" class="w-10 mx-4"></a>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </header>
            </div>
            <div class="bg-blue-lightest">
                <div class="flex flex-1 wave">
                    <div class="container mx-auto mb-48 px-6">
                        <div class="py-2 flex flex-wrap-reverse items-center lg:py-24">
                            <div class="w-full lg:w-3/5 text-center lg:text-left">
                                <div class="mb-12">
                                    <h1 class="text-5xl font-medium text-spaceblue-dark mb-2 tracking-tight">Advanced product feeds<br class="hidden md:block"> made easy</h1>
                                    <p class="text-xl leading-loose font-normal text-spaceblue-light">Increase online sales by selling your products and goods
                                        <br class="hidden md:block"> on all major sales channels.</p>
                                </div>
                                <div><a href="#" class="no-underline px-12 inline-block rounded py-4 text-lg text-white font-semibold bg-blue hover:bg-blue-light mb-3">Start 14 days free trial</a>
                                    <p class="font-light text-spaceblue-light text-sm">No credit card needed during trial.</p>
                                </div>
                            </div>
                            <div class="w-full mb-5 lg:my-8 lg:mb-0 lg:w-2/5 text-center"><img src="https://cdn.dribbble.com/users/1568450/screenshots/5715862/teamwork_white_2_dribbble-01-01_4x.png" alt="Feedr hero illustration" class="px-6 sm:w-4/5 md:w-3/5 lg:pr-0 lg:pl-8 lg:w-full"></div>
                        </div>
                    </div>
                </div>
            </div>
            <section id="howdoesitwork" class="howdoesitwork bg-blue-lighter overflow-hidden">
                <div class="container mx-auto px-6 text-center my-16">
                    <div class="mb-16">
                        <h2 class="text-2xl mb-5 text-spaceblue-dark uppercase font-bold">How does it work?</h2>
                        <p class="text-lg text-spaceblue leading-loose font-normal">Once setup, we take care of synchronizing your products forever. It’s that simple.</p>
                    </div>
                    <div class="flex flex-wrap block my-24">
                        <div class="px-6 mb-8 w-full md:w-1/3"><img alt="Setup" src="/images/setup.svg" class="lazy mb-6">
                            <p class="text-lg font-bold text-spaceblue mb-4">Setup</p>
                            <p class="text-md leading-loose font-normal text-spaceblue-light">Import your products from your webshop and connect to your preferred sales channels.</p>
                        </div>
                        <div class="px-6 mb-8 w-full md:w-1/3"><img alt="Watch" src="/images/watch.svg" class="lazy mb-6">
                            <h2 class="text-lg font-bold text-spaceblue mb-4">Watch</h2>
                            <p class="text-md leading-loose font-normal text-spaceblue-light">We’ll make sure your products are always up to date and synchronized to your channels.</p>
                        </div>
                        <div class="px-6 mb-8 w-full md:w-1/3"><img alt="Increase" src="/images/increase.png" class="lazy mb-6">
                            <h2 class="text-lg font-bold text-spaceblue mb-4">Increase</h2>
                            <p class="text-md leading-loose font-normal text-spaceblue-light">Receive traffic and sales from all of your connected sales channels with no maintenance.</p>
                        </div>
                    </div>
                    <div class="text-center"><a href="#" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold bg-blue hover:bg-blue-light mb-4">
		 Start 14 days free trial 	</a>
                        <div class="font-light text-spaceblue-light text-sm">No credit card needed during trial.</div>
                    </div>
                </div>
            </section>
            <div id="themes" class="py-20">
                <div class="container mx-auto px-6 bg-white overflow-hidden">
                    <div class="mb-16 text-center">
                        <h2 class="text-2xl mb-5 text-spaceblue-dark uppercase font-bold">Themes</h2>
                        <p class="text-lg text-spaceblue leading-loose font-normal">Apply beautiful themes to your product images.</p>
                    </div>
                    <div class="text-center mb-8 text-spaceblue-light">
                        <p class="italic text-sm">Hover to see the image without theme applied.</p>
                    </div>
                    <div class="mb-24 flex flex-wrap">
                        <div class="w-1/2 md:w-1/4 lg:w-1/5 p-3"><img src="/images/themes/theme-1.jpg" data-themed="/images/themes/theme-1.jpg" data-original="/images/themes/no-theme-1.jpg" alt="Feedr theme"></div>
                        <div class="w-1/2 md:w-1/4 lg:w-1/5 p-3"><img src="/images/themes/theme-2.jpg" data-themed="/images/themes/theme-2.jpg" data-original="/images/themes/no-theme-2.jpg" alt="Feedr theme"></div>
                        <div class="w-1/2 md:w-1/4 lg:w-1/5 p-3"><img src="/images/themes/theme-3.jpg" data-themed="/images/themes/theme-3.jpg" data-original="/images/themes/no-theme-3.jpg" alt="Feedr theme"></div>
                        <div class="w-1/2 md:w-1/4 lg:w-1/5 p-3"><img src="/images/themes/theme-4.jpg" data-themed="/images/themes/theme-4.jpg" data-original="/images/themes/no-theme-4.jpg" alt="Feedr theme"></div>
                        <div class="hidden w-1/2 md:w-1/4 lg:w-1/5 lg:block p-3"><img src="/images/themes/theme-5.jpg" data-themed="/images/themes/theme-5.jpg" data-original="/images/themes/no-theme-5.jpg" alt="Feedr theme"></div>
                    </div>
                    <div class="text-center"><a href="https://app.feedr.dk/join" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold bg-blue hover:bg-blue-light mb-4">
		 Start 14 days free trial 	</a>
                        <div class="font-light text-spaceblue-light text-sm">No credit card needed during trial.</div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>