<!--Title Section-->
<section class="mx-auto px-6 mt-12 ">
        <div class="">
          <div class=" text-center">
            <h2 class="text-2xl mb-2 text-3xl purple-dark uppercase font-bold">Open Positions.</h2>
                <div class="flex items-end">
          </div>
        </div>
</section>      
      
      
      
       <div class="container items-center mx-auto px-4 leading-normal">
            <div class="mx-auto md:flex md:flex-warp pt-24">
                <div class="w-full md:w-1/2 lg:w-1/2 mb-12 px-4">
                    <div class="mx-auto box-outer relative">
                        <div class="border border-grey-light lg:border-grey-light bg-white rounded p-4 leading-normal">
                            <span class="absolute rounded-tr pin-t pin-r p-2 bg-purple-light text-white text-xs uppercase font-bold">Medellín</span>
                            <div class="font-bold text-xl mb-2 border-l-4 rounded border-orange-primary pl-6 font-black text-grey-primary">Standard Spanish Teacher</div>
                            <p class="w-5/6 text-grey-darker text-base py-4 pb-12 md:pb-8 relative z-50">
                            </p>
                        </div>

                    </div>
                </div>
                <div class="w-full md:w-1/2 lg:w-1/2 mb-12 px-4">
                    <div class="box-outer relative">
                        <div class="border border-grey-light lg:border-grey-light bg-white rounded p-4 leading-normal">
                            <span class="absolute rounded-tr pin-t pin-r p-2 bg-purple-light text-white text-xs uppercase font-bold">Medellín</span>
                            <div class="font-bold text-xl mb-2 border-l-4 rounded border-orange-primary pl-6 font-black text-grey-primary  h-12">Premium Spanish Teacher</div>
                            <p class="w-5/6 text-grey-darker text-base py-4 pb-12 md:pb-8 relative z-50">
                                We offer courses for true beginners, all the way up to very advanced conversational courses. You can take a look at our levels here.	
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="md:flex md:flex-warp">
                <div class="w-full md:w-1/2 lg:w-1/2 mb-12 px-4">
                    <div class="box-outer relative">
                        <div class="border border-grey-light lg:border-grey-light bg-white rounded p-4 leading-normal">
                            <span class="absolute rounded-tr pin-t pin-r p-2 bg-purple-light text-white text-xs uppercase font-bold">Bogotá</span>
                            <div class="font-bold text-xl mb-2 border-l-4 rounded border-orange-primary pl-6 font-black text-grey-primary">Standard Spanish Teacher</div>
                            <p class="w-5/6 text-grey-darker text-base py-4 pb-12 md:pb-8 relative z-50">
                                Yes, all of our tutors go through an English Proficiency test to determine if their English Level is more than enough to teach their lessons, offer clear explanations.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-1/2 lg:w-1/2 mb-12 px-4">
                    <div class="box-outer relative">
                        <div class="border border-grey-light lg:border-grey-light bg-white rounded p-4 leading-normal">
                            <span class="absolute rounded-tr pin-t pin-r p-2 bg-purple-light text-white text-xs uppercase font-bold">Bogotá</span>
                            <div class="font-bold text-xl mb-2 border-l-4 rounded border-orange-primary pl-6 font-black text-grey-primary">Premium Spanish Teacher</div>
                            <p class="w-5/6 text-grey-darker text-base py-4 pb-12 md:pb-8 relative z-50">
                                Yes, they are. We want to offer an authentic experience during your lesson, this can only be achieved with Experienced Native Tutors                             </p>
                        </div>
                        </div>
                    </div>
                
                </div>
            </div>
            <div class="container items-center mx-auto px-4 leading-normal">
            <div class="md:flex md:flex-warp">
                <div class="w-full md:w-1/2 lg:w-1/2 mb-12 px-4">
                    <div class="box-outer relative">
                        <div class="border border-grey-light lg:border-grey-light bg-white rounded p-4 leading-normal">
                            <span class="absolute rounded-tr pin-t pin-r p-2 bg-purple-light text-white text-xs uppercase font-bold">Cartagena</span>
                            <div class="font-bold text-xl mb-2 border-l-4 rounded border-orange-primary pl-6 font-black text-grey-primary">Standard Spanish Teacher</div>
                            <p class="w-5/6 text-grey-darker text-base py-4 pb-12 md:pb-8 relative z-50">
                                You can book at least 4 lessons (Trial Plan) and as many as you want, if you want more lessons than our intensive plans you can contact us                            </p>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-1/2 lg:w-1/2 mb-12 px-4">
                    <div class="box-outer relative">
                        <div class="border border-grey-light lg:border-grey-light bg-white rounded p-4 leading-normal">
                            <span class="absolute rounded-tr pin-t pin-r p-2 bg-purple-light text-white text-xs uppercase font-bold">Cartagena</span>
                            <div class="font-bold text-xl mb-2 border-l-4 rounded border-orange-primary pl-6 font-black text-grey-primary">Premium Spanish Teacher </div>
                            <p class="w-5/6 text-grey-darker text-base py-4 pb-12 md:pb-8 relative z-50">
                                You and the teacher. Our lessons are 1 on 1 in order to offer effective lessons with a personalized approach.                            <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
                </div>
           </div>
          </div> 
          
          <!--Title Section-->
<section class="mx-auto px-6 mt-12 ">
        <div class="">
          <div class=" text-center">
            <h2 class="text-2xl mb-2 text-3xl purple-dark uppercase font-bold">Teacher Expectations.</h2>
                <div class="flex items-end">
          </div>
        </div>
</section>      