<section class="font-sans">
    <div class="container mx-auto px-6 my-20">
        <div class="mb-16 text-center">
            <h2 class="text-2xl mb-2 text-3xl purple-dark uppercase font-bold">Join Us</h2>
            <p class="text-lg text-space text-grey-dark leading-loose font-thin">We are happy to be apart of your Spanish Journey</p>
        </div>
    </div>
</section>

