<!--Title Section-->
<section class="mx-auto px-6 mt-12 border-b-4 border-grey-light">
        <div class="">
          <div class=" text-center">
            <h2 class="text-2xl mb-2 text-3xl purple-dark uppercase font-bold">Spanish Teachers.</h2>
              <p class="text-lg text-space text-grey-dark leading-loose font-thin">Explore Spanish together.</p>
                <div class="flex items-end">
                  <div class="flex-1 text-center px-4 py-2 m-2"></div>
                  <div class="flex-1 text-center px-4 py-2 m-2"><img src="https://previews.dropbox.com/p/thumb/AAThAHtp-mVAQadB9WbJvJTjUokdxyHoiZDBKanOmmtxHdvavFJMIdcKXTFXjzZvMpdUvkzgoN6h51Sxt2vjgZFIAaH-8RZeYsn2Bm0_RgG1JKgJqsg12M84VZ2TnpmLLBl2pcQTPdX6k3GeQ5rarkBxX_BUfisxQrmLZ-VYFA2_42zmEfAIZGJu_4FniqDPcZb38bUMUUNFfQFdoWLMgZFo-GSJnhdv3qIwU1x0YgDJYQ/p.png?size=2048x1536&size_mode=3" alt="Feedr hero illustration" class="image-center px-6 sm:w-4/5 md:w-5/5 lg:pr-0 lg:pl-8 lg:w-5//5"></div>
                  <div class="flex-1 text-center px-4 py-2 m-2"></div>
                </div>
          </div>
        </div>
</section>



<!--Teacher Expectations-->
 <div class="bg-grey-lighter lg:flex-row justify-center lg:py-6 pb-16">
   <div class="text-center mx-16 pt-10">
      <h3 class="text-indigo-darker font-bold text-3xl tracking-tight mx-16">Teacher Expectations *section*</h3>
      <p class="leading-tight py-4 tracking-wide">reading is considered a foundation technique in Spanish as every syllable has just one pronun- ciation; thus being our first step as this will help you know the pronunciation, gender & number of words.</p> 
    </div>
</div>


<div class="bg-grey-lighter sm:flex-wrap md:flex">
    <!--Start of Card-->					

<div class="bg-grey-lightest mx-auto my-4">
<div class="max-w-md w-full shadow-lg lg:flex mx-auto mb-2">
  <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden shadow-lg" style="background-image: url('/assets/headshots/jorge-carrasco')" title="Woman holding a mug">
  </div>
  <div class="border-r border-b border-l border-grey-light lg:border-l-0 lg:border-t lg:border-grey-light bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
    <div class="mb-8">
            <div class="text-black font-bold text-xl">Jorge Carrasco</div>
      <p class="text-md text-grey-darker flex items-center mb-4">
        Senior Spanish Teacher
      </p>
      <p class="text-grey-dark text-base">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.</p>
    </div>
    <div class="flex items-center">
       <div class="px-6 py-4">
        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2">#Adults</span>
        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2">#Poblado</span>
      </div>
    </div>
  </div>
</div>

<div class="max-w-md bg-grey-lightest w-full shadow-lg lg:flex mx-auto my-4">
  <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden shadow-lg" style="background-image: url('/assets/headshots/mya-alverez')" title="Woman holding a mug">
  </div>
  <div class="border-r border-b border-l border-grey-light lg:border-l-0 lg:border-t lg:border-grey-light bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
    <div class="mb-8">
      <div class="text-black font-bold text-xl">Mya Alverez</div>
      <p class="text-md text-grey-darker flex items-center mb-4">
        Spanish Teacher
      </p>
      <p class="text-grey-dark text-base">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.</p>
    </div>
    <div class="flex items-center">
 <div class="px-6 py-4">
        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2">#Adults</span>
        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2">#Kids</span>
        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2">#Poblado</span>
        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2">#Laureles</span>
      </div>
    </div>
  </div>
</div>

<div class="max-w-md bg-grey-lightest w-full shadow-lg lg:flex mx-auto">
  <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden shadow-lg" style="background-image: url('/assets/headshots/maria-jose-montiel')" title="Woman holding a mug">
  </div>
  <div class="border-r border-b border-l border-grey-light lg:border-l-0 lg:border-t lg:border-grey-light bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
    <div class="mb-8">
      <div class="text-black font-bold text-xl">María José Montiel</div>
      <p class="text-md text-grey-darker flex items-center mb-4">
        Spanish Teacher
      </p>
      <p class="text-grey-dark text-base">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.</p>
    </div>
    <div class="flex items-center">
   <div class="px-6 py-4">
        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2">#Adults</span>
        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2">#Kids</span>
        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2">#Poblado</span>
        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2">#Laureles</span>
      </div>
    </div>
  </div>
</div>
</div>
</div>

