<!--Title Section-->
<section>
    <div class="container mx-auto px-6 my-20">
        <div class="mb-16 text-center">
            <h2 class="text-2xl mb-2 text-3xl purple-dark uppercase font-bold">The Vertical Method</h2>
            <p class="text-lg text-space text-grey-dark leading-loose font-thin">Take your Spanish to the next level.</p>
        </div>
    </div>
</section>
<!--Title Section-->

<!--4 Part Section-->
            <div class="flex flex-wrap-reverse lg:flex-row justify-center lg:my-4 pb-16">
                <div class="w-full lg:w-1/3 text-left mx-8 pt-10">
                    <h3 class="text-indigo-darker font-bold text-3xl tracking-tight">1. First Step</h3>
                    <p class="leading-tight py-10 tracking-wide">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p> </div>
                <div class="w-full md:w-2/3 lg:w-1/4 text-center mx-4 lg:mx-10 pt-4"><img alt="sign up" src="https://previews.dropbox.com/p/thumb/AASnMy4SHFQhgjjyuXC2DYOfs6ViAbuiMAauCVe-zW1-AOjZOiOCHKYJ4IFf-_0KV8_BPVwdIxFRl36EvZuPs_P-BNIq5QvtCSDuzgf0uI_MBIyIndee_hxQgn2pOj9zBGIuKmGWZWor_jAw49EvfY7En7xMEyTJFm9ZdlTdxrl7JenBHUpTPsgT899BaVhTRpMfatvEA3e24NogGktH6iXIGw5ZU8HiBLTck8y10YkC6Q/p.png?size=2048x1536&size_mode=3"></div>
            </div>
            <div class="flex flex-wrap lg:flex-row justify-center bg-grey-lighter lg:my-4 py-6 lg:py-10">
                <div class="w-full md:w-2/3 lg:w-1/3 text-center mx-4 lg:mx-10 pt-4"><img alt="activate" src="https://previews.dropbox.com/p/thumb/AAQtSZ9yb_Y-Rni4qEoPGFIlH0-3laeF1LG1rNn5Ohz_w1zBiYD5S5N257NtLhssUYUs6Ae4dEw86WLUWEGfFkoJVqU8XraPO2fz9ilB_P53PM734UMpjPXfEs7dA6dUJtZ-Fwzb1lsoWlzXjvM1tJeykiRGANEhpTRq5uCgLZR3z_nu1e-6jaGq6FIxHuhFvQloFvz3tH5aBOx0Qj7PfbdHBTyQU0atGbQidSwsMFLnlA/p.png?size=2048x1536&size_mode=3"></div>
                <div class="w-full lg:w-1/4 text-left mx-8 pt-10">
                    <h3 class="text-indigo-darker font-bold text-3xl tracking-tight">2. Second Step</h3>
                    <p class="leading-tight py-10 tracking-wide">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.
                        <br>                        <br>
                        <br>$0 standard activation fee. We'll email you once you're active so you can set up your modem.</p>
                </div>
            </div>
            <div class="flex flex-wrap-reverse lg:flex-row justify-center lg:my-4 py-6">
                <div class="w-full lg:w-1/3 text-left mx-8 pt-10">
                    <h3 class="text-indigo-darker font-bold text-3xl tracking-tight">3. Third Step</h3>
                    <p class="leading-tight py-10 tracking-wide">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
                </div>
                <div class="w-full md:w-2/3 lg:w-1/4 text-center mx-4 lg:mx-10 pt-4 pb-6"><img alt="cancel" src="https://previews.dropbox.com/p/thumb/AATmbEnbs4TyNT48clAevNU5ROA0Xwr8i35T4UOkIgoUg0WMEOEIssUgHsNIbNTrSuUFeSkeYpSWTEMDbgkLf-9QkXnJEo0cDGR6OMzbIwkdgwhBR6zoWaOvTT6M4d4Nb6Uzf-R8ErD4bO6-keCkeJXg3AXIH9ONulQ4vgcjJyqyHQ9zTPe5qZ01fProGC-K9R8VRTnUU_AmLDFed60sJ8309MTn2bmBp6nrvQWn-LHeVQ/p.png?size=2048x1536&size_mode=3"></div>
            </div>
        </div>
        <div class="flex flex-wrap lg:flex-row justify-center bg-grey-lighter lg:my-4 py-6 lg:py-10">
                <div class="w-full md:w-2/3 lg:w-1/3 text-center mx-4 lg:mx-10 pt-4"><img alt="activate" src="https://previews.dropbox.com/p/thumb/AAQtSZ9yb_Y-Rni4qEoPGFIlH0-3laeF1LG1rNn5Ohz_w1zBiYD5S5N257NtLhssUYUs6Ae4dEw86WLUWEGfFkoJVqU8XraPO2fz9ilB_P53PM734UMpjPXfEs7dA6dUJtZ-Fwzb1lsoWlzXjvM1tJeykiRGANEhpTRq5uCgLZR3z_nu1e-6jaGq6FIxHuhFvQloFvz3tH5aBOx0Qj7PfbdHBTyQU0atGbQidSwsMFLnlA/p.png?size=2048x1536&size_mode=3"></div>
                <div class="w-full lg:w-1/4 text-left mx-8 pt-10">
                    <h3 class="text-indigo-darker font-bold text-3xl tracking-tight">2. Second Step</h3>
                    <p class="leading-tight py-10 tracking-wide">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.
                        <br>                        <br>
                        <br>$0 standard activation fee. We'll email you once you're active so you can set up your modem.</p>
                </div>
            </div>
<!--4 Part Section-->
<!--CTA-->
 <div class="text-center mb-10">
    <a href="#" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4">Become a Student</a>
        <div class="font-light text-spacepurple-light text-sm">First Lesson is Free!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--CTA-->
<!--Outro-->
<div class="flex items-end bg-grey-lighter pt-10">
  <div class="flex-1 text-grey-darker text-center px-4 py-2 m-2"></div>
  <div class="flex-1 text-grey-darker text-center px-4 py-2 m-2"><img src="https://previews.dropbox.com/p/thumb/AATtfRf9YMQbmsNbuUXlhsUtxKCzSahkAvu71ZMpjIA8vjx9xKTXYJ7EBjKZZVdWBLjQCNpAHeIogeQ8_ErSTWzTrgKJwmCWubyhl1AMA02gq1X97I_A04mqrKGnJ1gP0tZ_Zg--BChWcZJ9bId8d1kzm7K_EvhJtXdQSxw7v1c-k_In_hcZWSjD6PgaWvzfGd4Txwji7JumgMV3bUyRz7EfsnrBgY3XPHiIdAITwyKc3A/p.png?size=2048x1536&size_mode=3" alt="Feedr hero illustration" class="image-center px-6 sm:w-4/5 md:w-5/5 lg:pr-0 lg:pl-8 lg:w-5//5"></div>
  <div class="flex-1 text-grey-darker text-center px-4 py-2 m-2"></div>
</div>
<!--Outro-->
        
    