<section>
    <div class="container mx-auto px-6 my-20">
        <div class="mb-16 text-center">
            <h2 class="text-2xl mb-2 text-3xl purple-dark uppercase font-bold">The Vertical Method</h2>
            <p class="text-lg text-space text-grey-dark leading-loose font-thin">Take your Spanish to the next level.</p>
        </div>
    </div>
</section>
<section class=" overflow-hidden">
    <div class="container bg-purple-lightest rounded-lg shadow-lg mx-auto px-6">
        <div class="flex flex-wrap my-0">
            <div class="w-full border-b md:w-1/2 md:border-r lg:w-1/3 p-8">
                <div class="flex items-center mb-6">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="fill-current w-6 h-6">
                        <path d="M4.13 12H4a2 2 0 1 0 1.8 1.11L7.86 10a2.03 2.03 0 0 0 .65-.07l1.55 1.55a2 2 0 1 0 3.72-.37L15.87 8H16a2 2 0 1 0-1.8-1.11L12.14 10a2.03 2.03 0 0 0-.65.07L9.93 8.52a2 2 0 1 0-3.72.37L4.13 12zM0 4c0-1.1.9-2 2-2h16a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4z"></path>
                    </svg>
                    <div class="ml-4 text-xl">Increase sales</div>
                </div>
                <p class="leading-loose text-md">Receive more sales by selling across multple sales channels instead of just having a single point of entry.</p>
            </div>
            <div class="w-full border-b md:w-1/2 lg:w-1/3 lg:border-r p-8">
                <div class="flex items-center mb-6">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="fill-current w-6 h-6">
                        <path d="M0 6c0-1.1.9-2 2-2h3l2-2h6l2 2h3a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6zm10 10a5 5 0 1 0 0-10 5 5 0 0 0 0 10zm0-2a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"></path>
                    </svg>
                    <div class="ml-4 text-xl">Themes</div>
                </div>
                <p class="leading-loose text-md">Apply beautiful themes to every product image distributed through our platform. A visual touch.</p>
            </div>
            <div class="w-full border-b md:w-1/2 md:border-r lg:w-1/3 lg:border-r-0 p-8">
                <div class="flex items-center mb-6">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="fill-current w-6 h-6">
                        <path d="M12 12l8-8V0H0v4l8 8v8l4-4v-4z"></path>
                    </svg>
                    <div class="ml-4 text-xl">Control</div>
                </div>
                <p class="leading-loose text-md">Apply filters and control which products to sell on each sales channel. E.g. exclude products with low margins.</p>
            </div>
            <div class="w-full border-b md:w-1/2 lg:w-1/3 lg:border-r lg:border-b-0 p-8">
                <div class="flex items-center mb-6">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="fill-current w-6 h-6">
                        <path d="M17 12h-6v4h1v4H8v-4h1v-4H3v4h1v4H0v-4h1v-4a2 2 0 0 1 2-2h6V6H7V0h6v6h-2v4h6a2 2 0 0 1 2 2v4h1v4h-4v-4h1v-4z"></path>
                    </svg>
                    <div class="ml-4 text-xl">Mapping</div>
                </div>
                <p class="leading-loose text-md">Map product categories with each sales channels' own categories and achieve better results and lower costs.</p>
            </div>
            <div class="w-full border-b md:w-1/2 md:border-r md:border-b-0 lg:w-1/3 lg:border-b-0 p-8">
                <div class="flex items-center mb-6">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="fill-current w-6 h-6">
                        <path d="M20 14v4a2 2 0 0 1-2 2h-4v-2a2 2 0 0 0-2-2 2 2 0 0 0-2 2v2H6a2 2 0 0 1-2-2v-4H2a2 2 0 0 1-2-2 2 2 0 0 1 2-2h2V6c0-1.1.9-2 2-2h4V2a2 2 0 0 1 2-2 2 2 0 0 1 2 2v2h4a2 2 0 0 1 2 2v4h-2a2 2 0 0 0-2 2 2 2 0 0 0 2 2h2z"></path>
                    </svg>
                    <div class="ml-4 text-xl">Fill the missing</div>
                </div>
                <p class="leading-loose text-md">Modify products with extra properties and achieve the maximum output for each installed sales channel.</p>
            </div>
            <div class="w-full md:w-1/2 lg:w-1/3 p-8">
                <div class="flex items-center mb-6">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="fill-current w-6 h-6">
                        <path d="M10 13a3 3 0 1 1 0-6 3 3 0 0 1 0 6zM9 4a1 1 0 1 1 2 0 1 1 0 1 1-2 0zm4.54 1.05a1 1 0 1 1 1.41 1.41 1 1 0 1 1-1.41-1.41zM16 9a1 1 0 1 1 0 2 1 1 0 1 1 0-2zm-1.05 4.54a1 1 0 1 1-1.41 1.41 1 1 0 1 1 1.41-1.41zM11 16a1 1 0 1 1-2 0 1 1 0 1 1 2 0zm-4.54-1.05a1 1 0 1 1-1.41-1.41 1 1 0 1 1 1.41 1.41zM4 11a1 1 0 1 1 0-2 1 1 0 1 1 0 2zm1.05-4.54a1 1 0 1 1 1.41-1.41 1 1 0 1 1-1.41 1.41z"></path>
                    </svg>
                    <div class="ml-4 text-xl">Dynamic Texts</div>
                </div>
                <p class="leading-loose text-md">Build unique product titles and descriptions instead of spending days manually editing each product.</p>
            </div>
        </div>
    </div>
</section>

        <div class="text-center py-20">
                <a href="#" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold bg-purple hover:bg-purple-light mb-4">Get Started</a>
            <div class="font-light text-spacepurple-light text-sm pb-6">First Lesson is Free
            </div>
        </div>