<!--Title Section-->
<section class="mx-auto px-6 mt-12 border-b-4 border-grey-light">
        <div class="">
          <div class=" text-center">
            <h2 class="text-2xl mb-2 text-3xl purple-dark uppercase font-bold">The Vertical Method.</h2>
              <p class="text-lg text-space text-grey-dark leading-loose font-thin">Master a language with a proven process.</p>
                <div class="flex items-end">
                    <div class="sm:w-1/3 mx-auto"><img src="/assets/illustrations/teamwork_white_15.png" alt="Feedr hero illustration" class="image-center px-6 sm:w-3/5 md:w-4/5"></div>
                </div>
          </div>
        </div>
</section>
<!--Title Section-->
<!--How We Work-->
<section class="bg-grey-lighter pt-2 pb-6">
    <div class="flex mb-2 text-center pt-6">
      <div class="w-1/3"></div>
      <div class="w-1/3"><p class="text-lg text-spacepurple leading-loose font-normal text-grey-darker">A simple process, for an enjoyable experiance.</p></div>
      <div class="w-1/3"></div>
    </div>
    <div class="mx-6">
    <div class="container bg-purple-lightest rounded-lg shadow-lg mx-auto my-8 ">
        <div class="flex flex-wrap my-0">
            <div class="w-full border-b md:w-1/2 md:border-r lg:w-1/3 p-8">
                <div class="flex items-center mb-6">
                    <image class="w-8" src="/assets/icons/method/book.png"></image>
                    <div class="ml-4 text-xl">Reading</div>
                </div>
                <p class="leading-loose text-md">Reading is considered a foundation technique in Spanish as every syllable has just one pronun- ciation; thus being our first step as this will help you know the pronunciation, gender & number of words.</p>
            </div>
            <div class="w-full border-b md:w-1/2 lg:w-1/3 lg:border-r p-8">
                <div class="flex items-center mb-6">
                     <image class="w-8" src="/assets/icons/method/ear.png"></image>
                    <div class="ml-4 text-xl">Listening</div>
                </div>
                <p class="leading-loose text-md">You will be exposed to the language as much as possible throughout your lesson; dictations, conversations & some digital material such will be used to enhance your listening skills.</p>
            </div>
            <div class="w-full border-b md:w-1/2 md:border-r lg:w-1/3 lg:border-r-0 p-8">
                <div class="flex items-center mb-6">
                      <image class="w-8" src="/assets/icons/method/edit.png"></image>
                    <div class="ml-4 text-xl">Writing</div>
                </div>
                <p class="leading-loose text-md">Through dictations (recognition of sounds), sentence creation, mistake recognition & correction, short text composition & as a support line for certain speaking exercises.</p>
            </div>
            <div class="w-full border-b md:w-1/2 lg:w-1/3 lg:border-r lg:border-b-0 p-8">
                <div class="flex items-center mb-6">
                    <image class="w-8" src="/assets/icons/method/speak.png"></image>
                    <div class="ml-4 text-xl">Speaking</div>
                </div>
                <p class="leading-loose text-md">Speaking the most important skill & will be practiced by: repeating phrases said by the teacher, giving full answers to questions posed by the teacher.</p>
            </div>
            <div class="w-full border-b md:w-1/2 md:border-r md:border-b-0 lg:w-1/3 lg:border-b-0 p-8">
                <div class="flex items-center mb-6">
                    <image class="w-8" src="/assets/icons/method/puzzle.png"></image>
                    <div class="ml-4 text-xl">Elements</div>
                </div>
                <p class="leading-loose text-md">We use musical videos or recorded interviews as a key element to practice listening and in order to be exposed to the language as much as possible.</p>
            </div>
            <div class="w-full md:w-1/2 lg:w-1/3 p-8">
                <div class="flex items-center mb-6">
                    <image class="w-8" src="/assets/icons/method/adaptation.png"></image>
                    <div class="ml-4 text-xl">Adaptability</div>
                </div>
                <p class="leading-loose text-md">Our lessons can be customized to teach the same structures to every student through personalized examples and exercises.</p><br>
            </div>
        </div>
    </div>
    </div>
</section>
<!--How We Work-->
<!--4 Part Section-->
            <div class="flex flex-wrap-reverse bg-grey-lighter lg:flex-row justify-center lg:py-12 pb-16">
                <div class="w-full lg:w-1/3 text-left mx-8 pt-10">
                    <h3 class="text-indigo-darker font-bold text-3xl tracking-tight">1. Reading</h3>
                    <p class="leading-tight py-4 tracking-wide">reading is considered a foundation technique in Spanish as every syllable has just one pronun- ciation; thus being our first step as this will help you know the pronunciation, gender & number of words.</p> </div>
                <div class="w-full md:w-2/3 lg:w-1/4 text-center mx-4 lg:mx-10 pt-4"><img alt="sign up" src="/assets/illustrations/teamwork_white_10.png"></div>
            </div>
            <div class="flex flex-wrap lg:flex-row justify-center lg:my-4 py-4 lg:py-4">
                <div class="w-full md:w-2/3 lg:w-1/3 text-center mx-4 lg:mx-10 pt-4"><img alt="activate" src="/assets/illustrations/teamwork_white_7.png"></div>
                <div class="w-full lg:w-1/4 text-left mx-8 pt-10">
                    <h3 class="text-indigo-darker font-bold text-3xl tracking-tight">2. Listening</h3>
                    <p class="leading-tight py-10 tracking-wide">You will be exposed to the language as much as possible throughout your lesson; dictations, conversations & some digital material such as music and videos will be used to enhance your listening skills, not just listening to words but understanding their meaning & context in order to reply correctly & effectively.
                        <br>                        
                        <br>
                        <br></p>
                </div>
            </div>
            <div class="flex flex-wrap-reverse bg-grey-lighter lg:flex-row justify-center lg:my-4 py-4">
                <div class="w-full lg:w-1/3 text-left mx-8 pt-10">
                    <h3 class="text-indigo-darker font-bold text-3xl tracking-tight">3. Writing</h3>
                    <p class="leading-tight py-10 tracking-wide">Writing will be used as a tool to practice struc- tures & vocabulary. Through dictations (recognition of sounds), sentence creation, mistake recognition & correction, short text composition & as a support line for certain speaking exercises</p>
                </div>
                <div class="w-full md:w-2/3 lg:w-1/4 text-center mx-4 lg:mx-10 pt-4 pb-6"><img alt="cancel" src="/assets/illustrations/teamwork_white_4.png"></div>
            </div>
        </div>
        <div class="flex flex-wrap lg:flex-row justify-center lg:my-4 py-6 lg:py-4">
                <div class="w-full md:w-2/3 lg:w-1/3 text-center mx-4 lg:mx-10 pt-4"><img alt="activate" src="assets/illustrations/teamwork_white_3.png"></div>
                <div class="w-full lg:w-1/4 text-left mx-8 pt-10">
                    <h3 class="text-indigo-darker font-bold text-3xl tracking-tight">4. Speaking</h3>
                    <p class="leading-tight py-10 tracking-wide">Speaking the most important skill & will be practiced by: repeating phrases said by the teacher, giving full answers to questions posed by the teacher, receiving prompts to make sentences and questions, escalating to scena- rios where prompts or guidelines are reduced progressively down to none, thus evolving into a natural conversation.
                        <br>                        
                        <br>
                        <br>
                    </p>
                </div>
            </div>
<!--4 Part Section-->
<!--CTA-->
 <div class="text-center mb-10">
    <a href="#" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4">Become a Student</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--CTA-->
