<section>
        <div class="container mx-auto px-6 my-20">
          <div class="mb-16 text-center">
            <h2 class="text-2xl mb-2 text-3xl indigo-dark uppercase font-bold">Easy Pricing</h2>
              <p class="text-lg text-space text-grey-dark leading-loose font-thin">Simple pricing to get you to the next level.</p>
          </div>
        </div>
</section>
            
      <div class="bg-indigo-lightest overflow-hidden">
      </div>
          <div id="pricing">
            <section class="bg-white overflow-hidden">
              <div class="container mx-auto px-6 mt-8 mb-16">
                      
                    
                      <div class="flex flex-wrap mb-20">
                          <div class="w-full sm:w-1/2 lg:w-1/4 text-center p-2">
                              <div class="bg-indigo-lightest shadow-md py-12 border-t-4 border-indigo rounded overflow-hidden">
                                  <div class="text-2xl font-medium mb-8 text-spaceindigo">Starter</div>
                                  <div class="leading-loose text-sm font-light text-spaceindigo-light mb-10">
                                      <div class="font-bold">Standard Teacher</div>
                                      <div>All features</div>
                                      <div>Free support</div>
                                  </div>
                                  <div class="font-bold text-2xl mb-2 text-spaceindigo-dark"><span>99 USD</span></div>
                                  <div class="text-spaceindigo-dark text-sm">$13 / hour</div>
                              </div>
                          </div>
                          <div class="w-full sm:w-1/2 lg:w-1/4 text-center p-2">
                              <div class="bg-indigo-lightest shadow-md py-12 border-t-4 border-indigo rounded overflow-hidden">
                                  <div class="text-2xl font-medium mb-8 text-spaceindigo">Starter Plus</div>
                                  <div class="leading-loose text-sm font-light text-spaceindigo-light mb-10">
                                      <div class="font-bold">Standard Teacher</div>
                                      <div>8 Hours</div>
                                      <div>Free support</div>
                                  </div>
                                  <div class="font-bold text-2xl mb-2 text-spaceindigo-dark"><span>249 USD</span></div>
                                  <div class="text-spaceindigo-dark text-sm">$11 / hour</div>
                              </div>
                          </div>
                          <div class="w-full sm:w-1/2 lg:w-1/4 text-center p-2">
                              <div class="bg-indigo-lightest shadow-md py-12 border-t-4 border-indigo rounded overflow-hidden">
                                  <div class="text-2xl font-medium mb-8 text-spaceindigo">Premium</div>
                                  <div class="leading-loose text-sm font-light text-spaceindigo-light mb-10">
                                      <div class="font-bold">Premium Teacher</div>
                                      <div>All features</div>
                                      <div>Free support</div>
                                  </div>
                                  <div class="font-bold text-2xl mb-2 text-spaceindigo-dark"><span>665 USD</span></div>
                                  <div class="text-spaceindigo-dark text-sm">$17.5 / hour</div>
                              </div>
                          </div>
                          <div class="w-full sm:w-1/2 lg:w-1/4 text-center p-2">
                              <div class="bg-indigo-lightest shadow-md py-12 border-t-4 border-indigo rounded overflow-hidden">
                                  <div class="text-2xl font-medium mb-8 text-spaceindigo">Premium Plus</div>
                                  <div class="leading-loose text-sm font-light text-spaceindigo-light mb-10">
                                      <div class="font-bold">Premium Teacher</div>
                                      <div>All features</div>
                                      <div>Free support</div>
                                  </div>
                                  <div class="font-bold text-2xl mb-2 text-space indigo-dark"><span>1024 USD</span></div>
                                  <div class="text-space indigo-dark text-sm">$16 / hour</div>
                              </div>
                          </div>
                      </div>
                     
                      <p class="text-center mb-16 text-space indigo-light leading-loose">
                          All plans include a customized curriculum based on level and goals.
                          
                      </p>
                      <div class="text-center"><a href="#" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold bg-indigo-light hover:bg-indigo-light mb-4">Become a Student</a>
                          <div class="font-light text-space indigo-light text-sm">First Lesson is Free.</div>
                      </div>
                  </div>
              </section>
          </div>
      </div>
  </div>
