<body class="font-base min-h-screen antialiased leading-normal font-light" data-gr-c-s-loaded="true" style="">
    <div id="app">
        <div class="min-h-screen">
            <div class="bg-blue-lightest overflow-hidden">
                <header class="mb-8">
                    <div class="container mx-auto px-6 pt-8">
                        <div class="w-full">
                            <div class="flex flex-wrap justify-between">
                                <a href="https://feedr.dk" class="flex mr-12"><img src="/images/logos/logo-fav-blue.svg" class="w-24"></a>
                                <button class="lg:hidden text-spaceblue-dark flex cursor-pointer">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="fill-current w-8 h-8">
                                        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
                                    </svg>
                                </button>
                                <nav class="hidden lg:flex flex-1 items-center justify-between">
                                    <div class="flex flex-1"><a href="https://feedr.dk" class="no-underline mx-4 text-base text-spaceblue font-medium hover:text-spaceblue-dark">Home</a> <a href="https://feedr.dk/pricing" class="no-underline mx-4 text-base text-spaceblue font-medium hover:text-spaceblue-dark">Pricing</a> <a href="https://feedr.dk/contact" class="no-underline mx-4 text-base text-spaceblue font-medium hover:text-spaceblue-dark">Contact</a> <a href="https://feedr.dk/help" class="no-underline mx-4 text-base text-spaceblue font-medium hover:text-spaceblue-dark">Help</a> <a href="https://feedr.dk/blog" class="no-underline mx-4 text-base text-spaceblue font-medium hover:text-spaceblue-dark">Blog</a></div>
                                    <div class="flex items-center"><a href="https://app.feedr.dk/login" class="no-underline mx-4 text-base text-spaceblue font-medium hover:text-spaceblue-dark">Log in</a> <a href="https://app.feedr.dk/join" class="no-underline px-6 py-3 ml-4 rounded text-base text-white font-semibold bg-blue hover:bg-blue-light">Get started</a>
                                        <div class="flex ml-3">
                                            <a rel="alternate" hreflang="da" href="https://feedr.dk/da/pricing" title="Dansk"><img src="/images/flags/da.svg" alt="Dansk" class="w-5 ml-2"></a>
                                            <a rel="alternate" hreflang="en" href="https://feedr.dk/en/pricing" title="English"><img src="/images/flags/en.svg" alt="English" class="w-5 ml-2"></a>
                                        </div>
                                    </div>
                                </nav>
                                <nav class="w-full py-4 lg:hidden" style="display: none;"><a href="https://feedr.dk" class="block no-underline px-4 py-4 text-base text-spaceblue font-medium hover:underline">Home</a> <a href="https://feedr.dk/pricing" class="block no-underline px-4 py-4 text-base text-spaceblue font-medium hover:underline">Pricing</a> <a href="https://feedr.dk/contact" class="block no-underline px-4 py-4 text-base text-spaceblue font-medium hover:underline">Contact</a> <a href="https://feedr.dk/help" class="block no-underline px-4 py-4 text-base text-spaceblue font-medium hover:underline">Help</a> <a href="https://feedr.dk/blog" class="block no-underline px-4 py-4 text-base text-spaceblue font-medium hover:underline">Blog</a> <a href="https://app.feedr.dk/login" class="block no-underline px-4 py-4 text-base text-spaceblue font-medium hover:underline">Log in</a> <a href="https://app.feedr.dk/join" class="block no-underline px-4 py-4 text-base text-spaceblue font-medium hover:underline">Get started</a>
                                    <div class="flex justify-center mt-3">
                                        <a rel="alternate" hreflang="da" href="https://feedr.dk/da/pricing"><img src="/images/flags/da.svg" alt="Dansk" class="w-10 mx-4"></a>
                                        <a rel="alternate" hreflang="en" href="https://feedr.dk/en/pricing"><img src="/images/flags/en.svg" alt="English" class="w-10 mx-4"></a>
                                    </div>
                                </nav>
                            </div>
                        </div>
                        <div class="mt-14">
                            <h1 class="font-normal text-3xl mb-3 text-spaceblue-dark">Pricing</h1>
                            <p class="text-lg text-spaceblue-light">Choose a plan that fits your needs.</p>
                        </div>
                    </div>
                </header>
            </div>
            <div id="pricing">
                <section class="bg-white overflow-hidden">
                    <div class="container mx-auto px-6 mt-8 mb-16">
                        <div class="text-center mb-20">
                        
                                <input data-v-25adc6c0="" type="checkbox" class="v-switch-input">
                                <div data-v-25adc6c0="" class="v-switch-core" style="width: 110px; height: 39px; background-color: rgb(171, 232, 108); border-radius: 20px;">
                                    <div data-v-25adc6c0="" class="v-switch-button" style="width: 33px; height: 33px; transition: transform 300ms ease 0s; transform: translate3d(74px, 3px, 0px);"></div>
                                </div> <span data-v-25adc6c0="" class="v-switch-label v-left" style="line-height: 39px;">Yearly</span></label>
                            <div class="mt-8 text-green-darkest font-medium">Get 2 months off on all yearly plans.</div>
                        </div>
                        <!---->
                        <div class="flex flex-wrap mb-20">
                            <div class="w-full sm:w-1/2 lg:w-1/4 text-center p-2">
                                <div class="bg-blue-lightest shadow py-12 border-t-4 border-green rounded overflow-hidden">
                                    <div class="text-2xl font-medium mb-8 text-spaceblue">Starter</div>
                                    <div class="leading-loose text-sm font-light text-spaceblue-light mb-10">
                                        <div class="font-bold">1000 products</div>
                                        <div>All features</div>
                                        <div>Free support</div>
                                    </div>
                                    <div class="font-bold text-2xl mb-2 text-spaceblue-dark"><span>99 DKK</span></div>
                                    <div class="text-spaceblue-dark text-sm">/ month</div>
                                </div>
                            </div>
                            <div class="w-full sm:w-1/2 lg:w-1/4 text-center p-2">
                                <div class="bg-blue-lightest shadow py-12 border-t-4 border-green rounded overflow-hidden">
                                    <div class="text-2xl font-medium mb-8 text-spaceblue">Basic</div>
                                    <div class="leading-loose text-sm font-light text-spaceblue-light mb-10">
                                        <div class="font-bold">5000 products</div>
                                        <div>All features</div>
                                        <div>Free support</div>
                                    </div>
                                    <div class="font-bold text-2xl mb-2 text-spaceblue-dark"><span>249 DKK</span></div>
                                    <div class="text-spaceblue-dark text-sm">/ month</div>
                                </div>
                            </div>
                            <div class="w-full sm:w-1/2 lg:w-1/4 text-center p-2">
                                <div class="bg-blue-lightest shadow py-12 border-t-4 border-green rounded overflow-hidden">
                                    <div class="text-2xl font-medium mb-8 text-spaceblue">Business</div>
                                    <div class="leading-loose text-sm font-light text-spaceblue-light mb-10">
                                        <div class="font-bold">25000 products</div>
                                        <div>All features</div>
                                        <div>Free support</div>
                                    </div>
                                    <div class="font-bold text-2xl mb-2 text-spaceblue-dark"><span>665 DKK</span></div>
                                    <div class="text-spaceblue-dark text-sm">/ month</div>
                                </div>
                            </div>
                            <div class="w-full sm:w-1/2 lg:w-1/4 text-center p-2">
                                <div class="bg-blue-lightest shadow py-12 border-t-4 border-green rounded overflow-hidden">
                                    <div class="text-2xl font-medium mb-8 text-spaceblue">Professional</div>
                                    <div class="leading-loose text-sm font-light text-spaceblue-light mb-10">
                                        <div class="font-bold">50000 products</div>
                                        <div>All features</div>
                                        <div>Free support</div>
                                    </div>
                                    <div class="font-bold text-2xl mb-2 text-spaceblue-dark"><span>1024 DKK</span></div>
                                    <div class="text-spaceblue-dark text-sm">/ month</div>
                                </div>
                            </div>
                        </div>
                        <!---->
                        <p class="text-center mb-16 text-spaceblue-light leading-loose">
                            All plans include 1 e-commerce and 2 feeds.
                            <br>Additional projects and feeds have a low monthly cost of <span class="font-bold">49 DKK</span> and <span class="font-bold">40 DKK</span> respectively.
                        </p>
                        <div class="text-center"><a href="https://app.feedr.dk/join" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold bg-blue hover:bg-blue-light mb-4">
		 Start 14 days free trial 	</a>
                            <div class="font-light text-spaceblue-light text-sm">No credit card needed during trial.</div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <footer class="bg-blue-lightest overflow-hidden border-t border-grey-lighter">
            <div class="container mx-auto px-6 my-20">
                <div class="flex flex-wrap border-b mb-6">
                    <div class="w-1/2 md:w-1/5 mb-8">
                        <div class="leading-loose text-spaceblue-light">
                            <div>Feedr IVS</div>
                            <div>Lind Hansens Vej 9</div>
                            <div>5000 Odense C</div>
                            <div>hello@feedr.dk</div>
                            <div>CVR: 39176173</div>
                        </div>
                    </div>
                    <div class="w-1/2 md:w-1/5 mb-8">
                        <div class="text-lg mb-5 text-spaceblue uppercase font-medium">Compatibility</div>
                        <ul class="leading-loose list-reset">
                            <li><a href="https://feedr.dk#howdoesitwork" class="no-underline text-spaceblue-light hover:underline hover:text-spaceblue">How does it work?</a></li>
                            <li><a href="https://feedr.dk#platforms" class="no-underline text-spaceblue-light hover:underline hover:text-spaceblue">Platforms</a></li>
                            <li><a href="https://feedr.dk#channels" class="no-underline text-spaceblue-light hover:underline hover:text-spaceblue">Channels</a></li>
                        </ul>
                    </div>
                    <div class="w-1/2 md:w-1/5 mb-8">
                        <div class="text-lg mb-5 text-spaceblue uppercase font-medium">Products</div>
                        <ul class="leading-loose list-reset">
                            <li><a href="https://feedr.dk#themes" class="no-underline text-spaceblue-light hover:underline hover:text-spaceblue">Themes</a></li>
                            <li><a href="https://feedr.dk#features" class="no-underline text-spaceblue-light hover:underline hover:text-spaceblue">Features</a></li>
                            <li><a href="https://feedr.dk/pricing" class="no-underline text-spaceblue-light hover:underline hover:text-spaceblue">Pricing</a></li>
                        </ul>
                    </div>
                    <div class="w-1/2 md:w-1/5 mb-8">
                        <div class="text-lg mb-5 text-spaceblue uppercase font-medium">Resources</div>
                        <ul class="leading-loose list-reset">
                            <li><a href="https://feedr.dk/blog" class="no-underline text-spaceblue-light hover:underline hover:text-spaceblue">Blog</a></li>
                            <li><a href="https://feedr.dk/contact" class="no-underline text-spaceblue-light hover:underline hover:text-spaceblue">Contact</a></li>
                            <li><a href="https://feedr.dk/help" class="no-underline text-spaceblue-light hover:underline hover:text-spaceblue">Help</a></li>
                        </ul>
                    </div>
                    <div class="w-1/2 md:w-1/5 mb-8">
                        <div class="text-lg mb-5 text-spaceblue uppercase font-medium">Access</div>
                        <ul class="leading-loose list-reset">
                            <li><a href="https://app.feedr.dk/login" class="no-underline text-spaceblue-light hover:underline hover:text-spaceblue">Log in</a></li>
                            <li><a href="https://app.feedr.dk/join" class="no-underline text-spaceblue-light hover:underline hover:text-spaceblue mb-4 block">Start 14 days free trial</a></li>
                            <li><a href="https://app.feedr.dk/password/forget" class="no-underline text-spaceblue-light hover:underline hover:text-spaceblue">Forgot password?</a></li>
                        </ul>
                    </div>
                </div>
                <div class="flex flex-wrap justify-between items-center text-sm">
                    <div class="w-1/3"><a href="https://feedr.dk/terms" class="no-underline text-spaceblue-light hover:underline hover:text-spaceblue mr-6">Terms of service</a> <a href="https://feedr.dk/privacy" class="no-underline text-spaceblue-light hover:underline hover:text-spaceblue">Privacy policy</a></div>
                    <div class="w-1/3 flex justify-center">
                        <a rel="alternate" hreflang="da" href="https://feedr.dk/da/pricing"><img src="/images/flags/da.svg" alt="Dansk" title="Dansk" class="w-5 mx-2"></a>
                        <a rel="alternate" hreflang="en" href="https://feedr.dk/en/pricing"><img src="/images/flags/en.svg" alt="English" title="English" class="w-5 mx-2"></a>
                    </div>
                    <div class="w-1/3 flex justify-end">
                        <a href="https://www.facebook.com/feedrdk/" target="_blank" class="text-spaceblue-light">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="fill-current w-5 h-5">
                                <path d="M22.676 0H1.324C.593 0 0 .593 0 1.324v21.352C0 23.408.593 24 1.324 24h11.494v-9.294H9.689v-3.621h3.129V8.41c0-3.099 1.894-4.785 4.659-4.785 1.325 0 2.464.097 2.796.141v3.24h-1.921c-1.5 0-1.792.721-1.792 1.771v2.311h3.584l-.465 3.63H16.56V24h6.115c.733 0 1.325-.592 1.325-1.324V1.324C24 .593 23.408 0 22.676 0"></path>
                            </svg>
                        </a>
                        <a href="https://www.instagram.com/feedrdk/" target="_blank" class="text-spaceblue-light mx-2">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="fill-current w-5 h-5">
                                <path d="M12 0C8.74 0 8.333.015 7.053.072 5.775.132 4.905.333 4.14.63c-.789.306-1.459.717-2.126 1.384S.935 3.35.63 4.14C.333 4.905.131 5.775.072 7.053.012 8.333 0 8.74 0 12s.015 3.667.072 4.947c.06 1.277.261 2.148.558 2.913.306.788.717 1.459 1.384 2.126.667.666 1.336 1.079 2.126 1.384.766.296 1.636.499 2.913.558C8.333 23.988 8.74 24 12 24s3.667-.015 4.947-.072c1.277-.06 2.148-.262 2.913-.558.788-.306 1.459-.718 2.126-1.384.666-.667 1.079-1.335 1.384-2.126.296-.765.499-1.636.558-2.913.06-1.28.072-1.687.072-4.947s-.015-3.667-.072-4.947c-.06-1.277-.262-2.149-.558-2.913-.306-.789-.718-1.459-1.384-2.126C21.319 1.347 20.651.935 19.86.63c-.765-.297-1.636-.499-2.913-.558C15.667.012 15.26 0 12 0zm0 2.16c3.203 0 3.585.016 4.85.071 1.17.055 1.805.249 2.227.415.562.217.96.477 1.382.896.419.42.679.819.896 1.381.164.422.36 1.057.413 2.227.057 1.266.07 1.646.07 4.85s-.015 3.585-.074 4.85c-.061 1.17-.256 1.805-.421 2.227-.224.562-.479.96-.899 1.382-.419.419-.824.679-1.38.896-.42.164-1.065.36-2.235.413-1.274.057-1.649.07-4.859.07-3.211 0-3.586-.015-4.859-.074-1.171-.061-1.816-.256-2.236-.421-.569-.224-.96-.479-1.379-.899-.421-.419-.69-.824-.9-1.38-.165-.42-.359-1.065-.42-2.235-.045-1.26-.061-1.649-.061-4.844 0-3.196.016-3.586.061-4.861.061-1.17.255-1.814.42-2.234.21-.57.479-.96.9-1.381.419-.419.81-.689 1.379-.898.42-.166 1.051-.361 2.221-.421 1.275-.045 1.65-.06 4.859-.06l.045.03zm0 3.678c-3.405 0-6.162 2.76-6.162 6.162 0 3.405 2.76 6.162 6.162 6.162 3.405 0 6.162-2.76 6.162-6.162 0-3.405-2.76-6.162-6.162-6.162zM12 16c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4zm7.846-10.405c0 .795-.646 1.44-1.44 1.44-.795 0-1.44-.646-1.44-1.44 0-.794.646-1.439 1.44-1.439.793-.001 1.44.645 1.44 1.439z"></path>
                            </svg>
                        </a>
                        <a href="https://twitter.com/feedrdk" target="_blank" class="text-spaceblue-light">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="fill-current w-5 h-5">
                                <path d="M23.954 4.569c-.885.389-1.83.654-2.825.775 1.014-.611 1.794-1.574 2.163-2.723-.951.555-2.005.959-3.127 1.184-.896-.959-2.173-1.559-3.591-1.559-2.717 0-4.92 2.203-4.92 4.917 0 .39.045.765.127 1.124C7.691 8.094 4.066 6.13 1.64 3.161c-.427.722-.666 1.561-.666 2.475 0 1.71.87 3.213 2.188 4.096-.807-.026-1.566-.248-2.228-.616v.061c0 2.385 1.693 4.374 3.946 4.827-.413.111-.849.171-1.296.171-.314 0-.615-.03-.916-.086.631 1.953 2.445 3.377 4.604 3.417-1.68 1.319-3.809 2.105-6.102 2.105-.39 0-.779-.023-1.17-.067 2.189 1.394 4.768 2.209 7.557 2.209 9.054 0 13.999-7.496 13.999-13.986 0-.209 0-.42-.015-.63.961-.689 1.8-1.56 2.46-2.548l-.047-.02z"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    </div>

</body>