<!--Title Section-->
<section class="mx-auto px-6 mt-12 border-b-4 border-grey-light">
        <div class="">
          <div class=" text-center">
            <h2 class="text-2xl mb-2 text-3xl purple-dark uppercase font-bold">Spanish Teachers.</h2>
              <p class="text-lg text-space text-grey-dark leading-loose font-thin">Explore Spanish <span style="background-color: #FFFF00">together.</span></p>
                <div class="flex items-end">
                  <div class="flex-1 text-center px-4 py-2 m-2"></div>
                  <div class="flex-1 text-center px-4 py-2 m-2"><img src="https://previews.dropbox.com/p/thumb/AAThAHtp-mVAQadB9WbJvJTjUokdxyHoiZDBKanOmmtxHdvavFJMIdcKXTFXjzZvMpdUvkzgoN6h51Sxt2vjgZFIAaH-8RZeYsn2Bm0_RgG1JKgJqsg12M84VZ2TnpmLLBl2pcQTPdX6k3GeQ5rarkBxX_BUfisxQrmLZ-VYFA2_42zmEfAIZGJu_4FniqDPcZb38bUMUUNFfQFdoWLMgZFo-GSJnhdv3qIwU1x0YgDJYQ/p.png?size=2048x1536&size_mode=3" alt="Feedr hero illustration" class="image-center px-6 sm:w-4/5 md:w-5/5 lg:pr-0 lg:pl-8 lg:w-5//5"></div>
                  <div class="flex-1 text-center px-4 py-2 m-2"></div>
                </div>
          </div>
        </div>
</section>
<!--Title Section-->
<!--Teacher Expectations-->
 <div class="flex flex-wrap-reverse bg-grey-lighter lg:flex-row justify-center lg:py-6 pb-16">
                <div class="container text-center mx-16 pt-10">
                    <h3 class="text-indigo-darker font-bold text-3xl tracking-tight mx-16">Teacher Expectations *section*</h3>
                    <p class="leading-tight py-4 tracking-wide">reading is considered a foundation technique in Spanish as every syllable has just one pronun- ciation; thus being our first step as this will help you know the pronunciation, gender & number of words.</p> </div>
                <div class="w-full md:w-2/3 lg:w-1/4 text-center mx-4 lg:mx-10 pt-4"></div>
            </div>
            </div>
            </div>
 
<!--Teacher Expectations-->
<!--Start of new grid system with cards-->
<section class="font-sans">
<div class="flex p-10 bg-grey-lighter">
  <div class="w-1/3 mx-6 rounded bg-white rounded">
    <!--Start of Card-->					
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
      <img class="w-full" src="https://previews.dropbox.com/p/thumb/AAWQGTRwuJ-5pdq7Ck5ZmZy7_wRbPlEiG-Opt9PTTZbWHl4hPesmfq08YFwD8HimPQ_kBmyALhOubh3kFgBhbLMDtOppz58aSrk6Wn0cYVbdeekUG6Z7Y_Ax_X2nA2thdm1-g83hxfEifyJN75MtJOpmshrRQMAl8ef1wb2WlJIVHsPwsfCkt0Kr71o5iuDEcZ9NkQf6QakTxLf5r8nhzahcq6uCpPSQ264iXnClUN7IYQ/p.jpeg?size=2048x1536&size_mode=3" alt="Sunset in the mountains">
      <div class="px-6 py-4">
        <div class="font-bold text-xl">Jorge Carrasco</div>
        <div class="text-lg mb-2">Senior Teacher</div>
        <p class="text-grey-darker text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
            
          <div class="mt-4"><p class="my-4 text-xl text-purple">Available in:</p>
            <ul class="text-left text-lg text-purple font-thin">
              <li>Poblado</li>
              <li>Envigado</li>
              <li>Laureles</li>
            </ul>
          </div> 
          
        </p>
      </div>
      <div class="px-6 py-4">
        <a href="teacher-jorge-carrasco" class="no-underline inline-block bg-purple-lighter rounded-full px-3 py-1 text-md font-semibold mr-2">Read Bio</a>

      </div>
    </div>
    <!--End of Card-->
  </div>
  <div class="w-1/3 mx-6 bg-white rounded">
    <!--Start of Card-->					
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
      <img class="w-full" src="https://previews.dropbox.com/p/thumb/AAUa4WEi6bvY0K_ztJVmp5OpVQ7XUltkGa-vt9rV8Ox2k05GQWqC42nugK07uxmyRaZXpyaQ1KnbeKtad6KDUH2ALTMONc_ay2GBarcFD_UYGyn-ikRWdvi33ylcKFXor0T2s7hK0slnayuXgQgP3Qu3rwZbSpMrhAK_Vi-4CLUgKs99HrE_C0rDePhq5-9zkMgmI1W_r2xcXxKUaVFpecOS3EV9qa1w2KV9Q-Wd0b7LtA/p.jpeg?size=2048x1536&size_mode=3" alt="Sunset in the mountains">
      <div class="px-6 py-4">
        <div class="font-bold text-xl">Mya Alverez</div>
        <div class="text-lg mb-2">Junior Teacher</div>
        <p class="text-grey-darker text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
           <div class="mt-4"><p class="my-4 text-xl text-purple">Available in:</p>
            <ul class="text-left text-lg text-purple font-thin">
              <li>Poblado</li>
              <li>Envigado</li>
              <li>Industriales</li>
            </ul>
          </div> 
        
        
        </p>
      </div>
      <div class="px-6 py-4">
        <a href="teacher-mya-alverez" class="no-underline inline-block bg-purple-lighter rounded-full px-3 py-1 text-md font-semibold mr-2">Read Bio</a>
      </div>
    </div>
    <!--End of Card-->
  </div>
  <div class="w-1/3 mx-6 bg-white rounded">
    <!--Start of Card-->					
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
      <img class="w-full" src="https://previews.dropbox.com/p/thumb/AAXXvsoBHdkj5zL60W_AkE0BDPphplpYUb2UFZdeElM5ysE7C5gW2nhzp7GC55Tzj0QH_MtNetJYUJdd8OXb_6VSlchs3LV9LYmT5JmxXBUnuYCp_o5PHeGqlQlWEgRRU40yhD1ER6nJivKoNiuNdM37s_US1Aaa1weVsJ-A8VOurRRk65FbLpOelVsGpryMp8ZP9GQh5354CxrxWE5VNQD4zgUHgjmu7pOY0BK73y5W0A/p.jpeg?size=2048x1536&size_mode=3" alt="Sunset in the mountains">
      <div class="px-6 py-4">
        <div class="font-bold text-xl">Maria Jose Montiel</div>
        <div class="text-lg mb-2">Junior Teacher</div>
        <p class="text-grey-darker text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
          <div class="mt-4"><p class="my-4 text-xl text-purple">Available in:</p>
            <ul class="text-left text-lg text-purple font-thin">
              <li>Laureles</li>
              <li>Estadio</li>
              <li>La Floresta</li>
            </ul>
          </div> 
        
        
        </p>
      </div>
      <div class="px-6 py-4">
        <a href="teacher-maria-jose-montiel"class="no-underline inline-block bg-purple-lighter rounded-full px-3 py-1 text-md font-semibold mr-2">Read Bio</a>
      </div>
    </div>
    <!--End of Card-->
  </div>
</div>
  </div>
    <!--CTA--> 
    <div class="text-center py-10 bg-grey-lighter">
      <a href="#" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold bg-purple hover:bg-purple-light mb-4">Get Started</a>
    </div>
    <!--CTA-->
</section>
