<section class="font-sans">
    <div class="container mx-auto px-6 my-20">
        <div class="mb-16 text-center">
            <h2 class="text-2xl mb-2 text-3xl purple-dark uppercase font-bold">Spanish Teachers</h2>
            <p class="text-lg text-space text-grey-dark leading-loose font-thin">Experts at personalized lessons.</p>
        </div>
    </div>
</section>
            
            <!-- start of new grid system with cards-->
<section class= "font-sans bg-purple-lightest">
<div class="px- pb-20 pt-10 container ">
  <div class="items-center flex mx-6">
    <div class="w-1/3 px-2">
      <div class=" h-12"></div>
       <div class="bg-white mx-auto max-w-sm shadow-lg rounded-lg overflow-hidden">
              <div class="sm:flex sm:items-center px-6 py-4">
                 <img class="block h-16 sm:h-24 rounded-full mx-auto mb-4 sm:mb-0 sm:mr-4 sm:ml-0" src="https://avatars2.githubusercontent.com/u/4323180?s=400&u=4962a4441fae9fba5f0f86456c6c506a21ffca4f&v=4" alt="">
                    <div class="text-center sm:text-left sm:flex-grow">
                      <div class="mb-4">
                        <p class="text-xl leading-tight">Jorge Carrasco</p>
                        <p class="text-sm leading-tight text-grey-dark">Owner, Premium Teacher</p>
                        <br>
                        <p class=text-sm "leading-tight">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
                      </div>
                    <div>
                            <button class="text-xs font-semibold rounded-full px-4 py-1 leading-normal bg-white border border-purple text-purple hover:bg-purple hover:text-white">Read Bio</button>
                            <button class="text-xs font-semibold rounded-full px-4 py-1 leading-normal bg-white border border-purple text-purple hover:bg-purple hover:text-white">Get Started</button>
                        </div>
                    </div>
                  </div>
                </div>

    </div>
    <div class="w-1/3 px-2">
      <div class=" h-12"></div>
       <div class="bg-white mx-auto max-w-sm shadow-lg rounded-lg overflow-hidden">
              <div class="sm:flex sm:items-center px-6 py-4">
                 <img class="block h-16 sm:h-24 rounded-full mx-auto mb-4 sm:mb-0 sm:mr-4 sm:ml-0" src="https://avatars2.githubusercontent.com/u/4323180?s=400&u=4962a4441fae9fba5f0f86456c6c506a21ffca4f&v=4" alt="">
                    <div class="text-center sm:text-left sm:flex-grow">
                      <div class="mb-4">
                        <p class="text-xl leading-tight">Mya Alverez</p>
                        <p class="text-sm leading-tight text-grey-dark">Standard Teacher</p>
                        <br>
                        <p class=text-sm "leading-tight">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
                      </div>
                    <div>
                            <button class="text-xs font-semibold rounded-full px-4 py-1 leading-normal bg-white border border-purple text-purple hover:bg-purple hover:text-white">Read Bio</button>
                            <button class="text-xs font-semibold rounded-full px-4 py-1 leading-normal bg-white border border-purple text-purple hover:bg-purple hover:text-white">Get Started</button>
                        </div>
                    </div>
                  </div>
                </div>

    </div>
    <div class="w-1/3 px-2">
      <div class=" h-12"></div>
       <div class="bg-white mx-auto max-w-sm shadow-lg rounded-lg overflow-hidden">
              <div class="sm:flex sm:items-center px-6 py-4">
                 <img class="block h-16 sm:h-24 rounded-full mx-auto mb-4 sm:mb-0 sm:mr-4 sm:ml-0" src="https://avatars2.githubusercontent.com/u/4323180?s=400&u=4962a4441fae9fba5f0f86456c6c506a21ffca4f&v=4" alt="">
                    <div class="text-center sm:text-left sm:flex-grow">
                      <div class="mb-4">
                        <p class="text-xl leading-tight">Maria Jose Montiel </p>
                        <p class="text-sm leading-tight text-grey-dark">Standard Teacher</p>
                        <br>
                        <p class=text-sm "leading-tight">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
                      </div>
                    <div>
                            <button class="text-xs font-semibold rounded-full px-4 py-1 leading-normal bg-white border border-purple text-purple hover:bg-purple hover:text-white">Read Bio</button>
                            <button class="text-xs font-semibold rounded-full px-4 py-1 leading-normal bg-white border border-purple text-purple hover:bg-purple hover:text-white">Get Started</button>
                        </div>
                    </div>
                  </div>
                </div>

    </div>
  </div>
</div>
</div>
</section>



<section class=" overflow-hidden">
  <div class="container rounded-lg shadow-lg bg-purple-lightest mx-auto px-6 text-center my-4">
      <div class="mb-16">
          <p class="text-lg text-spacepurple leading-loose font-normal">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p>
      </div>
      <div class="flex flex-wrap block my-24">
          <div class="px-6 mb-8 w-full md:w-1/3"><img alt="Setup" src="/images/setup.svg" class="lazy mb-6">
              <p class="text-lg font-bold text-spacepurple mb-4">Sign Up</p>
              <p class="text-md leading-loose font-normal text-spacepurple-light">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui</p>
          </div>
          <div class="px-6 mb-8 w-full md:w-1/3"><img alt="Watch" src="/images/watch.svg" class="lazy mb-6">
              <h2 class="text-lg font-bold text-spacepurple mb-4"> We Reachout</h2>
              <p class="text-md leading-loose font-normal text-spacepurple-light">ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut</p>
          </div>
          <div class="px-6 mb-8 w-full md:w-1/3"><img alt="Increase" src="/images/increase.png" class="lazy mb-6">
              <h2 class="text-lg font-bold text-spacepurple mb-4">Have your first lesson</h2>
              <p class="text-md leading-loose font-normal text-spacepurple-light">adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et</p>
          </div>
      </div>
  </div>
</section>
  <div class="text-center py-20">
    <a href="#" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold bg-purple hover:bg-purple-light mb-4">Get Started</a>
      <div class="font-light text-spacepurple-light text-sm pb-6">First Lesson is Free</div>
  </div>
      
        