<!--Title Section-->
<section class="font-sans">
    <div class=" mx-auto px-6 mt-10 border-b-4 border-grey-light">
        <div class="mb-16 text-center">
            <h2 class="text-2xl mb-2 text-3xl purple-dark uppercase font-bold">Spanish Teachers</h2>
            <p class="text-lg text-space text-grey-dark leading-loose font-thin">Experts at personalized lessons.</p>
        </div>
    </div>
</section>
<!--Title Section-->
            
<!--Start of new grid system with cards-->
<section class="font-sans">
<div class="flex p-10 bg-grey-lighter">
  <div class="w-1/3 mx-6 rounded bg-white rounded">
    <!--Start of Card-->					
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
      <img class="w-full" src="https://previews.dropbox.com/p/thumb/AARHmh7WtSn5FA5Por1IoahivEMwy55Tc8Eld6lJWaDvg5km61QgYjijN4AxYsbpioWDNZm51khTtzFB3pdo_wtm51F2vk-Y80WKQSdN0TjqSPd9hvB-Dcrb17QqZWpoX_KiWQbrPuyBgQRPtH1pLTIzf2ivGC4AURTgKhXDuadS1hwAqsM0ZMBaZpOIvVjiiLmOnJUHrZA1OpQAYrGHJE9Ufxqx6epC6bCMQeeoUc4riw/p.jpeg?size=2048x1536&size_mode=3" alt="Sunset in the mountains">
      <div class="px-6 py-4">
        <div class="font-bold text-xl">Jorge Carrasco</div>
        <div class="text-lg mb-2">Owner, Premium Teacher</div>
        <p class="text-grey-darker text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
        </p>
      </div>
      <div class="px-6 py-4">
        <a href="teacher-jorge-carrasco" class="no-underline inline-block bg-purple-lighter rounded-full px-3 py-1 text-md font-semibold mr-2">Read Bio</a>

      </div>
    </div>
    <!--End of Card-->
  </div>
  <div class="w-1/3 mx-6 bg-white rounded">
    <!--Start of Card-->					
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
      <img class="w-full" src="https://previews.dropbox.com/p/thumb/AAT_mj04XyLmeoDE2UJY2Qnu_JKilFxSqe7MENq-8FXcmJ3siRJt9-FJQnjQIsMIG-2-7RT4BJsp-L7_kH0c8QCRNP4LjI2ind_DJjqaM21_vzdQXZ3oJ1GCNX7lf6TFI0ADJMOdTRAJ9KYyT492aVSHv4125m7NTCYIwwBkXhxGwlPuwMbWH4x8OOEC_7axL8L9l_GD1LF2w3RiKdvvOydQCWOxqbJdJ_o8b_rwFRKwpg/p.jpeg?size=2048x1536&size_mode=3" alt="Sunset in the mountains">
      <div class="px-6 py-4">
        <div class="font-bold text-xl">Mya Alverez</div>
        <div class="text-lg mb-2">Teacher</div>
        <p class="text-grey-darker text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
        </p>
      </div>
      <div class="px-6 py-4">
        <a href="teacher-mya-alverez" class="no-underline inline-block bg-purple-lighter rounded-full px-3 py-1 text-md font-semibold mr-2">Read Bio</a>
      </div>
    </div>
    <!--End of Card-->
  </div>
  <div class="w-1/3 mx-6 bg-white rounded">
    <!--Start of Card-->					
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
      <img class="w-full" src="https://previews.dropbox.com/p/thumb/AASEyW4knFy5pNK4ukVbODXl_lAsEVvHAB40lvVmXsANE7ig6Hwe-WploVoqJEz1P3B6T6j_3ZBHWwe_dffzInx6gs2MU4n6pgKz1f863Qkrf79Vj8CBFiGuY60g21iT_GYoQazrpoYSQTnTRd6NffTj8Um7apT6TnDtCa0YwXeOwieBrTA3jufjAd5oYhfXq_TccYJgTuNXitb9z1q2uwotLj7TTzHamcsnWcJAa42hBA/p.jpeg?size=2048x1536&size_mode=3" alt="Sunset in the mountains">
      <div class="px-6 py-4">
        <div class="font-bold text-xl">Maria Jose Montiel</div>
        <div class="text-lg mb-2">Maria Jose Montiel</div>
        <p class="text-grey-darker text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
        </p>
      </div>
      <div class="px-6 py-4">
        <a href="teacher-maria-jose-montiel"class="no-underline inline-block bg-purple-lighter rounded-full px-3 py-1 text-md font-semibold mr-2">Read Bio</a>
      </div>
    </div>
    <!--End of Card-->
  </div>
</div>
  </div>
    <!--CTA--> 
    <div class="text-center py-10 bg-grey-lighter">
      <a href="#" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold bg-purple hover:bg-purple-light mb-4">Get Started</a>
        <div class="font-light text-spacepurple-light text-sm pb-6">First Lesson is Free</div>
    </div>
    <!--CTA-->
</section>
  <!--Outro-->
    <div class="flex items-end bg-grey-lighter pt-10">
      <div class="flex-1 text-grey-darker text-center px-4 py-2 m-2"></div>
      <div class="flex-1 text-grey-darker text-center px-4 py-2 m-2"><img src="https://previews.dropbox.com/p/thumb/AAThAHtp-mVAQadB9WbJvJTjUokdxyHoiZDBKanOmmtxHdvavFJMIdcKXTFXjzZvMpdUvkzgoN6h51Sxt2vjgZFIAaH-8RZeYsn2Bm0_RgG1JKgJqsg12M84VZ2TnpmLLBl2pcQTPdX6k3GeQ5rarkBxX_BUfisxQrmLZ-VYFA2_42zmEfAIZGJu_4FniqDPcZb38bUMUUNFfQFdoWLMgZFo-GSJnhdv3qIwU1x0YgDJYQ/p.png?size=2048x1536&size_mode=3" alt="Feedr hero illustration" class="image-center px-6 sm:w-4/5 md:w-5/5 lg:pr-0 lg:pl-8 lg:w-5//5"></div>
      <div class="flex-1 text-grey-darker text-center px-4 py-2 m-2"></div>
    </div>
   <!--Outro-->