

<section id="channels" class="bg-blue-lightest overflow-hidden">
                <div class="container mx-auto px-6 my-20">
                    <div class="mb-16 text-center">
                        <h2 class="text-2xl mb-5 text-spaceblue-dark uppercase font-bold">Channels</h2>
                        <p class="text-lg text-spaceblue leading-loose font-normal">We support all major sales channels as listed below. Let us know if we've missed one.</p>
                    </div>
                    <div class="flex flex-wrap -mx-4 my-12">
                        <div class="w-1/2 sm:w-1/3 md:w-1/4 lg:w-1/6">
                            <div class="m-4 bg-white rounded-full shadow overflow-hidden p-10 border-2 border-transparent cursor-pointer"><img src="/images/channels/google.png" alt="Google Shopping" title="Google Shopping" class="img"></div>
                        </div>
                        <div class="w-1/2 sm:w-1/3 md:w-1/4 lg:w-1/6">
                            <div class="m-4 bg-white rounded-full shadow overflow-hidden p-10 border-2 border-transparent cursor-pointer"><img src="/images/channels/facebook.png" alt="Facebook Dynamic Remarketing" title="Facebook Dynamic Remarketing" class="img"></div>
                        </div>
                        <div class="w-1/2 sm:w-1/3 md:w-1/4 lg:w-1/6">
                            <div class="m-4 bg-white rounded-full shadow overflow-hidden p-10 border-2 border-transparent cursor-pointer"><img src="/images/channels/pricerunner.png" alt="Pricerunner" title="Pricerunner" class="img"></div>
                        </div>
                        <div class="w-1/2 sm:w-1/3 md:w-1/4 lg:w-1/6">
                            <div class="m-4 bg-white rounded-full shadow overflow-hidden p-10 border-2 border-transparent cursor-pointer"><img src="/images/channels/miinto.png" alt="Miinto" title="Miinto" class="img"></div>
                        </div>
                        <div class="w-1/2 sm:w-1/3 md:w-1/4 lg:w-1/6">
                            <div class="m-4 bg-white rounded-full shadow overflow-hidden p-10 border-2 border-transparent cursor-pointer"><img src="/images/channels/partnerads.png" alt="Partner-ads" title="Partner-ads" class="img"></div>
                        </div>
                        <div class="w-1/2 sm:w-1/3 md:w-1/4 lg:w-1/6">
                            <div class="m-4 bg-white rounded-full shadow overflow-hidden p-10 border-2 border-transparent cursor-pointer"><img src="/images/channels/compware.png" alt="Compware" title="Compware" class="img"></div>
                        </div>
                        <div class="w-1/2 sm:w-1/3 md:w-1/4 lg:w-1/6">
                            <div class="m-4 bg-white rounded-full shadow overflow-hidden p-10 border-2 border-transparent cursor-pointer"><img src="/images/channels/mailchimp.png" alt="Mailchimp" title="Mailchimp" class="img"></div>
                        </div>
                        <div class="w-1/2 sm:w-1/3 md:w-1/4 lg:w-1/6">
                            <div class="m-4 bg-white rounded-full shadow overflow-hidden p-10 border-2 border-transparent cursor-pointer"><img src="/images/channels/campaignmonitor.png" alt="Campaignmonitor" title="Campaignmonitor" class="img"></div>
                        </div>
                        <div class="w-1/2 sm:w-1/3 md:w-1/4 lg:w-1/6">
                            <div class="m-4 bg-white rounded-full shadow overflow-hidden p-10 border-2 border-transparent cursor-pointer"><img src="/images/channels/wish.png" alt="Wish" title="Wish" class="img"></div>
                        </div>
                        <div class="w-1/2 sm:w-1/3 md:w-1/4 lg:w-1/6">
                            <div class="m-4 bg-white rounded-full shadow overflow-hidden p-10 border-2 border-transparent cursor-pointer"><img src="/images/channels/ebay.png" alt="Ebay" title="Ebay" class="img"></div>
                        </div>
                        <div class="w-1/2 sm:w-1/3 md:w-1/4 lg:w-1/6">
                            <div class="m-4 bg-white rounded-full shadow overflow-hidden p-10 border-2 border-transparent cursor-pointer"><img src="/images/channels/coolshop.png" alt="Coolshop Marketplace" title="Coolshop Marketplace" class="img"></div>
                        </div>
                        <div class="w-1/2 sm:w-1/3 md:w-1/4 lg:w-1/6">
                            <div class="m-4 bg-white rounded-full shadow overflow-hidden p-10 border-2 border-transparent cursor-pointer"><img src="/images/channels/prisjakt.png" alt="Prisjakt" title="Prisjakt" class="img"></div>
                        </div>
                    </div>
                    <div class="text-center"><a href="https://app.feedr.dk/join" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold bg-blue hover:bg-blue-light mb-4">
		 Start 14 days free trial 	</a>
                        <div class="font-light text-spaceblue-light text-sm">No credit card needed during trial.</div>
                    </div>
                </div>
            </section>
            
            
            <!-- start of new grid system with cards-->
            
    <div class="flex mb-4">
      <div class="w-1/3 "></div>
          <div class="bg-white mx-auto max-w-sm shadow-lg rounded-lg overflow-hidden">
              <div class="sm:flex sm:items-center px-6 py-4">
                 <img class="block h-16 sm:h-24 rounded-full mx-auto mb-4 sm:mb-0 sm:mr-4 sm:ml-0" src="https://avatars2.githubusercontent.com/u/4323180?s=400&u=4962a4441fae9fba5f0f86456c6c506a21ffca4f&v=4" alt="">
                    <div class="text-center sm:text-left sm:flex-grow">
                      <div class="mb-4">
                        <p class="text-xl leading-tight">Adam Wathan</p>
                        <p class="text-sm leading-tight text-grey-dark">Developer at NothingWorks Inc.</p>
                      </div>
                        <div>
                            <button class="text-xs font-semibold rounded-full px-4 py-1 leading-normal bg-white border border-purple text-purple hover:bg-purple hover:text-white">Message</button>
                        </div>
                    </div>
                  </div>
                </div>

      <div class="w-1/3 "></div>
      <div class="w-1/3 "></div>
    </div>