<section class="font-sans">
    <div class="container mx-auto px-6 my-20">
        <div class="mb-16 text-center">
            <h2 class="text-2xl mb-2 text-3xl purple-dark uppercase font-bold">Spanish Teachers</h2>
            <p class="text-lg text-space text-grey-dark leading-loose font-thin">Experts at personalized lessons.</p>
        </div>
    </div>
</section>
            
            <!-- start of new grid system with cards-->
<section class="font-sans">
<div class="flex mb-4 p-10 bg-grey-darkest">
  <div class="w-1/3 mx-6rounded">
    <!--Start of Card-->					
    <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white">
      <img class="block h-16 sm:h-24 rounded-full mx-auto mb-4 sm:mb-0 sm:mr-4 sm:ml-0 " src="https://tailwindcss.com/img/card-top.jpg" alt="Sunset in the mountains">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">An Amazing Experience</div>
        <p class="text-grey-darker text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
        </p>
      </div>
      <div class="px-6 py-4">
        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2">#Fast</span>
        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2">#Professional</span>
        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker">#Fun</span>
      </div>
    </div>
    <!--End of Card-->
    
  </div>
  <div class="w-1/3 mx-6 bg-white rounded">
    <!--Start of Card-->					
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
      <img class="w-full" src="https://tailwindcss.com/img/card-top.jpg" alt="Sunset in the mountains">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Super Fun Way to Learn</div>
        <p class="text-grey-darker text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
        </p>
      </div>
      <div class="px-6 py-4">
        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2">#Affordable</span>
        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2">#Exciting</span>
        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker">#Easy</span>
      </div>
    </div>
    <!--End of Card-->
  </div>
  <div class="w-1/3 mx-6 bg-white rounded">
    <!--Start of Card-->					
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
      <img class="w-full" src="https://tailwindcss.com/img/card-top.jpg" alt="Sunset in the mountains">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Great Value</div>
        <p class="text-grey-darker text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
        </p>
      </div>
      <div class="px-6 py-4">
        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2">#Value</span>
        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2">#Impressive</span>
        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker">#Fun</span>
      </div>
    </div>
    <!--End of Card-->
  </div>
</div>
  </div>
</section>
  <div class="text-center py-20">
    <a href="#" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold bg-purple hover:bg-purple-light mb-4">Get Started</a>
      <div class="font-light text-spacepurple-light text-sm pb-6">First Lesson is Free</div>
  </div>
  <!--Outro-->
<div class="flex items-end bg-grey-lighter pt-10">
  <div class="flex-1 text-grey-darker text-center px-4 py-2 m-2"></div>
  <div class="flex-1 text-grey-darker text-center px-4 py-2 m-2"><img src="https://previews.dropbox.com/p/thumb/AAThAHtp-mVAQadB9WbJvJTjUokdxyHoiZDBKanOmmtxHdvavFJMIdcKXTFXjzZvMpdUvkzgoN6h51Sxt2vjgZFIAaH-8RZeYsn2Bm0_RgG1JKgJqsg12M84VZ2TnpmLLBl2pcQTPdX6k3GeQ5rarkBxX_BUfisxQrmLZ-VYFA2_42zmEfAIZGJu_4FniqDPcZb38bUMUUNFfQFdoWLMgZFo-GSJnhdv3qIwU1x0YgDJYQ/p.png?size=2048x1536&size_mode=3" alt="Feedr hero illustration" class="image-center px-6 sm:w-4/5 md:w-5/5 lg:pr-0 lg:pl-8 lg:w-5//5"></div>
  <div class="flex-1 text-grey-darker text-center px-4 py-2 m-2"></div>
</div>
<!--Outro-->