<!-- start of first line -->
<div class="flex flex-wrap md:flex-no-wrap md:justify-between justify-center md:py-16 py-12 text-center">
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto"><img src="/assets/teacher/paula-pacheco.png" alt="swapnil-bhavsar" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Paula Pacheco</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">I'm basically a nature lover. Traveling is my passion, sharing experiences with people, and learning from them are one of the activities I enjoy the most, so the different languages and the communication became main skills I want to keep exploring. Come and join me in this journey!</p>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4 px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Adults</span>
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Kids</span>
                        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Poblado</span>
                        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Poblado</span>
                    </div>
                </div>
                <a href="/book-a-lesson" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4">Book a Lesson</a>

            </div>
        </div>
    </div>
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto shadow-inner"><img src="/assets/teacher/maria-herrera.png" alt="rajesh-dewle" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Maria herrera</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">Hi this is my self-describing..."Hi guys, I am a professional in communication and certified in ELE (Spanish as a foreign language). I love to travel and eat, so I know a bit of general culture. I'm super open and not just a teacher, I'm a friend. I want everyone to have a great experience with Spanish and my land Colombia".</p>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Adults</span>
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Kids</span>
                        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Poblado</span>
                        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Poblado</span>
                    </div>
                </div>
                <a href="/book-a-lesson" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4">Book a Lesson</a>

            </div>
        </div>
    </div>
    <div class="md:1/3 w-full ">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto shadow-inner"><img src="/assets/teacher/estephania-sandoval.png" alt="sumit-wagh" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Estephania Sandoval</h3>

            <p class="text-base text-grey text-center leading-normal mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div>
            <div class="items-center">
                <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Adults</span>
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Kids</span>
                        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Poblado</span>
                        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Poblado</span>
                </div>
            </div>

            <a href="/book-a-lesson" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4">Book a Lesson</a>

        </div>
    </div>
</div>
<!-- end of first line -->




<!-- start of second line -->
<div class="flex flex-wrap md:flex-no-wrap md:justify-between justify-center md:py-16 py-12 text-center">
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto"><img src="/assets/teacher/ana-salazar.png" alt="swapnil-bhavsar" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Ana Salazar</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Adults</span>
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Kids</span>
                        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Poblado</span>
                        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Poblado</span>
                    </div>
                </div>
                <a href="/book-a-lesson" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4">Book a Lesson</a>

            </div>
        </div>
    </div>
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto shadow-inner"><img src="/assets/teacher/esteban.png" alt="rajesh-dewle" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Esteban</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">Hello.....Movies, series and books lover. I´m sure that there is not just one way to learn nor teach a lenguaje , however in my experience, I can say that it is easier, when you have something interesting to say! Let´s live this Adventure together ¡y ándale!</p>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Adults</span>
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Kids</span>
                        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Poblado</span>
                        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Poblado</span>
                    </div>
                </div>
                <a href="/book-a-lesson" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4">Book a Lesson</a>

            </div>
        </div>
    </div>
    <div class="md:1/3 w-full ">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto shadow-inner"><img src="/assets/teacher/juan-david-ballesteros" alt="sumit-wagh" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Juan David Ballesteros</h3>

            <p class="text-base text-grey text-center leading-normal mb-4">Family man, lived and studied in the U.S for ten years, love languages and teaching. More than twenty years as a teacher who likes to share his knowledge and experience.</p>
        </div>
        <div>
            <div class="items-center">
                <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Adults</span>
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Kids</span>
                        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Poblado</span>
                        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Poblado</span>
                </div>
            </div>

            <a href="/book-a-lesson" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4">Book a Lesson</a>

        </div>
    </div>
</div>
<!-- end of second line -->


<!-- start of third line -->
<div class="flex flex-wrap md:flex-no-wrap md:justify-between justify-center md:py-16 py-12 text-center">
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto"><img src="/assets/teacher/alcides-verde" alt="swapnil-bhavsar" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Alcides Verde</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">Al Verde " Chemical Engineer out of Louisiana State University, USA.
 North American and Venezuelan nationality. Colombian residency.
 Have taught English and Spanish over a good period of years.
 Two lovely daughters, fortunately graduated from College at this time.
 Like nature and the outdoor very much. Reading is one of my favorites."</p>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Adults</span>
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Kids</span>
                        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Poblado</span>
                        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Poblado</span>
                    </div>
                </div>
                <a href="/book-a-lesson" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4">Book a Lesson</a>

            </div>
        </div>
    </div>
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto shadow-inner"><img src="/assets/teacher/daniel-richardson.png" alt="rajesh-dewle" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Daniel Richardson</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">Musician, father of two lovely girls, in love with traveling, knowing and sharing. Both english and french have opened many doors and have given me beautiful experiencies. Now I wait for you!
</p>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Adults</span>
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Kids</span>
                        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Poblado</span>
                        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Poblado</span>
                    </div>
                </div>
                <a href="/book-a-lesson" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4">Book a Lesson</a>

            </div>
        </div>
    </div>
    <div class="md:1/3 w-full ">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto shadow-inner"><img src="/assets/teacher/yulieth-gomez.png" alt="sumit-wagh" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Yulieth Gomez</h3>

            <p class="text-base text-grey text-center leading-normal mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div>
            <div class="items-center">
                <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Adults</span>
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Kids</span>
                        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Poblado</span>
                        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Poblado</span>
                </div>
            </div>

            <a href="/book-a-lesson" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4">Book a Lesson</a>

        </div>
    </div>
</div>
<!-- end of third line -->