    <!--Start of Card-->					
    <div class="max-w-sm rounded overflow-hidden shadow-lg mx-2">
      <img class="w-full" src="/assets/headshots/jorge-carrasco.jpg" alt="Sunset in the mountains">
      <div class="px-6 py-4">
        <div class="font-bold text-xl text-grey-darkest mb-2">Jorge Carrasco</div>
        <p class="text-grey-darker text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
        </p>
      </div>
      <div class="px-6 py-4">
        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2">#Poblado</span>
      </div>
    </div>
    <!--End of Card-->
    
  </div>
  <div class="w-full sm:w-1/2 md:w-1/3 my-4">
    <!--Start of Card-->					
    <div class="max-w-sm rounded overflow-hidden shadow-lg mx-2">
      <img class="h-25 w-25" src="/assets/headshots/mya-alverez-circle.png" alt="Sunset in the mountains">
      <div class="px-6 py-4">
        <div class="font-bold text-xl text-grey-darkest mb-2">Mya Alverez</div>
        <p class="text-grey-darker text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
        </p>
      </div>
      <div class="px-6 py-4">
        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2">#Poblado</span>
        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2">#Laureles</span>
      </div>
    </div>
    <!--End of Card-->
  </div>
  <div class="w-full sm:w-1/2 md:w-1/3 my-4">
    <!--Start of Card-->					
    <div class="max-w-sm rounded overflow-hidden shadow-lg mx-2">
      <img class="w-full" src="/assets/headshots/maria-jose-montiel.jpg" alt="Sunset in the mountains">
      <div class="px-6 py-4">
        <div class="font-bold text-xl text-grey-darkest mb-2">María José Montiel</div>
        <p class="text-grey-darker text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
        </p>
      </div>
      <div class="px-6 py-4">
        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2">#Poblado</span>
        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2">#Laureles</span>
      </div>
    </div>
    <!--End of Card-->
  </div>
</div>
    <!--CTA--> 
    <div class="text-center py-10 bg-grey-lighter">
      <a href="#" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold bg-purple hover:bg-purple-light mb-4">Get Started</a>
    </div>
    <!--CTA-->
</section>
