<!-- start of first line -->
<div class="flex flex-wrap md:flex-no-wrap md:justify-between justify-center md:py-16 py-12 text-center">
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class=""><img src="/assets/resources/banner-.jpg" alt="swapnil-bhavsar" class="w-full"></div>
       