<!--Title Section-->
<section class="mx-auto px-6 mt-10 border-b-4 border-t-4 background-grey-darker opacity-50" style="background-image: url(http://startuphook.com/wp-content/uploads/2015/06/medellin1.jpg)">
    <div class="mx-auto px-6 my-20 ">
        <div class="mb-16 text-center">
            <h2 class="text-2xl mb-2 text-3xl purple-dark uppercase font-bold">The Vertical Method.</h2>
            <p class="text-lg text-space text-grey-dark leading-loose font-thin">Master logic to an incredible experiance.</p>
        </div>
    </div>
</section>
<!--Title Section-->