<nav class="md:hidden lg:hidden lx:hidden bg-grey-lighter">
    
    <!-- Top Navigation Menu -->
    <div class="no-underline items-center">
      
      <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
    <div class="flex p-4 border-b-2 border-purple bg-grey-lighter">
      <div class="w-1/2">
        <a href="/" class="ml-4 text-xl no-underline">Vertical Spanish</a>
          </div>
      <div class="w-1/2 justify-end">
        <a href="javascript:void(0);" onclick="myFunction()"><image class="justify-right  justify-end" src="https://previews.dropbox.com/p/thumb/AAXhERspolsqYdmi0x0JMixo4U60aScbzEUN3G-rZluZDWqCjDEpkV5ng4QYsaH8FvjdAGW32AiexhF2p2IGNdkwwrcLo_FbqaWephUZGtH4S1uzao12EvJwvfn-0nqFlqTb61BSUlhYyeY-EVf6PEzl53XD3jQ2VFwWDKSoK7RQWr7jkrVGuVXgu_faYG5zgOmMEegVnRHUA0oVPeA2qGsKGk_0QP4DcpBkhVZLE8vpHQ/p.png?size=2048x1536&size_mode=3"></image></a>
          </div>
    </div>

  <script>
    $('.menu').slicknav('close');
  </script>

      <!-- Navigation links (hidden by default) -->
      
      <link rel="stylesheet" href="SlickNav/slicknav.css" />
        <script src="SlickNav/jquery.slicknav.min.js"></script>
      
      
      <div id="myLinks" class="h-screen py-20 no-underline text-center text-xl text-purple bg-grey-lighter">
        <ul class="menu">
          <a class="py-8 no-underline" href="/method">Method</a>
              <br>
              <br>
          <a class="py-8 no-underline" href="/spanish-school-medellin">Teachers</a>
              <br>
              <br>
          <a class="py-8 no-underline" href="/pricing">Pricing</a>
              <br>
              <br>
          <a class="py-8 no-underline" href="/contact">Contact</a>
              <br>
              <br>

        </ul>
      </div>
    </div>
</nav>
<!--Mobile Nav-->

<script>
	$(function(){
		$('#menu').slicknav();
	});
</script>
