 <div class="text-center">
    <a href="#" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4">Become a Student</a>
        <div class="font-light text-spacepurple-light text-sm">First Lesson is Free!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>