<section>
    <div class="container mx-auto px-6 my-20">
        <div class="mb-16 text-center">
            <h2 class="text-2xl mb-2 text-3xl indigo-dark uppercase font-bold">The Vertical Method</h2>
            <p class="text-lg text-space test-grey leading-loose font-thin">Take your Spanish to the next level.</p>
        </div>
    </div>
</section>
