<section class="bg-white">
    <div class="container mx-auto py-12">
        <h2 class="font-gilroy-bold text-3xl md:text-4xl  pl-6 md:pl-0 md:text-center pt-8">What people are saying</h2>

        <!-- mansory grid using flex -->
        <div class="w-full px-6 md:px-0 md:mx-auto md:w-full flex flex-wrap mt-8">
            <div class="w-full md:w-1/2 md:w-1/3 flex mansory flex-wrap flex-col items-start">
                <div class="w-full p-2 md:p-4">
                    <div class="rounded-md shadow-lg">
                        <div class="bg-cover w-full h-56 bg-center bg-no-repeat rounded-t retina-bg" srcset="https://static.mindvalley.com/public/assets/2018/07/HFVw_buzz-testimn-txt-2_2x.jpg" style="background-image: url('https://static.mindvalley.com/public/assets/2018/07/HFVw_buzz-testimn-txt-2_2x.jpg');">
                        </div>
                        <div class="contents p-6">
                            <h1 class="font-gilroy-bold text-2xl">"Thanks to the generous support from A-Fest"</h1>
                            <p class="font-gilroy-regular leading-normal mt-3 text-grey-dark">"We were able to embark on the largest household sanitation pilot project in Haiti and provide sanitation solutions to thousands of people."</p>
                            <div class="font-gilroy-bold mb-2 mt-4">Patricia Arquette</div>
                            <p class="block font-gilroy-medium text-xs md:text-sm leading-normal">Emmy and Golden Globe Award Winning Actress and Founder of Give Love Haiti.</p>

                        </div>
                    </div>
                </div>

                <div class="w-full p-2 md:p-4">
                    <div class="rounded-md shadow-lg">
                        <div class="bg-cover w-full h-56 bg-center bg-no-repeat rounded-t retina-bg" srcset="https://static.mindvalley.com/public/assets/2018/08/ThNF_testi-tom.jpg" style="background-image: url(&quot;https://static.mindvalley.com/public/assets/2018/08/ThNF_testi-tom.jpg&quot;);">
                        </div>
                        <div class="contents p-6">
                            <h1 class="font-gilroy-bold text-2xl">"People here have professional goals and ambitions"</h1>
                            <p class="font-gilroy-regular leading-normal mt-3 text-grey-dark">"A really unique community has come together to support each other. People here have professional goals and ambitions, but are also trying to look at how one can be conscious in the process of doing business."</p>
                            <div class="font-gilroy-bold mb-2 mt-4">Tom Chi</div>
                            <p class="block font-gilroy-medium text-xs md:text-sm leading-normal">Co-Founder of Google X, Creator of the First Google Glass prototype</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full md:w-1/2 md:w-1/3 flex mansory flex-wrap flex-col items-start">

                <div class="w-full p-2 md:p-4">
                    <div class="rounded-md shadow-lg">
                        <div class="bg-cover w-full h-56 bg-center bg-no-repeat rounded-t retina-bg" srcset="https://static.mindvalley.com/public/assets/2018/08/7yqu_testi-anousheh.jpg" style="background-image: url(&quot;https://static.mindvalley.com/public/assets/2018/08/7yqu_testi-anousheh.jpg&quot;);">
                        </div>
                        <div class="contents p-6">
                            <h1 class="font-gilroy-bold text-2xl">"It's been an incredible, loving experience"</h1>
                            <p class="font-gilroy-regular leading-normal mt-3 text-grey-dark">"To me it's a place where people come to break new ground and leave all their inhibitions behind."</p>
                            <div class="font-gilroy-bold mb-2 mt-4">Anousheh Ansari</div>
                            <p class="block font-gilroy-medium text-xs md:text-sm leading-normal">Backer of the Ansari X Prize, Astronaut and pioneer in Private Space Travel.</p>
                        </div>
                    </div>
                </div>

                <div class="w-full p-2 md:p-4  hidden md:block">
                    <div class="rounded-md shadow-lg">
                        <div class="bg-cover w-full h-56 bg-center bg-no-repeat rounded-t retina-bg" srcset="https://static.mindvalley.com/public/assets/2018/08/Vh2U_testi-khailee.jpg" style="background-image: url(&quot;https://static.mindvalley.com/public/assets/2018/08/Vh2U_testi-khailee.jpg&quot;);">
                        </div>
                        <div class="contents p-6">
                            <h1 class="font-gilroy-bold text-2xl">"I've met some really amazing people"</h1>
                            <p class="font-gilroy-regular leading-normal mt-3 text-grey-dark">"In a short span of time, I’ve only been here for a day and one night, I’ve met some really amazing people. People you wouldn’t normally meet. And even if you did meet them, it wouldn’t be in a context where you could connect with them so easily, and build what I imagine are lasting friendships."</p>
                            <div class="font-gilroy-bold mb-2 mt-4">Khailee Ng</div>
                            <p class="block font-gilroy-medium text-xs md:text-sm leading-normal">Investor, Managing Director of 500 Startups, and Founder of Groupon Asia &amp; SAYS</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="w-full md:w-1/2 md:w-1/3 flex mansory flex-wrap flex-col items-start">

                <div class="w-full p-2 md:p-4  hidden md:block">
                    <div class="rounded-md shadow-lg">
                        <div class="bg-cover w-full h-56 bg-center bg-no-repeat rounded-t retina-bg" srcset="https://static.mindvalley.com/public/assets/2018/07/65eU_buzz-testimn-txt-1_2x.jpg" style="background-image: url('https://static.mindvalley.com/public/assets/2018/07/65eU_buzz-testimn-txt-1_2x.jpg');">
                        </div>
                        <div class="contents p-6">
                            <h1 class="font-gilroy-bold text-2xl">"Honestly, I love this and want to come every year.."</h1>
                            <p class="font-gilroy-regular leading-normal mt-3 text-grey-dark">"If you have any desire to hang out with really wonderful, smart conscious people who are doing great stuff in the world, just buy a ticket and get on a plane."</p>
                            <div class="font-gilroy-bold mb-2 mt-4">Jeff Marx</div>
                            <p class="block font-gilroy-medium text-xs md:text-sm leading-normal">Tony Award-winning Creator of Avenue Q</p>
                        </div>
                    </div>
                </div>

                <div class="w-full p-2 md:p-4  hidden md:block">
                    <div class="rounded-md shadow-lg">
                        <div class="bg-cover w-full h-56 bg-center bg-no-repeat rounded-t retina-bg" srcset="https://static.mindvalley.com/public/assets/2018/07/dJyf_buzz-testimn-txt-5_2x.jpg" style="background-image: url('https://static.mindvalley.com/public/assets/2018/07/dJyf_buzz-testimn-txt-5_2x.jpg');">
                        </div>
                        <div class="contents p-6">
                            <h1 class="font-gilroy-bold text-2xl">"I've met the most awesome people."</h1>
                            <p class="font-gilroy-regular leading-normal mt-3 text-grey-dark">"I've had such and amazing opening experience. The lecture and speakers have provided a guide to the way I want to live my life to make it easier and open."</p>
                            <div class="font-gilroy-bold mb-2 mt-4">Christine Bullock</div>
                            <p class="block font-gilroy-medium text-xs md:text-sm leading-normal">Owner of Christine Bullock and Go Lightly Fitness, Voted LA Hottest Trainer</p>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>