
            <div class="flex flex-wrap-reverse lg:flex-row justify-center lg:my-4 py-6 pb-16">
                <div class="w-full lg:w-1/4 text-left mx-8 pt-10">
                    <h3 class="text-indigo-darker font-bold text-3xl tracking-tight">1. Sign up online</h3>
                    <p class="leading-tight py-10 tracking-wide">Simply sign up online, all we need is some info about you and your debit / credit card details. No paperwork, no hassles, simply pick your speed and sign up.</p> <a href="https://tribeinternet.com.au/home/nbn-plans" class="bg-indigo text-white py-2 px-5 rounded no-underline hover:bg-indigo-dark">See our plans</a></div>
                <div class="w-full md:w-2/3 lg:w-1/4 text-center mx-4 lg:mx-10 pt-4"><img alt="sign up" src="/img/sign-up.png"></div>
            </div>
            <div class="flex flex-wrap lg:flex-row justify-center bg-grey-lighter lg:my-4 py-6 lg:py-10">
                <div class="w-full md:w-2/3 lg:w-1/4 text-center mx-4 lg:mx-10 pt-4"><img alt="activate" src="/img/activate.png"></div>
                <div class="w-full lg:w-1/4 text-left mx-8 pt-10">
                    <h3 class="text-indigo-darker font-bold text-3xl tracking-tight">2. We'll do the heavy lifting</h3>
                    <p class="leading-tight py-10 tracking-wide">If your address has already been connected to the nbn network, you can be activated the same day.
                        <br>
                        <br>If your address is being connected to the nbn for the first time, you will require an nbn technician to come by and install the necessary equipment. This process could take 5-7 days.
                        <br>
                        <br>$0 standard activation fee. We'll email you once you're active so you can set up your modem.</p>
                </div>
            </div>
            <div class="flex flex-wrap-reverse lg:flex-row justify-center lg:my-4 py-6">
                <div class="w-full lg:w-1/4 text-left mx-8 pt-10">
                    <h3 class="text-indigo-darker font-bold text-3xl tracking-tight">3. Cancel your old plan</h3>
                    <p class="leading-tight py-10 tracking-wide">Once your Tribe nbn service is up and running, contact your previous provider to disconnect your old internet service (and landline, if you no longer need it).</p>
                </div>
                <div class="w-full md:w-2/3 lg:w-1/4 text-center mx-4 lg:mx-10 pt-4 pb-6"><img alt="cancel" src="/img/cancel.png"></div>
            </div>
        </div>
        