<body class="font-sans antialiased text-black leading-tight bg-melker-lightest text-black" data-gr-c-s-loaded="true" style="">

    <main id="app">

        <div class="container lg:max-w-screen-lg mx-auto px-6 py-32">
            <div class="flex justify-center mb-4 flex-wrap">
                <div class="md:w-1/2 w-full p-6 md:pt-12 mb-4">
                    <h1 class="text-5xl">
				The first step is the hardest, take the leap.
			</h1>
                    <p class="text-melker-darkest text-2xl my-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation

                    </p>
                </div>
                <div class="w-full md:w-1/2 mb-10">
                    <div class="p-8 mx-auto rounded-lg shadow-lg bg-purple-lighter">
                        <h3 class="mb-2">Want to learn Spanish? Let's talk</h3>
                        <p class="mb-4">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation

                        </p>
                        <form class="w-full">
                            <div class="flex flex-col">
                                <label for="" class="font-bold leading-loose text-grey-darker text-sm uppercase block mb-2">
                                    Full Name
                                    <input type="text" class="bg-grey-lighter block rounded-sm text-black rounded py-3 px-4 focus:outline-none w-full border-none">
                                </label>
                                <!---->
                            </div>
                            <div class="flex flex-col">
                                <label for="" class="font-bold leading-loose text-grey-darker text-sm uppercase block mb-2">
                                    Email
                                    <input type="text" class="bg-grey-lighter block rounded-sm text-black rounded py-3 px-4 focus:outline-none w-full border-none">
                                </label>
                                <!---->
                            </div>
                            <div class="flex flex-col">
                                <label for="" class="font-bold leading-loose text-grey-darker text-sm uppercase block mb-2">
                                    Phone Number (Optional)
                                    <textarea class="bg-grey-lighter block rounded-sm text-black rounded py-3 px-4 focus:outline-none w-full border-none"></textarea>
                                </label>
                                <!---->
                            </div>
                            <button class="no-underline px-6 py-3 mt-4 rounded text-base text-white font-semibold bg-purple-light hover:bg-purple-light shadow-lg">
                                Send
                            </button>
                        </form>
                        <!---->
                        <hr class="border-grey-lighter my-4 mx-32 border">
                        <div class="w-full flex items-center justify-center my-6">
                            <ul class="list-reset">
                                <li class="font-bold text-center">
                                    Jorge Carrasco
                                </li>
                                <li><a href="mailto:jorge@verticalspanish.com" class="text-grey-darkest no-underline">jorge@verticalspanish.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex justify-center"></div>
        </div>
        <div class="bg-melker-dark bg-pattern">
            <div class="container lg:max-w-screen-lg mx-auto px-6 py-32 text-white">
                <h2>What you get.</h2>
                <div class="md:w-3/5 w-full mb-8">
                    <p class="text-xl text-melker-lighter">
                        When you work with me you get top quality code and a maintainable site or app. But what sets me apart is that I consider your business and objectives to make your site a champion working tirelessly to achieve your goals.
                    </p>
                </div>
                <ul class="list-reset text-melker-ligtest text-xl">
                    <li class="mb-4 flex items-center">
                        <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="min-h-6 min-w-6 h-6 w-6 text-green-lighter mr-2">
                            <path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM6.7 9.29L9 11.6l4.3-4.3 1.4 1.42L9 14.4l-3.7-3.7 1.4-1.42z"></path>
                        </svg>
                        An expert Wordpress, Laravel and PHP developer
                    </li>
                    <li class="mb-4 flex items-center">
                        <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="min-h-6 min-w-6 h-6 w-6 text-green-lighter mr-2">
                            <path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM6.7 9.29L9 11.6l4.3-4.3 1.4 1.42L9 14.4l-3.7-3.7 1.4-1.42z"></path>
                        </svg>
                        Business automation and digitalisation consultation
                    </li>
                    <li class="mb-4 flex items-center">
                        <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="min-h-6 min-w-6 h-6 w-6 text-green-lighter mr-2">
                            <path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM6.7 9.29L9 11.6l4.3-4.3 1.4 1.42L9 14.4l-3.7-3.7 1.4-1.42z"></path>
                        </svg>
                        Timely and detailed delivery
                    </li>
                    <li class="mb-4 flex items-center">
                        <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="min-h-6 min-w-6 h-6 w-6 text-green-lighter mr-2">
                            <path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM6.7 9.29L9 11.6l4.3-4.3 1.4 1.42L9 14.4l-3.7-3.7 1.4-1.42z"></path>
                        </svg>
                        Fast, accessible and optimized websites and apps
                    </li>
                    <li class="mb-4 flex items-center">
                        <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="min-h-6 min-w-6 h-6 w-6 text-green-lighter mr-2">
                            <path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM6.7 9.29L9 11.6l4.3-4.3 1.4 1.42L9 14.4l-3.7-3.7 1.4-1.42z"></path>
                        </svg>
                        Easy to use and maintain websites and applications
                    </li>
                </ul>
            </div>
        </div>
        <div class="container lg:max-w-screen-lg mx-auto px-6 py-32">
            <h2>Technology.</h2>
            <div class="md:w-3/5 mb-4">
                <p class="text-xl text-melker-darkest">
                    What kind of technology we use for your website depends entirely on your needs and goals.
                </p>
            </div>
            <div class="flex flex-wrap md:-mx-4">
                <div class="lg:w-1/3 md:w-1/2 w-full mb-8">
                    <div class="md:p-4 flex">
                        <div class="mr-3">
                            <svg fill="currentColor" aria-labelledby="simpleicons-wordpress-icon" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 text-melker">
                                <title id="simpleicons-wordpress-icon">WordPress icon</title>
                                <path d="M21.469 6.825c.84 1.537 1.318 3.3 1.318 5.175 0 3.979-2.156 7.456-5.363 9.325l3.295-9.527c.615-1.54.82-2.771.82-3.864 0-.405-.026-.78-.07-1.11m-7.981.105c.647-.03 1.232-.105 1.232-.105.582-.075.514-.93-.067-.899 0 0-1.755.135-2.88.135-1.064 0-2.85-.15-2.85-.15-.585-.03-.661.855-.075.885 0 0 .54.061 1.125.09l1.68 4.605-2.37 7.08L5.354 6.9c.649-.03 1.234-.1 1.234-.1.585-.075.516-.93-.065-.896 0 0-1.746.138-2.874.138-.2 0-.438-.008-.69-.015C4.911 3.15 8.235 1.215 12 1.215c2.809 0 5.365 1.072 7.286 2.833-.046-.003-.091-.009-.141-.009-1.06 0-1.812.923-1.812 1.914 0 .89.513 1.643 1.06 2.531.411.72.89 1.643.89 2.977 0 .915-.354 1.994-.821 3.479l-1.075 3.585-3.9-11.61.001.014zM12 22.784c-1.059 0-2.081-.153-3.048-.437l3.237-9.406 3.315 9.087c.024.053.05.101.078.149-1.12.393-2.325.609-3.582.609M1.211 12c0-1.564.336-3.05.935-4.39L7.29 21.709C3.694 19.96 1.212 16.271 1.211 12M12 0C5.385 0 0 5.385 0 12s5.385 12 12 12 12-5.385 12-12S18.615 0 12 0"></path>
                            </svg>
                        </div>
                        <div>
                            <h3 class="mb-2">
						WordPress.
					</h3>
                            <p class="mb-3">
                                For many companies <a href="/services/wordpress" class="text-melker-darker">WordPress</a> is a perfect match. First of all, in almost every company there is someone that has used WordPress before and can therefore control the website. Secondly, WordPress is the most used technology on the web and some 30% of all websites are powered by WordPress. This means that the technology will always be maintained and updated to the highest security and technology standards.
                            </p>
                            <p class="mb-3">
                                I've worked with WordPress for many years and am a WordPress expert, certified by <a target="_blank" href="https://codeable.io" rel="noopener" class="text-melker-darker">Codeable</a> the number one WordPress outsourcing platform which only takes the top 2% of WordPress developers.
                            </p>
                            <p>
                                Regardless if you need an entire website, some added funcitonality or just some minor fixes, I'm your man.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="lg:w-1/3 md:w-1/2 w-full mb-8">
                    <div class="md:p-4 flex">
                        <div class="mr-3">
                            <svg fill="currentColor" aria-labelledby="simpleicons-laravel-icon" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="w-12 h-12 text-melker">
                                <title id="simpleicons-laravel-icon">Laravel icon</title>
                                <path d="M6.462 13.274l13.7-3.282c-.758-1.077-4.205-5.963-4.537-6.427-.375-.524.008-.769.617-.87.608-.104 5.85-.984 6.298-1.049.377-.055.69-.177 1.212.307C23.272.811 22.139.008 20.819.008H3.197C1.644.008.353 1.117.074 2.59l6.388 10.684z"></path>
                                <path d="M22.737 2.882c-.206.044-4.765.869-5.045.907-.28.037-.188.194-.074.355l4.011 5.502L24 9.063V3.932c-.33-.42-.569-.729-.626-.811-.255-.344-.432-.287-.637-.239M24 15.129c-1.165-1.598-2.436-3.336-2.557-3.508-.166-.24-.255-.285-.648-.159L7.439 14.939s4.1 7.104 4.414 7.554c.315.456.508.418.753.314.181-.08 7.796-2.654 11.393-3.872v-3.803l.001-.003zm0-2.35v-2.008l-1.25.334L24 12.779m-8.199 11.213h5.019c1.675 0 3.047-1.294 3.171-2.936-2.563.927-5.883 2.114-8.191 2.936M5.547 15.43L0 16.875v3.936c.017 1.757 1.441 3.182 3.195 3.182h7.194c-.941-1.537-3.503-6.153-4.833-8.563m-1.12-2.069L.017 5.729v9.098l4.328-1.033c.353-.082.269-.128.095-.432"></path>
                                <path d="M22.645 10.959L24 10.591v.63l-.929.311-.426-.573z"></path>
                            </svg>
                        </div>
                        <div>
                            <h3 class="mb-2">
						Laravel.
					</h3>
                            <p class="mb-4">
                                Laravel is a framework for building <a href="/services/mvp" class="text-melker-darker">web applications</a>. It's got a tight security system and as a framework it sets you and me up for quick development. It's also got a huge and active community and is very well maintained, which means there is ample talent working with Laravel and that its security is always up to date.
                            </p>
                            <p class="mb-4">
                                With Laravel possibilities are endless. You can build internal apps for automating business processes, simplify interaction with your clients or build a completely new product with a service as a subscription. Or anything else you can dream up.
                            </p>
                            <p class="mb-4">
                                I've built many applications with Laravel and freelance as a Laravel developer since a few years back.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="lg:w-1/3 md:w-1/2 w-full mb-8">
                    <div class="md:p-4 flex">
                        <div class="mr-3">
                            <svg fill="currentColor" aria-labelledby="simpleicons-vuejs-icon" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="w-12 h-12 text-melker">
                                <title id="simpleicons-vuejs-icon">Vue.js icon</title>
                                <path d="M19.197 1.608l.003-.006h-4.425L12 6.4v.002l-2.772-4.8H4.803v.005H0l12 20.786L24 1.608"></path>
                            </svg>
                        </div>
                        <div>
                            <h3 class="mb-2">
						VueJS.
					</h3>
                            <p class="mb-4">
                                VueJS is a JavaScript framework that allows for very interactive and responsive sites. It is used by many of the largest companies in the world and has grown immensely in the last couple of years due to its incredible cusomizability and the endless possibilities of what you can make with it.
                            </p>
                            <p class="mb-4">
                                Building a website using VueJS gives you an interactive, modern and smart website.
                            </p>
                            <p>
                                I've built many websites and applications with VueJS. It's a joy to work with and speeds up development of even the most complex frontend functionality.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="bg-grey-darkest py-32">
        <div class="container mx-auto px-6 text-grey-light flex flex-wrap">
            <div class="lg:w-1/4 md:w-1/2 w-full m-4">
                <h4 class="text-xl">Contact</h4>
                <ul class="list-reset">
                    <li>
                        <strong>Phone:</strong> <a href="tel:+46738063539" class="text-white">+46 738 063 539</a>
                    </li>
                    <li>
                        <strong>Email:</strong> <a href="mailto:melker@melker.io" class="text-white">melker@melker.io</a>
                    </li>

                </ul>
            </div>
            <div class="lg:w-1/4 md:w-1/2 w-full m-4">
                <h4 class="text-xl">Navigation</h4>
                <ul class="list-reset">
                    <li>
                        <a href="/" class="text-white">Start</a>
                    </li>
                    <li>
                        <a href="/work" class="text-white">Work</a>
                    </li>

                </ul>
            </div>
            <div class="lg:w-1/4 md:w-1/2 w-full m-4">
                <h4 class="text-xl">Services</h4>
                <ul class="list-reset">
                    <li>
                        <a href="/services/wordpress" class="text-white">WordPress Development</a>
                    </li>
                    <li>
                        <a href="/services/mvp" class="text-white">Minimum Viable Product Development</a>
                    </li>
                    <li>
                        Laravel Development
                    </li>
                    <li>
                        Web Application Development
                    </li>
                    <li>
                        Mobile Application Development
                    </li>
                </ul>
            </div>
        </div>
    </footer>

</body>