<div class="">
    <div class="flex flex-1 wave">
        <div class="container mx-auto mb-48 px-6">
            <div class="py-2 flex flex-wrap-reverse items-center ">
                <div class="w-full lg:w-2/5 text-center lg:text-left">
                    <div class="mb-12">
                        <h1 class="text-5xl font-medium text-space indigo-dark mb-2 tracking-normal text-indigo-dark">1-on-1 Spanish Lessons<br class="hidden md:block"></h1>
                        <p class="text-xl leading-loose font-normal text-spaceindigo-light">Sed ut perspiciatis unde omnis iste natus error sit <br>voluptatem accusantium doloremque laudantium
                        
                    </div>
                    <div><a href="#" class="no-underline px-12 inline-block rounded py-4 text-lg shadow-lg text-white font-semibold bg-indigo hover:bg-indigo-light mb-3">Get Started</a>
                        <p id= "place holder "class="font-light content-center text-spaceindigo-light text-sm"></p>
                    </div>
                </div>
                <div class="w-full mb-5 lg:my-8 lg:mb-0 lg:w-3/5 text-center"><img src="https://cdn.dribbble.com/users/1568450/screenshots/5715862/teamwork_white_2_dribbble-01-01.png" alt="Feedr hero illustration" class="px-6 sm:w-4/5 md:w-3/5 lg:pr-0 lg:pl-8 lg:w-full"></div>
            </div>
        </div>
    </div>
</div>
            