<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html;  charset=UTF-8' http-quiv='Content-Type'/>
  </head>
  <body>
    <%= @contact.firstname %> <br>
    <%= @contact.lastname %> <br>
    <%= @contact.email %> <br>
    <%= @contact.phonenumber %> <br>
  </body>
</html>