<!--Title Section-->
<section class="mx-auto px-6 mt-12 ">
        <div class="">
          <div class=" text-center">
            <h2 class="text-2xl mb-2 text-3xl purple-dark uppercase font-bold">We are glad to have you on board!</h2>
              <p class="text-lg text-space text-grey-dark leading-loose font-thin">You are now enrolled!</p>
                <div class="flex items-end">
                    <div class="sm:w-1/3 mx-auto"><img src="/assets/illustrations/teamwork_white_15.png" width="300" height="auto" alt="" class="pb-4 image-center px-6 sm:w-3/5 md:w-4/5"></div>
                </div>
                            <a href="/student" class="block mt-4 sm:inline-block no-underline bg-purple px-6 py-3 ml-4 mb-2 rounded text-base text-white font-semibold border-1 border-purple hover:bg-purple-light shadow-lg">Student Dashboard</a>

          </div>
        </div>
</section>
<!--Title Section-->