<%= render 'layouts/dashboard_student' %>

<!--Title Section-->
<section class="mx-auto px-6 mt-12 border-grey-light">
        <div class="">
          <div class=" text-center">
            <h2 class="text-2xl mb-2 text-3xl purple-dark uppercase font-bold">Book a Lesson!</h2>
              <p class="text-lg text-space text-grey-dark leading-loose font-thin">Our Spanish Teachers are waiting to guide you on your Spanish Journey.</p>
                <div class="flex items-end">
                </div>
          </div>
        </div>
</section>

    <!--Start of Card-->	
<div class="sm:flex-wrap md:flex">
  <div class=" mx-auto px-6 my-4 rounded-lg md:border-none">
  <div class="max-w-md w-full shadow-lg md:flex mx-auto mb-2 rounded-lg">
    <div class="h-48 md:h-auto md:w-48 flex-none bg-cover rounded-lg text-center overflow-hidden shadow-lg" style="background-image: url('/assets/headshots/jorge-carrasco')" alt="Vertical Spanish - Spanish Teachers in Medellín, Colombia - Jorge Carrasco">
    </div>
    <div class=" bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
      <div class="mb-8">
              <div class="text-black font-bold text-xl">Jorge Carrasco</div>
        <p class="text-md text-grey-darker flex items-center mb-4">
          Senior Spanish Teacher
        </p>
        <p class="text-grey-dark text-base">With a Master's degree in phonetics, Jorge is an advanced teacher with almost 10 years of teaching experience.</p>
      </div>
      <div class="flex items-center">
         <div class="px-2 py-4">
          <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Adults</span>
          <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Poblado</span>
          <br>
          <!-- Calendly link widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
<a href="" class="no-underline mt-6 px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 no-underline" onclick="Calendly.showPopupWidget('https://calendly.com/mjm-001-007');return false;">Book a Lesson</a>
<!-- Calendly link widget end -->

        </div>
      </div>
    </div>
  </div>



<div class="max-w-md bg-grey-lighter w-full shadow-lg md:flex mx-auto rounded-lg">
  <div class="h-48 md:h-auto md:w-48 flex-none bg-cover rounded-t rounded-lg text-center overflow-hidden shadow-lg" style="background-image: url('/assets/headshots/maria-jose-montiel')" alt="Vertical Spanish - Spanish Teachers in Medellín, Colombia - María José Montiel">
  </div>
  <div class="rounded-lg bg-white p-4 flex flex-col justify-between leading-normal">
    <div class="mb-8">
      <div class="text-black font-bold text-xl">María José Montiel</div>
      <p class="text-md text-grey-darker flex items-center mb-4">
        Spanish Teacher
      </p>
      <p class="text-grey-dark text-base">María José is excellent working with students of all ages and backgrounds. She is eager to explain any Spanish concepts for her students.</p>
    </div>
    <div class="flex items-center">
   <div class="px-2 py-4">
        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Adults</span>
        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Kids</span>
        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Poblado</span>
        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Laureles</span>
 <!-- Calendly link widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
<a href="" class="no-underline mt-6 px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 no-underline" onclick="Calendly.showPopupWidget('https://calendly.com/mjm-001-007');return false;">Book a Lesson</a>
<!-- Calendly link widget end -->      </div>
    </div>
  </div>
</div>
</div>

</div>


##########
