      <%= render 'layouts/dashboard_student' %> 
       
        <section class="container py-20 mx-auto">
            <div class="lg:w-2/3 md:3/4 mx-auto mb-10">
                <h1 class="font-heading font-semibold text-5xl text-center tracking-sm mb-4">Spanish Hero</h1>
                <p class="text-xl text-grey text-center leading-normal">
                    Your bestfriend with Spanish.
                </p>
            </div>
            <div class="md:flex items-center py-10">
                <div class="md:w-1/2 md:pr-6 lg:pl-12 mb-6 md:mb-0">
                    <div class="xl:w-3/4 md:w-full w-2/3 md:ml-auto md:mx-0 mx-auto"><img src="/assets/illustrations/teamwork_white_4.png" alt="image"></div>
                </div>
                <div class="md:w-1/2 md:px-6 lg:pr-12">
                    <div class="mb-4 text-center md:text-left">
                        <h1 class="font-heading uppercase tracking-lg md:normal-case md:tracking-sm text-2xl md:text-3xl mb-4">Tutoring<h1>
                        <p class="text-lg text-grey leading-normal sm:px-0 px-4">
                            Bring your questions! Whether you need help with key phrases, don't understand a funky translation or you need advice on verbs, we are here to help!
                        </p>
                    </div>
                    <div class="text-lg text-grey text-left md:pl-0 pl-6">
                        <div class="flex items-center mb-3">
                            <svg viewBox="0 0 20 19" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6">
                                <g fill="none" fill-rule="evenodd">
                                    <ellipse fill="#F0F2FF" cx="10" cy="9.4" rx="9.5" ry="9.4"></ellipse>
                                    <path fill="#6C63FF" d="M4.5 9.7l1.1-1.2 2.8 3 6-6.6 1.1 1.2-7.2 7.7z"></path>
                                </g>
                            </svg> <span class="ml-3">Vocabulary / Phrases</span></div>
                        <div class="flex items-center mb-3">
                            <svg viewBox="0 0 20 19" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6">
                                <g fill="none" fill-rule="evenodd">
                                    <ellipse fill="#F0F2FF" cx="10" cy="9.4" rx="9.5" ry="9.4"></ellipse>
                                    <path fill="#6C63FF" d="M4.5 9.7l1.1-1.2 2.8 3 6-6.6 1.1 1.2-7.2 7.7z"></path>
                                </g>
                            </svg> <span class="ml-3">Translations</span></span></div>
                        <div class="flex items-center">
                            <svg viewBox="0 0 20 19" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6">
                                <g fill="none" fill-rule="evenodd">
                                    <ellipse fill="#F0F2FF" cx="10" cy="9.4" rx="9.5" ry="9.4"></ellipse>
                                    <path fill="#6C63FF" d="M4.5 9.7l1.1-1.2 2.8 3 6-6.6 1.1 1.2-7.2 7.7z"></path>
                                </g>
                            </svg> <span class="ml-3">Verbs & Conjugation</span></div>
                    </div>
                </div>
            </div>
            <div class="md:flex items-center py-10">
                <div class="md:w-1/2 md:pr-6 lg:pl-12 mb-6 md:mb-0">
                    <div class="xl:w-3/4 md:w-full w-2/3 md:ml-auto md:mx-0 mx-auto"><img src="/assets/illustrations/teamwork_white_6.png" alt="image"></div>
                </div>
                <div class="md:w-1/2 md:px-6 lg:pr-12">
                    <div class="mb-4 text-center md:text-left">
                        <h1 class="font-heading uppercase tracking-lg md:normal-case md:tracking-sm text-2xl md:text-3xl mb-4">Practice</h1>
                        <p class="text-lg text-grey leading-normal sm:px-0 px-4">
                            Practice your Spanish over chat! If you don't have a topic you want to talk about, we will provide one :)
                        </p>
                    </div>
                    <div class="text-lg text-grey md:pl-0 pl-6">
                        <div class="flex items-center mb-3">
                            <svg viewBox="0 0 20 19" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6">
                                <g fill="none" fill-rule="evenodd">
                                    <ellipse fill="#F0F2FF" cx="10" cy="9.4" rx="9.5" ry="9.4"></ellipse>
                                    <path fill="#6C63FF" d="M4.5 9.7l1.1-1.2 2.8 3 6-6.6 1.1 1.2-7.2 7.7z"></path>
                                </g>
                            </svg> <span class="ml-3">Chat with a Native Spanish Speaker</span></div>
                        <div class="flex items-center mb-3">
                            <svg viewBox="0 0 20 19" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6">
                                <g fill="none" fill-rule="evenodd">
                                    <ellipse fill="#F0F2FF" cx="10" cy="9.4" rx="9.5" ry="9.4"></ellipse>
                                    <path fill="#6C63FF" d="M4.5 9.7l1.1-1.2 2.8 3 6-6.6 1.1 1.2-7.2 7.7z"></path>
                                </g>
                            </svg> <span class="ml-3">No limit on the message you send</span></div>
                    </div>
                </div>
            </div>
            <div class="md:flex items-center py-10">
                <div class="md:w-1/2 md:pr-6 lg:pl-12 mb-6 md:mb-0">
                    <div class="xl:w-3/4 md:w-full w-2/3 md:ml-auto md:mx-0 mx-auto"><img src="/assets/illustrations/teamwork_white_7.png" alt="image"></div>
                </div>
                <div class="md:w-1/2 md:px-6 lg:pr-12">
                    <div class="mb-4 text-center md:text-left">
                        <h1 class="font-heading uppercase tracking-lg md:normal-case md:tracking-sm text-2xl md:text-3xl mb-4">Advice</h1>
                        <p class="text-lg text-grey leading-normal sm:px-0 px-4">
                            Spanish is a jungle and its difficult at times to know what will take you to the next level. If you are looking for guidence in your Spanish journey, just ask, and we can recommend tool and resources to get you where you want to be!
                        </p>
                    </div>
                    <div class="text-lg text-grey md:pl-0 pl-6">
                        <div class="flex items-center mb-3">
                            <svg viewBox="0 0 20 19" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6">
                                <g fill="none" fill-rule="evenodd">
                                    <ellipse fill="#F0F2FF" cx="10" cy="9.4" rx="9.5" ry="9.4"></ellipse>
                                    <path fill="#6C63FF" d="M4.5 9.7l1.1-1.2 2.8 3 6-6.6 1.1 1.2-7.2 7.7z"></path>
                                </g>
                            </svg> <span class="ml-3">Resource Recommendation</span></div>
                        <div class="flex items-center mb-3">
                            <svg viewBox="0 0 20 19" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6">
                                <g fill="none" fill-rule="evenodd">
                                    <ellipse fill="#F0F2FF" cx="10" cy="9.4" rx="9.5" ry="9.4"></ellipse>
                                    <path fill="#6C63FF" d="M4.5 9.7l1.1-1.2 2.8 3 6-6.6 1.1 1.2-7.2 7.7z"></path>
                                </g>
                            </svg> <span class="ml-3">Guidence</span></div>
                       
        </section>