<%= render 'layouts/dashboard_student' %>

<!-- start of first line -->
<div class="flex flex-wrap md:flex-no-wrap md:justify-between justify-center md:py-16 py-12 text-center">
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto"><img src="/assets/brand/vlogo.png" alt="swapnil-bhavsar" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">La Casa De Las Flores</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">In this dark comedy, a wealthy matriarch tries to maintain her family's facade of perfection after her husband's mistress exposes their dirty secrets.</p>
        <br>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4 px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Medium</span>
                    </div>
                </div>
<a href="https://www.netflix.com/title/80160935" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Watch Now</a>

            </div>
        </div>
    </div>
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto shadow-inner"><img src="/assets/brand/vlogo.png" alt="rajesh-dewle" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Narcos</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">Hi this is my self-describing..."Hi guys, I am a professional in communication and certified in ELE (Spanish as a foreign language). I love to travel and eat, so I know a bit of general culture. I'm super open and not just a teacher, I'm a friend. I want everyone to have a great experience with Spanish and my land Colombia".</p>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Medium</span>
                </div>
                </div>
<a href="https://www.netflix.com/title/80025172" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Watch Now</a>

            </div>
        </div>
    </div>
    <div class="md:1/3 w-full ">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto shadow-inner"><img src="/assets/brand/vlogo.png" alt="sumit-wagh" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Distrito Salvaje</h3>

            <p class="text-base text-grey text-center leading-normal mb-4">I am a studious, dedicated and responsible person, with goals in life. I consider myself a good person, kind, understanding, responsible and educated. I love children. I worked for two years giving classes and I develop very well with the children and I can adapt to each of them according to their strengths and weaknesses</p>
        </div>
        <div>
            <div class="items-center">
                <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Hard</span>
                </div>
            </div>

<a href="https://www.netflix.com/title/80230435" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Watch Now</a>

        </div>
    </div>
</div>
<!-- start of first line -->
<div class="flex flex-wrap md:flex-no-wrap md:justify-between justify-center md:py-16 py-12 text-center">
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto"><img src="/assets/brand/vlogo.png" alt="swapnil-bhavsar" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Malcriados</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">I'm basically a nature lover. Traveling is my passion, sharing experiences with people, and learning from them are one of the activities I enjoy the most, so the different languages and the communication became main skills I want to keep exploring. Come and join me in this journey!</p>
        <br>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4 px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Medium</span>
                    </div>
                </div>
<a href="https://www.netflix.com/title/80206164" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Watch Now</a>

            </div>
        </div>
    </div>
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto shadow-inner"><img src="/assets/brand/vlogo.png" alt="rajesh-dewle" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">La Ultima Hora</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">Hi this is my self-describing..."Hi guys, I am a professional in communication and certified in ELE (Spanish as a foreign language). I love to travel and eat, so I know a bit of general culture. I'm super open and not just a teacher, I'm a friend. I want everyone to have a great experience with Spanish and my land Colombia".</p>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Hard</span>
                    </div>
                </div>
<a href="https://www.netflix.com/title/80166466" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Watch Now</a>
            </div>
        </div>
    </div>
    <div class="md:1/3 w-full ">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto shadow-inner"><img src="/assets/brand/vlogo.png" alt="sumit-wagh" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Si Saben Como Me Pongo, Pa Que Me Invitan?</h3>

            <p class="text-base text-grey text-center leading-normal mb-4">I am a studious, dedicated and responsible person, with goals in life. I consider myself a good person, kind, understanding, responsible and educated. I love children. I worked for two years giving classes and I develop very well with the children and I can adapt to each of them according to their strengths and weaknesses</p>
        </div>
        <div>
            <div class="items-center">
                <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Medium</span>
                </div>
            </div>

<!-- Calendly link widget begin -->
<a href="https://www.netflix.com/title/80992499" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Watch Now</a>
        </div>
    </div>
</div>
<!-- start of first line -->
<div class="flex flex-wrap md:flex-no-wrap md:justify-between justify-center md:py-16 py-12 text-center">
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto"><img src="/assets/brand/vlogo.png" alt="swapnil-bhavsar" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Acapulco, La Vida Va</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">I'm basically a nature lover. Traveling is my passion, sharing experiences with people, and learning from them are one of the activities I enjoy the most, so the different languages and the communication became main skills I want to keep exploring. Come and join me in this journey!</p>
        <br>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4 px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Medium</span>
                    </div>
                </div>
<a href="https://www.netflix.com/title/80144311" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Watch Now</a>

            </div>
        </div>
    </div>
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto shadow-inner"><img src="/assets/brand/vlogo.png" alt="rajesh-dewle" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Santo Cachon</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">Hi this is my self-describing..."Hi guys, I am a professional in communication and certified in ELE (Spanish as a foreign language). I love to travel and eat, so I know a bit of general culture. I'm super open and not just a teacher, I'm a friend. I want everyone to have a great experience with Spanish and my land Colombia".</p>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Medium</span>
                    </div>
                </div>
<a href="https://www.netflix.com/title/80992500" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Watch Now</a>
            </div>
        </div>
    </div>
    <div class="md:1/3 w-full ">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto shadow-inner"><img src="/assets/brand/vlogo.png" alt="sumit-wagh" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">El Che</h3>

            <p class="text-base text-grey text-center leading-normal mb-4">I am a studious, dedicated and responsible person, with goals in life. I consider myself a good person, kind, understanding, responsible and educated. I love children. I worked for two years giving classes and I develop very well with the children and I can adapt to each of them according to their strengths and weaknesses</p>
        </div>
        <div>
            <div class="items-center">
                <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Hard</span>
                </div>
            </div>
<a href="https://www.netflix.com/title/80193423" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Watch Now</a>
        </div>
    </div>
</div>
<!-- start of first line -->
<div class="flex flex-wrap md:flex-no-wrap md:justify-between justify-center md:py-16 py-12 text-center">
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto"><img src="/assets/brand/vlogo.png" alt="swapnil-bhavsar" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Roma</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">I'm basically a nature lover. Traveling is my passion, sharing experiences with people, and learning from them are one of the activities I enjoy the most, so the different languages and the communication became main skills I want to keep exploring. Come and join me in this journey!</p>
        <br>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4 px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Medium</span>
                    </div>
                </div>
<a href="https://www.netflix.com/title/80240715" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Watch Now</a>
            </div>
        </div>
    </div>
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto shadow-inner"><img src="/assets/brand/vlogo.png" alt="rajesh-dewle" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Ingobernable</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">Hi this is my self-describing..."Hi guys, I am a professional in communication and certified in ELE (Spanish as a foreign language). I love to travel and eat, so I know a bit of general culture. I'm super open and not just a teacher, I'm a friend. I want everyone to have a great experience with Spanish and my land Colombia".</p>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Hard</span>
                    </div>
                </div>
<a href="https://www.netflix.com/title/80066429" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Watch Now</a>

            </div>
        </div>
    </div>
    <div class="md:1/3 w-full ">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto shadow-inner"><img src="/assets/brand/vlogo.png" alt="sumit-wagh" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Estocolmo</h3>

            <p class="text-base text-grey text-center leading-normal mb-4">I am a studious, dedicated and responsible person, with goals in life. I consider myself a good person, kind, understanding, responsible and educated. I love children. I worked for two years giving classes and I develop very well with the children and I can adapt to each of them according to their strengths and weaknesses</p>
        </div>
        <div>
            <div class="items-center">
                <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Hard</span>
                </div>
            </div>

<a href="https://www.netflix.com/title/80118346" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Watch Now</a>

        </div>
    </div>
</div>
<!-- start of first line -->
<div class="flex flex-wrap md:flex-no-wrap md:justify-between justify-center md:py-16 py-12 text-center">
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto"><img src="/assets/brand/vlogo.png" alt="swapnil-bhavsar" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Pasión De Gavilanes</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">I'm basically a nature lover. Traveling is my passion, sharing experiences with people, and learning from them are one of the activities I enjoy the most, so the different languages and the communication became main skills I want to keep exploring. Come and join me in this journey!</p>
        <br>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4 px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Hard</span>
                    </div>
                </div>

<a href="https://www.netflix.com/title/80047032" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Watch Now</a>

            </div>
        </div>
    </div>
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto shadow-inner"><img src="/assets/brand/vlogo.png" alt="rajesh-dewle" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Sin Senos Si Hay Paraiso</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">Hi this is my self-describing..."Hi guys, I am a professional in communication and certified in ELE (Spanish as a foreign language). I love to travel and eat, so I know a bit of general culture. I'm super open and not just a teacher, I'm a friend. I want everyone to have a great experience with Spanish and my land Colombia".</p>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Medium</span>
                    </div>
                </div>

<a href="https://www.netflix.com/title/80153272" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Watch Now</a>

            </div>
        </div>
    </div>
    <div class="md:1/3 w-full ">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto shadow-inner"><img src="/assets/brand/vlogo.png" alt="sumit-wagh" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">La Reina Del Sur</h3>

            <p class="text-base text-grey text-center leading-normal mb-4">I am a studious, dedicated and responsible person, with goals in life. I consider myself a good person, kind, understanding, responsible and educated. I love children. I worked for two years giving classes and I develop very well with the children and I can adapt to each of them according to their strengths and weaknesses</p>
        </div>
        <div>
            <div class="items-center">
                <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Medium</span>
                </div>
            </div>

<!-- Calendly link widget begin -->
<a href="https://www.netflix.com/title/70205672" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Watch Now</a>
        </div>
    </div>
</div>
<!-- start of first line -->
<div class="flex flex-wrap md:flex-no-wrap md:justify-between justify-center md:py-16 py-12 text-center">
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto"><img src="/assets/brand/vlogo.png" alt="swapnil-bhavsar" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Siempre Bruja</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">I'm basically a nature lover. Traveling is my passion, sharing experiences with people, and learning from them are one of the activities I enjoy the most, so the different languages and the communication became main skills I want to keep exploring. Come and join me in this journey!</p>
        <br>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4 px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Medium</span>
                    </div>
                </div>
<a href="https://www.netflix.com/title/80205595" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Watch Now</a>

            </div>
        </div>
    </div>
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto shadow-inner"><img src="/assets/brand/vlogo.png" alt="rajesh-dewle" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">La Niña</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">Hi this is my self-describing..."Hi guys, I am a professional in communication and certified in ELE (Spanish as a foreign language). I love to travel and eat, so I know a bit of general culture. I'm super open and not just a teacher, I'm a friend. I want everyone to have a great experience with Spanish and my land Colombia".</p>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Hard</span>
                    </div>
                </div>

<a href="https://www.netflix.com/title/80120640" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Watch Now</a>
            </div>
        </div>
    </div>
    <div class="md:1/3 w-full ">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto shadow-inner"><img src="/assets/brand/vlogo.png" alt="sumit-wagh" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">El Cartel</h3>

            <p class="text-base text-grey text-center leading-normal mb-4">I am a studious, dedicated and responsible person, with goals in life. I consider myself a good person, kind, understanding, responsible and educated. I love children. I worked for two years giving classes and I develop very well with the children and I can adapt to each of them according to their strengths and weaknesses</p>
        </div>
        <div>
            <div class="items-center">
                <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Medium</span>
                </div>
            </div>

<a href="https://www.netflix.com/title/80025923" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Watch Now</a>
        </div>
    </div>
</div>
<!-- start of first line -->
<div class="flex flex-wrap md:flex-no-wrap md:justify-between justify-center md:py-16 py-12 text-center">
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto"><img src="/assets/brand/vlogo.png" alt="swapnil-bhavsar" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Nicky Jam El Ganador</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">I'm basically a nature lover. Traveling is my passion, sharing experiences with people, and learning from them are one of the activities I enjoy the most, so the different languages and the communication became main skills I want to keep exploring. Come and join me in this journey!</p>
        <br>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4 px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Medium</span>
                    </div>
                </div>
<a href="https://www.netflix.com/title/80221207" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Watch Now</a>

            </div>
        </div>
    </div>
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto shadow-inner"><img src="/assets/brand/vlogo.png" alt="rajesh-dewle" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Diablero</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">Hi this is my self-describing..."Hi guys, I am a professional in communication and certified in ELE (Spanish as a foreign language). I love to travel and eat, so I know a bit of general culture. I'm super open and not just a teacher, I'm a friend. I want everyone to have a great experience with Spanish and my land Colombia".</p>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Hard</span>
                    </div>
                </div>
<a href="https://www.netflix.com/title/80172145" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Watch Now</a>

            </div>
        </div>
    </div>
    <div class="md:1/3 w-full ">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto shadow-inner"><img src="/assets/brand/vlogo.png" alt="sumit-wagh" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Luis Miguel (the series)</h3>

            <p class="text-base text-grey text-center leading-normal mb-4">I am a studious, dedicated and responsible person, with goals in life. I consider myself a good person, kind, understanding, responsible and educated. I love children. I worked for two years giving classes and I develop very well with the children and I can adapt to each of them according to their strengths and weaknesses</p>
        </div>
        <div>
            <div class="items-center">
                <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Medium</span>
                </div>
            </div>

<a href="https://www.netflix.com/title/80191236" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Watch Now</a>

        </div>
    </div>
</div>
<!-- start of first line -->
<div class="flex flex-wrap md:flex-no-wrap md:justify-between justify-center md:py-16 py-12 text-center">
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto"><img src="/assets/brand/vlogo.png" alt="swapnil-bhavsar" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Pablo Escobar, Patron Del Mal</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">I'm basically a nature lover. Traveling is my passion, sharing experiences with people, and learning from them are one of the activities I enjoy the most, so the different languages and the communication became main skills I want to keep exploring. Come and join me in this journey!</p>
        <br>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4 px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Hard</span>
                    </div>
                </div>
<a href="https://www.netflix.com/title/80035684" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Watch Now</a>
            </div>
        </div>
    </div>
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto shadow-inner"><img src="/assets/brand/vlogo.png" alt="rajesh-dewle" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Capo El Amo De Tunel</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">Hi this is my self-describing..."Hi guys, I am a professional in communication and certified in ELE (Spanish as a foreign language). I love to travel and eat, so I know a bit of general culture. I'm super open and not just a teacher, I'm a friend. I want everyone to have a great experience with Spanish and my land Colombia".</p>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Medium</span>
                    </div>
                </div>
<a href="https://www.netflix.com/title/80163048" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Watch Now</a>

            </div>
        </div>
    </div>
    <div class="md:1/3 w-full ">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto shadow-inner"><img src="/assets/brand/vlogo.png" alt="sumit-wagh" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">El Día Que Conocí El Chapo</h3>

            <p class="text-base text-grey text-center leading-normal mb-4">I am a studious, dedicated and responsible person, with goals in life. I consider myself a good person, kind, understanding, responsible and educated. I love children. I worked for two years giving classes and I develop very well with the children and I can adapt to each of them according to their strengths and weaknesses</p>
        </div>
        <div>
            <div class="items-center">
                <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Hard</span>
                </div>
            </div>

<a href="https://www.netflix.com/title/80184569" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Watch Now</a>

        </div>
    </div>
</div>

