<%= render 'layouts/dashboard_student' %>


<!-- start of first line -->
<div class="flex flex-wrap md:flex-no-wrap md:justify-between justify-center md:py-16 py-12 text-center">
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto"><img src="/assets/brand/vlogo.png" alt="swapnil-bhavsar" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">El Principito</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">In this dark comedy, a wealthy matriarch tries to maintain her family's facade of perfection after her husband's mistress exposes their dirty secrets.</p>
        <br>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4 px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Medium</span>
                    </div>
                </div>
<a href="https://www.panamericana.com.co/el-principito-8/p" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Buy Now</a>

            </div>
        </div>
    </div>
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto shadow-inner"><img src="/assets/brand/vlogo.png" alt="rajesh-dewle" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Simon Quiere Perder El Año</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">Hi this is my self-describing..."Hi guys, I am a professional in communication and certified in ELE (Spanish as a foreign language). I love to travel and eat, so I know a bit of general culture. I'm super open and not just a teacher, I'm a friend. I want everyone to have a great experience with Spanish and my land Colombia".</p>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Easy</span>
                </div>
                </div>
<a href="https://www.panamericana.com.co/simon-quiere-perder-el-ano-534892/p" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Buy Now</a>

            </div>
        </div>
    </div>
    <div class="md:1/3 w-full ">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto shadow-inner"><img src="/assets/brand/vlogo.png" alt="sumit-wagh" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">El Pollito En La Pared</h3>

            <p class="text-base text-grey text-center leading-normal mb-4">I am a studious, dedicated and responsible person, with goals in life. I consider myself a good person, kind, understanding, responsible and educated. I love children. I worked for two years giving classes and I develop very well with the children and I can adapt to each of them according to their strengths and weaknesses</p>
        </div>
        <div>
            <div class="items-center">
                <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Easy</span>
                </div>
            </div>

<a href="https://www.panamericana.com.co/el-pollito-en-la-pared/p" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Buy Now</a>

        </div>
    </div>
</div>
<!-- start of first line -->
<div class="flex flex-wrap md:flex-no-wrap md:justify-between justify-center md:py-16 py-12 text-center">
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto"><img src="/assets/brand/vlogo.png" alt="swapnil-bhavsar" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Franklin Es An Mandón</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">I'm basically a nature lover. Traveling is my passion, sharing experiences with people, and learning from them are one of the activities I enjoy the most, so the different languages and the communication became main skills I want to keep exploring. Come and join me in this journey!</p>
        <br>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4 px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Easy</span>
                    </div>
                </div>
<a href="https://www.panamericana.com.co/franklin-es-un-mandon/p" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Buy Now</a>

            </div>
        </div>
    </div>
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto shadow-inner"><img src="/assets/brand/vlogo.png" alt="rajesh-dewle" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">La Ultima Hora</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">Hi this is my self-describing..."Hi guys, I am a professional in communication and certified in ELE (Spanish as a foreign language). I love to travel and eat, so I know a bit of general culture. I'm super open and not just a teacher, I'm a friend. I want everyone to have a great experience with Spanish and my land Colombia".</p>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Hard</span>
                    </div>
                </div>
<a href="https://www.netflix.com/title/80166466" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Buy Now</a>
            </div>
        </div>
    </div>
    <div class="md:1/3 w-full ">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto shadow-inner"><img src="/assets/brand/vlogo.png" alt="sumit-wagh" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Franklin Quiere Ana Mascota</h3>

            <p class="text-base text-grey text-center leading-normal mb-4">I am a studious, dedicated and responsible person, with goals in life. I consider myself a good person, kind, understanding, responsible and educated. I love children. I worked for two years giving classes and I develop very well with the children and I can adapt to each of them according to their strengths and weaknesses</p>
        </div>
        <div>
            <div class="items-center">
                <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Easy</span>
                </div>
            </div>

<!-- Calendly link widget begin -->
<a href="https://www.panamericana.com.co/franklin-quiere-una-mascota/p" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Buy Now</a>
        </div>
    </div>
</div>
<!-- start of first line -->
<div class="flex flex-wrap md:flex-no-wrap md:justify-between justify-center md:py-16 py-12 text-center">
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto"><img src="/assets/brand/vlogo.png" alt="swapnil-bhavsar" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Choco Encuentra Una Mama</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">I'm basically a nature lover. Traveling is my passion, sharing experiences with people, and learning from them are one of the activities I enjoy the most, so the different languages and the communication became main skills I want to keep exploring. Come and join me in this journey!</p>
        <br>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4 px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Easy</span>
                    </div>
                </div>
<a href="https://www.panamericana.com.co/choco-encuentra-una-mama/p" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Buy Now</a>

            </div>
        </div>
    </div>
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto shadow-inner"><img src="/assets/brand/vlogo.png" alt="rajesh-dewle" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Hipopotamo Avaro Y Gruñon</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">Hi this is my self-describing..."Hi guys, I am a professional in communication and certified in ELE (Spanish as a foreign language). I love to travel and eat, so I know a bit of general culture. I'm super open and not just a teacher, I'm a friend. I want everyone to have a great experience with Spanish and my land Colombia".</p>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Easy</span>
                    </div>
                </div>
<a href="https://www.panamericana.com.co/hipopotamo-avaro-y-grunon/p" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Buy Now</a>
            </div>
        </div>
    </div>
    <div class="md:1/3 w-full ">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto shadow-inner"><img src="/assets/brand/vlogo.png" alt="sumit-wagh" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Cuentos Clasicos Hermanos Grimm</h3>

            <p class="text-base text-grey text-center leading-normal mb-4">I am a studious, dedicated and responsible person, with goals in life. I consider myself a good person, kind, understanding, responsible and educated. I love children. I worked for two years giving classes and I develop very well with the children and I can adapt to each of them according to their strengths and weaknesses</p>
        </div>
        <div>
            <div class="items-center">
                <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Medium</span>
                </div>
            </div>
<a href="https://www.panamericana.com.co/cuentos-clasicos-hermanos-grimm-535876/p" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Buy Now</a>
        </div>
    </div>
</div>
<!-- start of first line -->
<div class="flex flex-wrap md:flex-no-wrap md:justify-between justify-center md:py-16 py-12 text-center">
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto"><img src="/assets/brand/vlogo.png" alt="swapnil-bhavsar" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Los Tres Cerditos (Edición Bilingüe)</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">I'm basically a nature lover. Traveling is my passion, sharing experiences with people, and learning from them are one of the activities I enjoy the most, so the different languages and the communication became main skills I want to keep exploring. Come and join me in this journey!</p>
        <br>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4 px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Easy</span>
                    </div>
                </div>
<a href="https://www.panamericana.com.co/los-tres-cerditos-edicion-bilingue/p" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Buy Now</a>
            </div>
        </div>
    </div>
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto shadow-inner"><img src="/assets/brand/vlogo.png" alt="rajesh-dewle" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Platero Y Yo</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">Hi this is my self-describing..."Hi guys, I am a professional in communication and certified in ELE (Spanish as a foreign language). I love to travel and eat, so I know a bit of general culture. I'm super open and not just a teacher, I'm a friend. I want everyone to have a great experience with Spanish and my land Colombia".</p>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Easy</span>
                    </div>
                </div>
<a href="https://www.panamericana.com.co/platero-y-yo-3/p" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Buy Now</a>

            </div>
        </div>
    </div>
    <div class="md:1/3 w-full ">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto shadow-inner"><img src="/assets/brand/vlogo.png" alt="sumit-wagh" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Harry Potter Y La Piedra Filosofal</h3>

            <p class="text-base text-grey text-center leading-normal mb-4">I am a studious, dedicated and responsible person, with goals in life. I consider myself a good person, kind, understanding, responsible and educated. I love children. I worked for two years giving classes and I develop very well with the children and I can adapt to each of them according to their strengths and weaknesses</p>
        </div>
        <div>
            <div class="items-center">
                <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Hard</span>
                </div>
            </div>

<a href="https://www.panamericana.com.co/harry-potter-y-la-piedra-filosofal/p" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Buy Now</a>

        </div>
    </div>
</div>
<!-- start of first line -->
<div class="flex flex-wrap md:flex-no-wrap md:justify-between justify-center md:py-16 py-12 text-center">
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto"><img src="/assets/brand/vlogo.png" alt="swapnil-bhavsar" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Caperucita Rojas Y Otras Historias Perversas</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">I'm basically a nature lover. Traveling is my passion, sharing experiences with people, and learning from them are one of the activities I enjoy the most, so the different languages and the communication became main skills I want to keep exploring. Come and join me in this journey!</p>
        <br>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4 px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Medium</span>
                    </div>
                </div>

<a href="https://www.panamericana.com.co/caperucita-roja-y-otras-historias-perversas/p" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Buy Now</a>

            </div>
        </div>
    </div>
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto shadow-inner"><img src="/assets/brand/vlogo.png" alt="rajesh-dewle" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">El Principe Y El Mendigo</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">Hi this is my self-describing..."Hi guys, I am a professional in communication and certified in ELE (Spanish as a foreign language). I love to travel and eat, so I know a bit of general culture. I'm super open and not just a teacher, I'm a friend. I want everyone to have a great experience with Spanish and my land Colombia".</p>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Medium</span>
                    </div>
                </div>

<a href="https://www.panamericana.com.co/el-principe-y-el-mendigo/p" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Buy Now</a>

            </div>
        </div>
    </div>
    <div class="md:1/3 w-full ">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto shadow-inner"><img src="/assets/brand/vlogo.png" alt="sumit-wagh" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">El Viaje Sin Fin</h3>

            <p class="text-base text-grey text-center leading-normal mb-4">I am a studious, dedicated and responsible person, with goals in life. I consider myself a good person, kind, understanding, responsible and educated. I love children. I worked for two years giving classes and I develop very well with the children and I can adapt to each of them according to their strengths and weaknesses</p>
        </div>
        <div>
            <div class="items-center">
                <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Medium</span>
                </div>
            </div>

<!-- Calendly link widget begin -->
<a href="https://www.panamericana.com.co/el-viaje-sin-fin/p" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Buy Now</a>
        </div>
    </div>
</div>
<!-- start of first line -->
<div class="flex flex-wrap md:flex-no-wrap md:justify-between justify-center md:py-16 py-12 text-center">
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto"><img src="/assets/brand/vlogo.png" alt="swapnil-bhavsar" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">En La Tierra De Los Gorilas</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">I'm basically a nature lover. Traveling is my passion, sharing experiences with people, and learning from them are one of the activities I enjoy the most, so the different languages and the communication became main skills I want to keep exploring. Come and join me in this journey!</p>
        <br>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4 px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Medium</span>
                    </div>
                </div>
<a href="https://www.panamericana.com.co/en-la-tierra-de-los-gorilas-528918/p" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Buy Now</a>

            </div>
        </div>
    </div>
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto shadow-inner"><img src="/assets/brand/vlogo.png" alt="rajesh-dewle" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Crepusculo</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">Hi this is my self-describing..."Hi guys, I am a professional in communication and certified in ELE (Spanish as a foreign language). I love to travel and eat, so I know a bit of general culture. I'm super open and not just a teacher, I'm a friend. I want everyone to have a great experience with Spanish and my land Colombia".</p>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Hard</span>
                    </div>
                </div>

<a href="https://www.panamericana.com.co/crepusculo-edicion-especial-decimo-aniversario/p" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Buy Now</a>
            </div>
        </div>
    </div>
    <div class="md:1/3 w-full ">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto shadow-inner"><img src="/assets/brand/vlogo.png" alt="sumit-wagh" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Star Wars, El Retorno Del Jedi</h3>

            <p class="text-base text-grey text-center leading-normal mb-4">I am a studious, dedicated and responsible person, with goals in life. I consider myself a good person, kind, understanding, responsible and educated. I love children. I worked for two years giving classes and I develop very well with the children and I can adapt to each of them according to their strengths and weaknesses</p>
        </div>
        <div>
            <div class="items-center">
                <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Medium</span>
                </div>
            </div>

<a href="https://www.panamericana.com.co/star-wars-episodio-vi-el-retorno-del-jedi/p" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Buy Now</a>
        </div>
    </div>
</div>
<!-- start of first line -->
<div class="flex flex-wrap md:flex-no-wrap md:justify-between justify-center md:py-16 py-12 text-center">
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto"><img src="/assets/brand/vlogo.png" alt="swapnil-bhavsar" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">La Niña Fantasma</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">I'm basically a nature lover. Traveling is my passion, sharing experiences with people, and learning from them are one of the activities I enjoy the most, so the different languages and the communication became main skills I want to keep exploring. Come and join me in this journey!</p>
        <br>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4 px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Medium</span>
                    </div>
                </div>
<a href="https://www.netflix.com/title/80221207" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Buy Now</a>

            </div>
        </div>
    </div>
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto shadow-inner"><img src="/assets/brand/vlogo.png" alt="rajesh-dewle" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">El Libro De Las Ciudades</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">Hi this is my self-describing..."Hi guys, I am a professional in communication and certified in ELE (Spanish as a foreign language). I love to travel and eat, so I know a bit of general culture. I'm super open and not just a teacher, I'm a friend. I want everyone to have a great experience with Spanish and my land Colombia".</p>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Medium</span>
                    </div>
                </div>
<a href="https://www.panamericana.com.co/el-libro-de-las-ciudades/p" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Buy Now</a>

            </div>
        </div>
    </div>
    <div class="md:1/3 w-full ">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto shadow-inner"><img src="/assets/brand/vlogo.png" alt="sumit-wagh" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Troya</h3>

            <p class="text-base text-grey text-center leading-normal mb-4">I am a studious, dedicated and responsible person, with goals in life. I consider myself a good person, kind, understanding, responsible and educated. I love children. I worked for two years giving classes and I develop very well with the children and I can adapt to each of them according to their strengths and weaknesses</p>
        </div>
        <div>
            <div class="items-center">
                <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Hard</span>
                </div>
            </div>

<a href="https://www.panamericana.com.co/troya-una-guerra-de-nunca-acabar-553802/p" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Buy Now</a>

        </div>
    </div>
</div>
<!-- start of first line -->
<div class="flex flex-wrap md:flex-no-wrap md:justify-between justify-center md:py-16 py-12 text-center">
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto"><img src="/assets/brand/vlogo.png" alt="swapnil-bhavsar" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">La Leyenda Del Hechicero</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">I'm basically a nature lover. Traveling is my passion, sharing experiences with people, and learning from them are one of the activities I enjoy the most, so the different languages and the communication became main skills I want to keep exploring. Come and join me in this journey!</p>
        <br>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4 px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Medium</span>
                    </div>
                </div>
<a href="https://www.panamericana.com.co/la-leyenda-del-hechicero-el-aprendiz-566247/p" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Buy Now</a>
            </div>
        </div>
    </div>
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto shadow-inner"><img src="/assets/brand/vlogo.png" alt="rajesh-dewle" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Lo Que Quedo De Ti</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">Hi this is my self-describing..."Hi guys, I am a professional in communication and certified in ELE (Spanish as a foreign language). I love to travel and eat, so I know a bit of general culture. I'm super open and not just a teacher, I'm a friend. I want everyone to have a great experience with Spanish and my land Colombia".</p>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Hard</span>
                    </div>
                </div>
<a href="https://www.panamericana.com.co/lo-que-quedo-de-ti-565101/p" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Buy Now</a>

            </div>
        </div>
    </div>
    <div class="md:1/3 w-full ">
        <div class="w-48 h-48 rounded-full overflow-hidden mx-auto shadow-inner"><img src="/assets/brand/vlogo.png" alt="sumit-wagh" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Misterio Del Principe Desaparecido</h3>

            <p class="text-base text-grey text-center leading-normal mb-4">I am a studious, dedicated and responsible person, with goals in life. I consider myself a good person, kind, understanding, responsible and educated. I love children. I worked for two years giving classes and I develop very well with the children and I can adapt to each of them according to their strengths and weaknesses</p>
        </div>
        <div>
            <div class="items-center">
                <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter rounded-full px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Medium</span>
                </div>
            </div>

<a href="https://www.panamericana.com.co/misterio-del-principe-desaparecido-556056/p" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Buy Now</a>

        </div>
    </div>
</div>

