<%= render 'layouts/dashboard_student' %>

<div class=""><img src="/assets/resources/banner-movies.jpg" alt="swapnil-bhavsar" class="w-full"></div>


<!-- start of first line -->
<div class="flex flex-wrap md:flex-no-wrap md:justify-between justify-center md:py-16 py-12 text-center">
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-80  overflow-hidden mx-auto"><img src="/assets/resources/la-casa-de-las-flores.jpg" alt="swapnil-bhavsar" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">La Casa De Las Flores</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">In this dark comedy, a wealthy matriarch tries to maintain her family's facade of perfection after her husband's mistress exposes their dirty secrets.</p>
        <br>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4 px-2 py-4">
                        <span class="inline-block bg-purple-lighter  px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Medium</span>
                    </div>
                </div>
<a href="https://www.netflix.com/title/80160935" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Watch Now</a>

            </div>
        </div>
    </div>
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-80  overflow-hidden mx-auto shadow-inner"><img src="/assets/resources/narcos.jpg" alt="rajesh-dewle" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Narcos</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">A chronicled look at the criminal exploits of Colombian drug lord Pablo Escobar, as well as the many other drug kingpins who plagued the country through the years.</p>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter  px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Medium</span>
                </div>
                </div>
<a href="https://www.netflix.com/title/80025172" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Watch Now</a>

            </div>
        </div>
    </div>
    <div class="md:1/3 w-full ">
        <div class="w-48 h-80  overflow-hidden mx-auto shadow-inner"><img src="/assets/resources/distrito-salvaje.jpg" alt="sumit-wagh" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Distrito Salvaje</h3>

            <p class="text-base text-grey text-center leading-normal mb-4">Jhon Jeiver, a lethal guerrilla fighter who escapes from the jungle after the signing and referendum of the Colombian Peace Agreements, arrives in Bogotá escaping from his past, and tries to reinsert himself into society.</p>
        </div>
        <div>
            <div class="items-center">
                <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter  px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Hard</span>
                </div>
            </div>

<a href="https://www.netflix.com/title/80230435" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Watch Now</a>

        </div>
    </div>
</div>
<!-- start of first line -->
<div class="flex flex-wrap md:flex-no-wrap md:justify-between justify-center md:py-16 py-12 text-center">
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-80  overflow-hidden mx-auto"><img src="/assets/resources/malcriados.jpg" alt="swapnil-bhavsar" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Malcriados</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">Remake de Nosotros los Nobles</p>
        <br>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4 px-2 py-4">
                        <span class="inline-block bg-purple-lighter  px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Medium</span>
                    </div>
                </div>
<a href="https://www.netflix.com/title/80206164" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Watch Now</a>

            </div>
        </div>
    </div>
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-80  overflow-hidden mx-auto shadow-inner"><img src="/assets/resources/la-ultima-hora.jpg" alt="rajesh-dewle" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">La Ultima Hora</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">An enigmatic murderer is hired to locate and kill a specific victim in each episode. While they are in their last moments, their stories are revealed.</p>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter  px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Hard</span>
                    </div>
                </div>
<a href="https://www.netflix.com/title/80166466" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Watch Now</a>
            </div>
        </div>
    </div>
    <div class="md:1/3 w-full ">
        <div class="w-48 h-80  overflow-hidden mx-auto shadow-inner"><img src="assets/resources/si-saben-como-me-pongo-pa-que-me-invitan.jpg" alt="sumit-wagh" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Si Saben Como Me Pongo, Pa Que Me Invitan?</h3>

            <p class="text-base text-grey text-center leading-normal mb-4">Four couples with problems attend a spiritual retreat to try to solve them, but things get complicated.</p>
        </div>
        <div>
            <div class="items-center">
                <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter  px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Medium</span>
                </div>
            </div>

<!-- Calendly link widget begin -->
<a href="https://www.netflix.com/title/80992499" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Watch Now</a>
        </div>
    </div>
</div>
<!-- start of first line -->
<div class="flex flex-wrap md:flex-no-wrap md:justify-between justify-center md:py-16 py-12 text-center">
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-80  overflow-hidden mx-auto"><img src="/assets/resources/acapulco-la-vida-va.jpg" alt="swapnil-bhavsar" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Acapulco, La Vida Va</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">Three setentotes decide to go to Acapulco as they did 50 years ago. Antolin, happily married, is a hypochondriac and carries a suitcase full of medication; Justo, he is a inveterate bachelor who follows young girls all the time, and Mariano, a successful retired architect, who goes in search of Carmen, the Acapulqueña he has always lived in love with, but carries a gun and three bullets in his luggage .</p>
        <br>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4 px-2 py-4">
                        <span class="inline-block bg-purple-lighter  px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Medium</span>
                    </div>
                </div>
<a href="https://www.netflix.com/title/80144311" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Watch Now</a>

            </div>
        </div>
    </div>
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-80  overflow-hidden mx-auto shadow-inner"><img src="/assets/resources/santo-cachon.jpg" alt="rajesh-dewle" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Santo Cachon</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">Antonio tries to show his friend Carlos that his wife cheats on him. As he tries to make his friend see the truth, a number of different people and funny situations come up.</p>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter  px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Medium</span>
                    </div>
                </div>
<a href="https://www.netflix.com/title/80992500" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Watch Now</a>
            </div>
        </div>
    </div>
    <div class="md:1/3 w-full ">
        <div class="w-48 h-80  overflow-hidden mx-auto shadow-inner"><img src="/assets/resources/el-che.jpg" alt="sumit-wagh" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">El Che</h3>

            <p class="text-base text-grey text-center leading-normal mb-4">The writer Paco Ignacio Taibo II embarks on a journey to follow in the footsteps of Ernesto "Che" Guevara and reveals new information about the revolutionary.</p>
        </div>
        <div>
            <div class="items-center">
                <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter  px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Hard</span>
                </div>
            </div>
<a href="https://www.netflix.com/title/80193423" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Watch Now</a>
        </div>
    </div>
</div>
<!-- start of first line -->
<div class="flex flex-wrap md:flex-no-wrap md:justify-between justify-center md:py-16 py-12 text-center">
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-80  overflow-hidden mx-auto"><img src="/assets/resources/roma.jpg" alt="swapnil-bhavsar" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Roma</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">A year in the life of a middle-class family's maid in Mexico City in the early 1970s.</p>
        <br>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4 px-2 py-4">
                        <span class="inline-block bg-purple-lighter  px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Medium</span>
                    </div>
                </div>
<a href="https://www.netflix.com/title/80240715" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Watch Now</a>
            </div>
        </div>
    </div>
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-80  overflow-hidden mx-auto shadow-inner"><img src="/assets/resources/ingobernable.jpg" alt="rajesh-dewle" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Ingobernable</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">The first lady of Mexico is a woman of conviction and ideals. But when she loses faith in her husband, she'll need all her strength to uncover the truth.</p>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter  px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Hard</span>
                    </div>
                </div>
<a href="https://www.netflix.com/title/80066429" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Watch Now</a>

            </div>
        </div>
    </div>
    <div class="md:1/3 w-full ">
        <div class="w-48 h-80  overflow-hidden mx-auto shadow-inner"><img src="/assets/resources/estocolmo.jpg" alt="sumit-wagh" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Estocolmo</h3>

            <p class="text-base text-grey text-center leading-normal mb-4">An undercover agent, a prosecutor, and a journalist try to bring down a human trafficking ring, but nothing is as straightforward as it seems.</p>
        </div>
        <div>
            <div class="items-center">
                <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter  px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Hard</span>
                </div>
            </div>

<a href="https://www.netflix.com/title/80118346" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Watch Now</a>

        </div>
    </div>
</div>
<!-- start of first line -->
<div class="flex flex-wrap md:flex-no-wrap md:justify-between justify-center md:py-16 py-12 text-center">
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-80  overflow-hidden mx-auto"><img src="/assets/resources/pasion-de-gavilanes.jpg" alt="swapnil-bhavsar" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Pasión De Gavilanes</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">"Pasión de gavilanes" is the story of the Reyes brothers, three honest and good-natured men until the day a shocking and unforgettable tragedy makes them go in search of revenge. Their plan takes an unexpected turn when they meet the Elizondo sisters, the three beautiful daughters of the powerful hacendado who they blame for their misfortune.</p>
        <br>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4 px-2 py-4">
                        <span class="inline-block bg-purple-lighter  px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Hard</span>
                    </div>
                </div>

<a href="https://www.netflix.com/title/80047032" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Watch Now</a>

            </div>
        </div>
    </div>
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-80  overflow-hidden mx-auto shadow-inner"><img src="/assets/resources/sin-senos-si-hay-paraiso.jpg" alt="rajesh-dewle" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Sin Senos Si Hay Paraiso</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">A young girl faces hard times ahead once she crosses the line her parents drew in order to keep her away from the outside world. In the past this child's mother had her children murdered and to get over this pain she had a baby and named her Catalina, the same name as her former daughter. The story begins to repeat its self as it seem that Catalina is following her older sisters examples in search for easy money through prostitution. Will the story end the same way...? A sequel series to the original Sin Senos No Hay Paraiso. This sequel follows the life of the last protagonists younger sister and how she has to deal with the repercussions of her late brother and sister's trouble with their lives of crime.</p>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter  px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Medium</span>
                    </div>
                </div>

<a href="https://www.netflix.com/title/80153272" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Watch Now</a>

            </div>
        </div>
    </div>
    <div class="md:1/3 w-full ">
        <div class="w-48 h-80  overflow-hidden mx-auto shadow-inner"><img src="/assets/resources/la-reina-del-sur.jpg" alt="sumit-wagh" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">La Reina Del Sur</h3>

            <p class="text-base text-grey text-center leading-normal mb-4">Teresa Mendoza returns to Mexico after 8 years to fight with Mexican drug dealers.</p>
        </div>
        <div>
            <div class="items-center">
                <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter  px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Medium</span>
                </div>
            </div>

<!-- Calendly link widget begin -->
<a href="https://www.netflix.com/title/70205672" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Watch Now</a>
        </div>
    </div>
</div>
<!-- start of first line -->
<div class="flex flex-wrap md:flex-no-wrap md:justify-between justify-center md:py-16 py-12 text-center">
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-80  overflow-hidden mx-auto"><img src="/assets/resources/siempre-bruja.jpg" alt="swapnil-bhavsar" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Siempre Bruja</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">Time-traveling witch from the 17th century escapes death and finds herself in modern day Cartagena.</p>
        <br>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4 px-2 py-4">
                        <span class="inline-block bg-purple-lighter  px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Medium</span>
                    </div>
                </div>
<a href="https://www.netflix.com/title/80205595" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Watch Now</a>

            </div>
        </div>
    </div>
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-80  overflow-hidden mx-auto shadow-inner"><img src="/assets/resources/la-niña.jpg" alt="rajesh-dewle" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">La Niña</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">A young woman who was part of the guerrilla seeking a better life in the city, she wants to study medicine, which will be a difficult wish to fulfill, since being part of groups outside the law always leaves consequences .</p>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter  px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Hard</span>
                    </div>
                </div>

<a href="https://www.netflix.com/title/80120640" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Watch Now</a>
            </div>
        </div>
    </div>
    <div class="md:1/3 w-full ">
        <div class="w-48 h-80  overflow-hidden mx-auto shadow-inner"><img src="/assets/resources/el-cartel.jpg" alt="sumit-wagh" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">El Cartel</h3>

            <p class="text-base text-grey text-center leading-normal mb-4">Two good friends join the underground world of Drug trafficking to make quick money and have a better quality of living. The illegal drugs trafficking world seems to be attractive to all these middle-class people who just want to grow up in a safe way without legal problems. Ignoring this choosing is just the beginning of a turbulent and troubled life that is going to change his fate forever.</p>
        </div>
        <div>
            <div class="items-center">
                <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter  px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Medium</span>
                </div>
            </div>

<a href="https://www.netflix.com/title/80025923" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Watch Now</a>
        </div>
    </div>
</div>
<!-- start of first line -->
<div class="flex flex-wrap md:flex-no-wrap md:justify-between justify-center md:py-16 py-12 text-center">
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-80  overflow-hidden mx-auto"><img src="/assets/resources/nicky-jam-el-ganador.jpg" alt="swapnil-bhavsar" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Nicky Jam El Ganador</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">A look at the life and career of the Latin music superstar, Nicky Jam.</p>
        <br>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4 px-2 py-4">
                        <span class="inline-block bg-purple-lighter  px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Medium</span>
                    </div>
                </div>
<a href="https://www.netflix.com/title/80221207" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Watch Now</a>

            </div>
        </div>
    </div>
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-80  overflow-hidden mx-auto shadow-inner"><img src="/assets/resources/diablero.jpg" alt="rajesh-dewle" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Diablero</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">A fallen priest, a legendary demon hunter, and a modern day superhero join forces to battle evil.</p>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter  px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Hard</span>
                    </div>
                </div>
<a href="https://www.netflix.com/title/80172145" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Watch Now</a>

            </div>
        </div>
    </div>
    <div class="md:1/3 w-full ">
        <div class="w-48 h-80  overflow-hidden mx-auto shadow-inner"><img src="/assets/resources/luis-miguel-the-series.jpg" alt="sumit-wagh" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Luis Miguel (the series)</h3>

            <p class="text-base text-grey text-center leading-normal mb-4">The series dramatizes the life story of Mexican superstar singer Luis Miguel, who has captivated audiences in Latin America and beyond for decades.</p>
        </div>
        <div>
            <div class="items-center">
                <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter  px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Medium</span>
                </div>
            </div>

<a href="https://www.netflix.com/title/80191236" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Watch Now</a>

        </div>
    </div>
</div>
<!-- start of first line -->
<div class="flex flex-wrap md:flex-no-wrap md:justify-between justify-center md:py-16 py-12 text-center">
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-80  overflow-hidden mx-auto"><img src="/assets/resources/pablo-escobar-el-patron-del-mal.jpg" alt="swapnil-bhavsar" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Pablo Escobar, Patron Del Mal</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">The exploits of the notorious drug lord, Pablo Escobar.</p>
        <br>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4 px-2 py-4">
                        <span class="inline-block bg-purple-lighter  px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Hard</span>
                    </div>
                </div>
<a href="https://www.netflix.com/title/80035684" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Watch Now</a>
            </div>
        </div>
    </div>
    <div class="md:1/3 w-full mb-12 md:mb-0">
        <div class="w-48 h-80  overflow-hidden mx-auto shadow-inner"><img src="/assets/resources/capo-el-amo-del-tunel.jpg" alt="rajesh-dewle" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">Capo El Amo De Tunel</h3>
            <p class="text-base text-grey text-center leading-normal mb-4">After a daring escape from prison, a powerful Mexican drug trafficker becomes the target of police and criminals in this drama inspired by El Chapo.</p>
        </div>
        <div>
            <div>
                <div class="items-center">
                    <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter  px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Medium</span>
                    </div>
                </div>
<a href="https://www.netflix.com/title/80163048" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Watch Now</a>

            </div>
        </div>
    </div>
    <div class="md:1/3 w-full ">
        <div class="w-48 h-80  overflow-hidden mx-auto shadow-inner"><img src="/assets/resources/el-dia-que-conoci-el-chapo.jpg" alt="sumit-wagh" class="w-full"></div>
        <div class="lg:w-2/3 md:w-4/5 w-2/3 mx-auto text-center">
            <h3 class="font-heading uppercase my-4 tracking-lg">El Día Que Conocí El Chapo</h3>

            <p class="text-base text-grey text-center leading-normal mb-4">The famous Mexican actress Kate del Castillo tells the hitherto unknown story of her encounter with Chapo Guzmán, the most wanted drug trafficker in the world.</p>
        </div>
        <div>
            <div class="items-center">
                <div class=" pl-4px-2 py-4">
                        <span class="inline-block bg-purple-lighter  px-3 py-1 my-1 text-sm font-semibold text-grey-darker mr-2">#Hard</span>
                </div>
            </div>

<a href="https://www.netflix.com/title/80184569" target="_blank" class="no-underline px-8 py-3 inline-block rounded text-md text-white font-semibold shadow-lg bg-purple-light hover:bg-purple-light mb-4 ">Watch Now</a>

        </div>
    </div>
</div>

