<%= render 'layouts/dashboard_student' %>



<div class=""><img src="/assets/resources/banner-music.jpg" alt="swapnil-bhavsar" class="w-full"></div>

<iframe src="https://open.spotify.com/embed/user/12134576921/playlist/06tkFksPfTtfIr9zpP4tr1" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>