<%= render 'layouts/dashboard_teacher' %>
<div class="items-center">
  
        <div class="container items-center mx-auto px-4 leading-normal">
            <div class="mx-auto md:flex md:flex-warp pt-10">
                <div class="w-full md:w-1/2 lg:w-1/2 mb-12 px-4">
                    <div class="mx-auto box-outer relative">
                        <div class="border border-grey-light lg:border-grey-light bg-white rounded p-4 leading-normal">
                            <span class="absolute rounded-tr pin-t pin-r p-2 bg-purple-light text-white text-xs uppercase font-bold">Teachers</span>
                            <div class="font-bold text-xl mb-2 border-l-4 rounded border-orange-primary pl-6 font-black text-grey-primary">Rosters</div>
                            <p class="w-5/6 text-grey-darker text-base py-4 pb-12 md:pb-8 relative z-50"> <br>
                                Learning Spanish doesn't always need to be through studying. This is a simple way to connect the Spanish dots without heavy lifting.
                            </p>
                            <a href="/student-movies" class="items-center block mt-4 sm:inline-block no-underline px-6 py-3 ml-4 mb-2 rounded text-base text-purple font-semibold border-1 border-purple hover:bg-purple-light bg-purple-lightest shadow-lg">Edit/Create/Delete</a>
                        </div>

                    </div>
                </div>
                <div class="w-full md:w-1/2 lg:w-1/2 mb-12 px-4">
                    <div class="box-outer relative">
                        <div class="border border-grey-light lg:border-grey-light bg-white rounded p-4 leading-normal">
                            <span class="absolute rounded-tr pin-t pin-r p-2 bg-purple-light text-white text-xs uppercase font-bold">Spotify Playlists</span>
                            <div class="font-bold text-xl mb-2 border-l-4 rounded border-orange-primary pl-6 font-black text-grey-primary  h-12">Spanish Music</div>
                            <p class="w-5/6 text-grey-darker text-base py-4 pb-12 md:pb-8 relative z-50">
                                Listening to music is a fantastic way to passively learn a language. You are able to pick up on tone, context, and vocabulary. 

                            </p>
                            <a href="/student-music" class="items-center block mt-4 sm:inline-block no-underline px-6 py-3 ml-4 mb-2 rounded text-base text-purple font-semibold border-1 border-purple hover:bg-purple-light bg-purple-lightest shadow-lg">Edit/Create/Delete</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="md:flex md:flex-warp">
                <div class="w-full md:w-1/2 lg:w-1/2 mb-12 px-4">
                    <div class="box-outer relative">
                        <div class="border border-grey-light lg:border-grey-light bg-white rounded p-4 leading-normal">
                            <span class="absolute rounded-tr pin-t pin-r p-2 bg-purple-light text-white text-xs uppercase font-bold">Currated List</span>
                            <div class="font-bold text-xl mb-2 border-l-4 rounded border-orange-primary pl-6 font-black text-grey-primary">Books in Spanish</div>
                            <p class="w-5/6 text-grey-darker text-base py-4 pb-12 md:pb-8 relative z-50">
                                For our students that are avid readers, here are the books we recommend at different stages. We have included links to Amazon and Panamericana, so you can study on your own time with ease.

                            </p>
                            <a href="student-books" class="items-center block mt-4 sm:inline-block no-underline px-6 py-3 ml-4 mb-2 rounded text-base text-purple font-semibold border-1 border-purple hover:bg-purple-light bg-purple-lightest shadow-lg">Edit/Create/Delete</a>
                        </div>
                    </div>
                </div>
                
                
                <div class="w-full md:w-1/2 lg:w-1/2 mb-12 px-4">
                    <div class="box-outer relative">
                        <div class="border border-grey-light lg:border-grey-light bg-white rounded p-4 leading-normal">
                            <span class="absolute rounded-tr pin-t pin-r p-2 bg-purple-light text-white text-xs uppercase font-bold">Helpful Apps</span>
                            <div class="font-bold text-xl mb-2 border-l-4 rounded border-orange-primary pl-6 font-black text-grey-primary">Spanish Apps</div>
                            <p class="w-5/6 text-grey-darker text-base py-4 pb-12 md:pb-8 relative z-50">
                                For our students that are avid readers, here are the books we recommend at different stages. We have included links to Amazon and Panamericana, so you can study on your own time with ease.

                            </p>
                            <a href="student-apps" class="items-center block mt-4 sm:inline-block no-underline px-6 py-3 ml-4 mb-2 rounded text-base text-purple font-semibold border-1 border-purple hover:bg-purple-light bg-purple-lightest shadow-lg">Edit/Create/Delete</a>
                        </div>
                    </div>
                </div>
 </div>
  
  
  
  ######
<iframe src="https://calendar.google.com/calendar/embed?src=hunter%40verticalspanish.com&ctz=America%2FBogota" style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
</div>


<iframe src="https://drive.google.com/embeddedfolderview?id=1sfp3-JzgHW3XGLpk3PXtwi2_0DP_Qivd" style="width:100%; height:600px; border:0;"></iframe>
