<%= render 'layouts/dashboard_teacher' %>
<div class="items-center">
  
        <div class="container items-center mx-auto px-4 leading-normal">
            <div class="mx-auto md:flex md:flex-warp pt-10">
                <div class="w-full md:w-1/2 lg:w-1/2 mb-12 px-4">
                    <div class="mx-auto box-outer relative">
                        <div class="border border-grey-light lg:border-grey-light bg-white rounded p-4 leading-normal">
                            <span class="absolute rounded-tr pin-t pin-r p-2 bg-purple-light text-white text-xs uppercase font-bold">Jumper</span>
                            <div class="font-bold text-xl mb-2 border-l-4 rounded border-orange-primary pl-6 font-black text-grey-primary">Level 1</div>
                            <p class="w-5/6 text-grey-darker text-base py-4 pb-12 md:pb-8 relative z-50"> <br>
                                Jumper: learning common expressions, greetings, and learning the basics; the way objects and adjectives have gender. Understanding & answering basic questions.
                            </p>
                            <a href="https://drive.google.com/drive/folders/1-Q1l43LnbURUjS8deiOILhzOiOEmpW0R" class="items-center block mt-4 sm:inline-block no-underline px-6 py-3 ml-4 mb-2 rounded text-base text-purple font-semibold border-1 border-purple hover:bg-purple-light bg-purple-lightest shadow-lg">View Lessons</a>
                        </div>

                    </div>
                </div>
                <div class="w-full md:w-1/2 lg:w-1/2 mb-12 px-4">
                    <div class="box-outer relative">
                        <div class="border border-grey-light lg:border-grey-light bg-white rounded p-4 leading-normal">
                            <span class="absolute rounded-tr pin-t pin-r p-2 bg-purple-light text-white text-xs uppercase font-bold">Paraglider</span>
                            <div class="font-bold text-xl mb-2 border-l-4 rounded border-orange-primary pl-6 font-black text-grey-primary  h-12">Level 2</div>
                            <p class="w-5/6 text-grey-darker text-base py-4 pb-12 md:pb-8 relative z-50">
                               Paraglider: getting to know three tenses that are frequently used; understanding and answering a wider range of questions and  being able to handle every day situations.

                            </p>
                            <a href="/student-music" class="items-center block mt-4 sm:inline-block no-underline px-6 py-3 ml-4 mb-2 rounded text-base text-purple font-semibold border-1 border-purple hover:bg-purple-light bg-purple-lightest shadow-lg">View Lessons</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="md:flex md:flex-warp">
                <div class="w-full md:w-1/2 lg:w-1/2 mb-12 px-4">
                    <div class="box-outer relative">
                        <div class="border border-grey-light lg:border-grey-light bg-white rounded p-4 leading-normal">
                            <span class="absolute rounded-tr pin-t pin-r p-2 bg-purple-light text-white text-xs uppercase font-bold">Helicopter Pilot</span>
                            <div class="font-bold text-xl mb-2 border-l-4 rounded border-orange-primary pl-6 font-black text-grey-primary">Level 3</div>
                            <p class="w-5/6 text-grey-darker text-base py-4 pb-12 md:pb-8 relative z-50">
                               Helicopter Pilot:  being able to understand the main idea of situations like School, Work, Leisure and social situations. Being able to describe experiences, events, dreams, hopes and opinions..

                            </p>
                            <a href="student-books" class="items-center block mt-4 sm:inline-block no-underline px-6 py-3 ml-4 mb-2 rounded text-base text-purple font-semibold border-1 border-purple hover:bg-purple-light bg-purple-lightest shadow-lg">View Lessons</a>
                        </div>
                    </div>
                </div>
                
                
                <div class="w-full md:w-1/2 lg:w-1/2 mb-12 px-4">
                    <div class="box-outer relative">
                        <div class="border border-grey-light lg:border-grey-light bg-white rounded p-4 leading-normal">
                            <span class="absolute rounded-tr pin-t pin-r p-2 bg-purple-light text-white text-xs uppercase font-bold">Airliner Pilot</span>
                            <div class="font-bold text-xl mb-2 border-l-4 rounded border-orange-primary pl-6 font-black text-grey-primary">Level 4</div>
                            <p class="w-5/6 text-grey-darker text-base py-4 pb-12 md:pb-8 relative z-50">
                                Airliner Pilot: being able to understand the main idea of complex situations in both concrete and abstract topics; being able to communicate with a certain degree of fluency in most situations.

                            </p>
                            <a href="student-apps" class="items-center block mt-4 sm:inline-block no-underline px-6 py-3 ml-4 mb-2 rounded text-base text-purple font-semibold border-1 border-purple hover:bg-purple-light bg-purple-lightest shadow-lg">View Lessons</a>
                        </div>
                    </div>
                </div>
 </div>
         <div class="container items-center mx-auto px-4 leading-normal">
            <div class="mx-auto md:flex md:flex-warp pt-10">
                <div class="w-full md:w-1/2 lg:w-1/2 mb-12 px-4">
                    <div class="mx-auto box-outer relative">
                        <div class="border border-grey-light lg:border-grey-light bg-white rounded p-4 leading-normal">
                            <span class="absolute rounded-tr pin-t pin-r p-2 bg-purple-light text-white text-xs uppercase font-bold">Jet Pilot</span>
                            <div class="font-bold text-xl mb-2 border-l-4 rounded border-orange-primary pl-6 font-black text-grey-primary">Level 5</div>
                            <p class="w-5/6 text-grey-darker text-base py-4 pb-12 md:pb-8 relative z-50"> <br>
                                Jet Pilot: being able to express ideas fluently and spontaneously without having to search for expressions. You will be able to use language flexibly and effectively for social, academic and professional purposes.
                            </p>
                            <a href="/student-movies" class="items-center block mt-4 sm:inline-block no-underline px-6 py-3 ml-4 mb-2 rounded text-base text-purple font-semibold border-1 border-purple hover:bg-purple-light bg-purple-lightest shadow-lg">View Lessons</a>
                        </div>

                    </div>
                </div>
                <div class="w-full md:w-1/2 lg:w-1/2 mb-12 px-4">
                    <div class="box-outer relative">
                        <div class="border border-grey-light lg:border-grey-light bg-white rounded p-4 leading-normal">
                            <span class="absolute rounded-tr pin-t pin-r p-2 bg-purple-light text-white text-xs uppercase font-bold">Astronaut</span>
                            <div class="font-bold text-xl mb-2 border-l-4 rounded border-orange-primary pl-6 font-black text-grey-primary  h-12">Level 6</div>
                            <p class="w-5/6 text-grey-darker text-base py-4 pb-12 md:pb-8 relative z-50">
                                Astronaut: you will be able to express yourself spontaneously, very fluently and precisely, differentiating finer shades of meaning even in the most complex situations. 

                            </p>
                            <a href="/student-music" class="items-center block mt-4 sm:inline-block no-underline px-6 py-3 ml-4 mb-2 rounded text-base text-purple font-semibold border-1 border-purple hover:bg-purple-light bg-purple-lightest shadow-lg">View Lessons</a>
                        </div>
                    </div>
                </div>
            </div>
