<%= render 'layouts/dashboard_teacher' %>
<div class="items-center">
<iframe src="https://calendar.google.com/calendar/embed?src=hunter%40verticalspanish.com&ctz=America%2FBogota" style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
</div>