<!--Title Section-->
<section class="mx-auto px-6 mt-12">
        <div class="">
          <div class=" text-center">
            <h2 class="text-2xl mb-2 text-3xl purple-dark uppercase font-bold">Pick a Plan</h2>
              <p class="text-lg text-space text-grey-dark leading-loose font-thin">We are glad to have you!</p>
                <div class="flex items-end">
                </div>
          </div>
        </div>
</section>
<!--Title Section-->

<% @plans.each do |plan| %>
<div class="bg-white mx-auto max-w-sm shadow-lg my-6 rounded-lg overflow-hidden">
  <div class="sm:flex sm:items-center px-6 py-4">
    <img class="block h-16 sm:h-24 rounded-full mx-auto mb-4 sm:mb-0 sm:mr-4 sm:ml-0" src="/assets/brand/vlogo.png" alt="">
    <div class="text-center sm:text-left sm:flex-grow">
      <div class="mb-4">
        <p class="text-xl leading-tight"><h4><%= plan.name %></h4></p>
        <p class="text-sm leading-tight text-grey-dark"><p><%= humanized_money_with_symbol(plan.price) %></p>
      </div>
      <div>
        <button class="text-xs font-semibold rounded-full px-4 py-1 leading-normal bg-white border border-purple text-purple hover:bg-purple hover:text-white"><%= link_to("Enroll", new_plan_subscription_path(plan), class: "no-underline text-purple" ) %></button>
      </div>
    </div>
  </div>
</div>

<% end %>
