    <nav class="hidden lg:flex flex-1 items-center justify-between px-12 py-6">
      <div class="flex flex-1 items-center">
          <div class="flex flex-no-shrink text-white mr-6">
            <svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"/></svg>
                <a class="font-semibold text-3xl text-black tracking-tight no-underline" href="/">Vertical Spanish</a>
          </div>
        <a href="/method" class="no-underline mx-4 text-base text-spacepurple font-medium hover:text-space purple-dark">Method</a> 
        <a href="/teachers" class="no-underline mx-4 text-base text-spacepurple font-medium hover:text-space purple-dark">Teachers</a> 
        <a href="/pricing" class="no-underline mx-4 text-base text-spacepurple font-medium hover:text-space purple-dark">Pricing</a> 
        <a href="/contact" class="no-underline mx-4 text-base text-spacepurple font-medium hover:text-space purple-dark">Contact</a>
      </div>
        <div class="flex items-center">
          <a href="#" class="no-underline mx-4 text-base text-space text-black font-medium hover:text-space purple-dark font-bold">(+57) 314-766-5629</a>
          <a href="#" class="no-underline px-6 py-3 ml-4 rounded text-base text-white font-semibold bg-purple-light hover:bg-purple-light shadow-lg">Get started</a>
            <div class="flex ml-3">
          </div>
        </div>
     </nav>
    
    <nav class="w-full py-4 lg:hidden" style="display: none;"><a href="#" class="block no-underline px-4 py-4 text-base text-space purple font-medium hover:underline">Home</a> 
          <a href="/method" class="block no-underline px-4 py-4 text-base text-spacepurple font-medium hover:underline">Method</a> 
          <a href="/teachers" class="block no-underline px-4 py-4 text-base text-spacepurple font-medium hover:underline">Teachers</a> 
          <a href="/pricing" class="block no-underline px-4 py-4 text-base text-spacepurple font-medium hover:underline">Pricing</a> <a href="https://feedr.dk/blog" class="block no-underline px-4 py-4 text-base text-spacepurple font-medium hover:underline">Blog</a> 
          <a href="/login" class="block no-underline px-4 py-4 text-base text-spacepurple font-medium hover:underline">Contact</a> 
          <a href="/" class="block no-underline px-4 py-4 text-base text-spacepurple font-medium hover:underline">Get started</a>
      <div class="flex justify-center mt-3">
      </div>
    </nav>
    
    
    