    <nav class="hidden lg:flex flex-1 items-center justify-between">
      <div class="flex flex-1"><a href="#" class="no-underline mx-4 text-base text-spaceblue font-medium hover:text-spaceblue-dark">Home</a> <a href="https://feedr.dk/pricing" class="no-underline mx-4 text-base text-spaceblue font-medium hover:text-spaceblue-dark">Pricing</a> <a href="https://feedr.dk/contact" class="no-underline mx-4 text-base text-spaceblue font-medium hover:text-spaceblue-dark">Contact</a> <a href="https://feedr.dk/help" class="no-underline mx-4 text-base text-spaceblue font-medium hover:text-spaceblue-dark">Help</a> <a href="https://feedr.dk/blog" class="no-underline mx-4 text-base text-spaceblue font-medium hover:text-spaceblue-dark">Blog</a></div>
        <div class="flex items-center"><a href="#" class="no-underline mx-4 text-base text-spaceblue font-medium hover:text-spaceblue-dark">Log in</a> <a href="https://app.feedr.dk/join" class="no-underline px-6 py-3 ml-4 rounded text-base text-white font-semibold bg-blue hover:bg-blue-light">Get started</a>
          <div class="flex ml-3">
          </div>
        </div>
     </nav>
    
    <nav class="w-full py-4 lg:hidden" style="display: none;"><a href="#" class="block no-underline px-4 py-4 text-base text-spaceblue font-medium hover:underline">Home</a> <a href="https://feedr.dk/pricing" class="block no-underline px-4 py-4 text-base text-spaceblue font-medium hover:underline">Pricing</a> <a href="https://feedr.dk/contact" class="block no-underline px-4 py-4 text-base text-spaceblue font-medium hover:underline">Contact</a> <a href="https://feedr.dk/help" class="block no-underline px-4 py-4 text-base text-spaceblue font-medium hover:underline">Help</a> <a href="https://feedr.dk/blog" class="block no-underline px-4 py-4 text-base text-spaceblue font-medium hover:underline">Blog</a> <a href="https://app.feedr.dk/login" class="block no-underline px-4 py-4 text-base text-spaceblue font-medium hover:underline">Log in</a> <a href="https://app.feedr.dk/join" class="block no-underline px-4 py-4 text-base text-spaceblue font-medium hover:underline">Get started</a>
      <div class="flex justify-center mt-3">
        <a rel="alternate" hreflang="da" href="https://feedr.dk/da"><img src="/images/flags/da.svg" alt="Dansk" class="w-10 mx-4"></a>
        <a rel="alternate" hreflang="en" href="https://feedr.dk/en"><img src="/images/flags/en.svg" alt="English" class="w-10 mx-4"></a>
      </div>
    </nav>
    
    
    