<div class="font-sans antialiased" id="app">
  <nav class="flex items-center justify-between flex-wrap bg-grey-lighter border-b-4 border-grey-light p-6">
    <div class="flex items-center flex-no-shrink text-white mr-6">
      <a class="font-semibold text-3xl text-black tracking-tight no-underline bg-transparent" href="/">Vertical Spanish</a>
    </div>
    <div class="block sm:hidden">
      <button @click="toggle" class="flex items-center px-3 py-2 border rounded text-grey-darker border-grey-darker hover:text-purple hover:border-purple">
        <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
      </button>
    </div>
    <div :class="open ? 'block': 'hidden'" class="w-full flex-grow sm:flex sm:items-center sm:w-auto">
      <div class="text-sm sm:flex-grow">
            <a href="/method" class="no-underline mx-4 text-base text-spacepurple no-underline block mt-4 sm:inline-block font-medium hover:text-space text-purple">Method</a> 
            <a href="spanish-school/learn-spanish-medellin" class="no-underline mx-4 text-base no-underline block mt-4 sm:inline-block text-spacepurple font-medium hover:text-space text-purple">Teachers</a> 
            <a href="/pricing" class="no-underline mx-4 text-base text-spacepurple no-underline block mt-4 sm:inline-block font-medium hover:text-space text-purple">Pricing</a> 
            <a href="/contact" class="no-underline mx-4 text-base text-spacepurple no-underline block mt-4 sm:inline-block font-medium hover:text-space text-purple">Contact</a>
            
      </div>
        <div class="flex items-center w-full flex-grow sm:w-auto">
            <a href="https://wa.me/573147665629"><img class="w-8 block mt-4 sm:inline-block" src="/assets/icons/social-media/whatsapp.png"></a>
            <a href="https://wa.me/573147665629" class="block mt-4 sm:inline-block no-underline mx-2 text-base text-space text-black font-medium hover:text-space purple-dark font-bold">(+57) 314-766-5629</a>
            <a href="#" class="block mt-4 sm:inline-block no-underline px-6 py-3 ml-4 rounded text-base text-white font-semibold bg-purple-light hover:bg-purple-light shadow-lg">Get started</a>
      </div>
    </div>
  </nav>
</div>





<!--Mobile Nav Script-->
  <script>
      new Vue({
      	el: '#app',
        data: {
        	open: false,
        },
        methods: {
        	toggle() {
          	this.open = !this.open
          }
        }
      })
    </script>
<!--Mobile Nav Script-->