<!--Main Nav-->    

<link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <nav class="xs: hidden sm:hidden lg:flex flex-1 items-center justify-between px-12 py-6 bg-transparent">
      <div class="flex flex-1 items-center bg-transparent">
          <div class="flex flex-no-shrink text-white mr-6 bg-transparent">
                <a class="font-semibold text-3xl text-black tracking-tight no-underline bg-transparent" href="/">Vertical Spanish</a>
          </div>
            <a href="/method" class="no-underline mx-4 text-base text-spacepurple font-medium hover:text-space text-purple">Method</a> 
            <a href="/spanish-school-medellin" class="no-underline mx-4 text-base text-spacepurple font-medium hover:text-space text-purple">Teachers</a> 
            <a href="/pricing" class="no-underline mx-4 text-base text-spacepurple font-medium hover:text-space text-purple">Pricing</a> 
            <a href="/contact" class="no-underline mx-4 text-base text-spacepurple font-medium hover:text-space text-purple">Contact</a>
          </div>
        <div class="flex items-center">
            <a href="https://wa.me/573147665629"><img class="w-8" src="https://previews.dropbox.com/p/thumb/AAXtn5smKgbvNQ5Lu95sDS_KdEbrIP1xhYerMF_4HwBSmuEQ0BEZtra2FjVk5ttH0Ex3gnhLhMbbxj1BN_WS3bAMUXIp5G7StJA9Pqd1i99xhHX3LjS4N63CGU1a_jf5xJDcLzpIsO3lzjzwtZbA6Y2nUkog-rfwUwcOq14oTIrdZxBhaSzxIwEZ2IdTRjcfLpBfN-U0dt7k0PN_bTuUL76GOyPtOmwT98B1_OF0UhY9qA/p.png?size=2048x1536&size_mode=3"></a>
            <a href="https://wa.me/573147665629" class="no-underline mx-4 text-base text-space text-black font-medium hover:text-space purple-dark font-bold">(+57) 314-766-5629</a>
            <a href="#" class="no-underline px-6 py-3 ml-4 rounded text-base text-white font-semibold bg-purple-light hover:bg-purple-light shadow-lg">Get started</a>
            <div class="flex ml-3">
        </div>
      </div>
     </nav>
<!--Main Nav-->  

