<!--Main Nav-->    
    <nav class="xs: hidden sm:hidden lg:flex flex-1 items-center justify-between px-12 py-6">
      <div class="flex flex-1 items-center">
          <div class="flex flex-no-shrink text-white mr-6">
            <svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"/></svg>
                <a class="font-semibold text-3xl text-black tracking-tight no-underline" href="/">Vertical Spanish</a>
          </div>
            <a href="/method" class="no-underline mx-4 text-base text-spacepurple font-medium hover:text-space text-purple">Method</a> 
            <a href="/spanish-school-medellin" class="no-underline mx-4 text-base text-spacepurple font-medium hover:text-space text-purple">Teachers</a> 
            <a href="/pricing" class="no-underline mx-4 text-base text-spacepurple font-medium hover:text-space text-purple">Pricing</a> 
            <a href="/contact" class="no-underline mx-4 text-base text-spacepurple font-medium hover:text-space text-purple">Contact</a>
          </div>
        <div class="flex items-center">
            <a href="https://wa.me/573147665629"><img class="w-8" src="https://previews.dropbox.com/p/thumb/AAXtn5smKgbvNQ5Lu95sDS_KdEbrIP1xhYerMF_4HwBSmuEQ0BEZtra2FjVk5ttH0Ex3gnhLhMbbxj1BN_WS3bAMUXIp5G7StJA9Pqd1i99xhHX3LjS4N63CGU1a_jf5xJDcLzpIsO3lzjzwtZbA6Y2nUkog-rfwUwcOq14oTIrdZxBhaSzxIwEZ2IdTRjcfLpBfN-U0dt7k0PN_bTuUL76GOyPtOmwT98B1_OF0UhY9qA/p.png?size=2048x1536&size_mode=3"></a>
            <a href="https://wa.me/573147665629" class="no-underline mx-4 text-base text-space text-black font-medium hover:text-space purple-dark font-bold">(+57) 314-766-5629</a>
            <a href="#" class="no-underline px-6 py-3 ml-4 rounded text-base text-white font-semibold bg-purple-light hover:bg-purple-light shadow-lg">Get started</a>
            <div class="flex ml-3">
        </div>
      </div>
     </nav>
<!--Main Nav-->  

<!--Mobile Nav
<section class="lg:hidden xl:hidden">

  <script src="SlickNav/jquery.slicknav.min.js"></script>
  
  <div class="font-semibold text-3xl text-black py-6 tracking-tight no-underline" href="/">Vertical Spanish</div>
      <br>
      
  <div class="">
    <ul id="menu" class="list-reset container">
    	<li><a class="text-md" href="#">Method</a></li>
    	<li><a class="" href="#">Teachers</a></li>
    	<li><a class="" href="#">Pricing</a></li>
    	<li><a class="" href="#">Contact</a></li>
    	 <br>
       <li><a href="#" class="no-underline text-base text-space text-black font-medium hover:text-space purple-dark font-bold">(+57) 314-766-5629</a></li>
    </ul>
  </div>
    
  
  <script>
  	$(function(){
  		$('#menu').slicknav();
  	});
  </script>
</section>
<!--Mobile Nav--> 




