<body class="font-sans">

    <div id="app" class="font-sans antialiased">
        <nav class="flex items-center justify-between flex-wrap bg-grey-lighter border-b-4 border-grey-light px-4">
            <div class="flex items-center flex-no-shrink text-white">
                <div class="text-center  mr-8">
                    <a href="/"><img src="/assets/brand/text-dashboard-student.png" width="280" height="280" alt="Vertical Spanish - Learn Spanish in Medellín, Colombia" class="fill-current ml-4 mt-5"></a>
                </div>
            </div>
            <div class="block sm:hidden">
                <button class="flex items-center px-3 py-2 border rounded text-grey-darker border-grey-darker hover:text-purple hover:border-purple">
                    <svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" class="fill-current h-3 w-3">
                        <title>Menu</title>
                        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
                    </svg>
                </button>
            </div>
            <div class="w-full flex-grow sm:flex sm:items-center sm:w-auto hidden">
                <div class="text-sm sm:flex-grow"><a href="/cards" class="no-underline mx-4 text-base text-spacepurple no-underline font-medium block  sm:inline-block font-medium hover:text-space text-purple">Billing</a></div>
                <div class="flex items-center w-full sm:flex-row-reverse sm:w-auto md:flex-row">
                    <div class="flex items-center w-full sm:flex-row-reverse md:flex-row  sm:w-auto"><a href="/book-a-lesson" class="block mt-4 sm:inline-block no-underline px-6 py-3 ml-4 mb-2 rounded text-base text-white font-semibold bg-purple-light hover:bg-purple-light shadow-lg">Book a Lesson</a> <a href="/users/sign_out" class="block mt-4 sm:inline-block no-underline px-6 py-3 ml-4 mb-2 rounded text-base text-purple font-semibold border-1 border-purple hover:bg-purple-light shadow-lg">Log out</a></div>
                </div>
            </div>
        </nav>
    </div>

    <div class=""><img src="/assets/resources/banner-.jpg" alt="swapnil-bhavsar" class="w-full"></div>

    <div class="container items-center mx-auto px-4 leading-normal">
        <div class="mx-auto md:flex md:flex-warp pt-10">
            <div class="w-full md:w-1/2 lg:w-1/2 mb-12 px-4">
                <div class="mx-auto box-outer relative">
                    <div class="border border-grey-light lg:border-grey-light bg-white rounded p-4 leading-normal">
                        <span class="absolute rounded-tr pin-t pin-r p-2 bg-purple-light text-white text-xs uppercase font-bold">Netlix Lineup</span>
                        <div class="font-bold text-xl mb-2 border-l-4 rounded border-orange-primary pl-6 font-black text-grey-primary">Spanish Movies</div>
                        <p class="w-5/6 text-grey-darker text-base py-4 pb-12 md:pb-8 relative z-50">
                            <br> Learning Spanish doesn't always need to be through studying. This is a simple way to connect the Spanish dots without heavy lifting.
                        </p>
                        <a href="/student-movies" class="items-center block mt-4 sm:inline-block no-underline px-6 py-3 ml-4 mb-2 rounded text-base text-purple font-semibold border-1 border-purple hover:bg-purple-light bg-purple-lightest shadow-lg">Explore</a>
                    </div>

                </div>
            </div>
            <div class="w-full md:w-1/2 lg:w-1/2 mb-12 px-4">
                <div class="box-outer relative">
                    <div class="border border-grey-light lg:border-grey-light bg-white rounded p-4 leading-normal">
                        <span class="absolute rounded-tr pin-t pin-r p-2 bg-purple-light text-white text-xs uppercase font-bold">Spotify Playlists</span>
                        <div class="font-bold text-xl mb-2 border-l-4 rounded border-orange-primary pl-6 font-black text-grey-primary  h-12">Spanish Music</div>
                        <p class="w-5/6 text-grey-darker text-base py-4 pb-12 md:pb-8 relative z-50">
                            Listening to music is a fantastic way to passively learn a language. You are able to pick up on tone, context, and vocabulary.

                        </p>
                        <a href="/student-music" class="items-center block mt-4 sm:inline-block no-underline px-6 py-3 ml-4 mb-2 rounded text-base text-purple font-semibold border-1 border-purple hover:bg-purple-light bg-purple-lightest shadow-lg">Explore</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="md:flex md:flex-warp">
            <div class="w-full md:w-1/2 lg:w-1/2 mb-12 px-4">
                <div class="box-outer relative">
                    <div class="border border-grey-light lg:border-grey-light bg-white rounded p-4 leading-normal">
                        <span class="absolute rounded-tr pin-t pin-r p-2 bg-purple-light text-white text-xs uppercase font-bold">Currated List</span>
                        <div class="font-bold text-xl mb-2 border-l-4 rounded border-orange-primary pl-6 font-black text-grey-primary">Books in Spanish</div>
                        <p class="w-5/6 text-grey-darker text-base py-4 pb-12 md:pb-8 relative z-50">
                            For our students that are avid readers, here are the books we recommend at different stages. We have included links to Amazon and Panamericana, so you can study on your own time with ease.

                        </p>
                        <a href="student-books" class="items-center block mt-4 sm:inline-block no-underline px-6 py-3 ml-4 mb-2 rounded text-base text-purple font-semibold border-1 border-purple hover:bg-purple-light bg-purple-lightest shadow-lg">Explore</a>
                    </div>
                </div>
            </div>

            <div class="w-full md:w-1/2 lg:w-1/2 mb-12 px-4">
                <div class="box-outer relative">
                    <div class="border border-grey-light lg:border-grey-light bg-white rounded p-4 leading-normal">
                        <span class="absolute rounded-tr pin-t pin-r p-2 bg-purple-light text-white text-xs uppercase font-bold">Helpful Apps</span>
                        <div class="font-bold text-xl mb-2 border-l-4 rounded border-orange-primary pl-6 font-black text-grey-primary">Spanish Apps</div>
                        <p class="w-5/6 text-grey-darker text-base py-4 pb-12 md:pb-8 relative z-50">
                            For our students that are avid readers, here are the books we recommend at different stages. We have included links to Amazon and Panamericana, so you can study on your own time with ease.

                        </p>
                        <a href="student-apps" class="items-center block mt-4 sm:inline-block no-underline px-6 py-3 ml-4 mb-2 rounded text-base text-purple font-semibold border-1 border-purple hover:bg-purple-light bg-purple-lightest shadow-lg">Explore</a>
                    </div>
                </div>
            </div>

            <script>
                window.fcWidget.init({
                    token: "6cb2584e-119d-4853-96a8-12456a2cabef",
                    host: "https://wchat.freshchat.com"
                });
            </script>

        </div>
    </div>
    <div id="fc_frame" class="fc-widget-normal">
        <iframe id="fc_widget" name="fc_widget" title="Chat" frameborder="0"></iframe>
    </div>
    <iframe frameborder="0" allowtransparency="true" scrolling="no" name="__privateStripeController1" allowpaymentrequest="true" src="https://js.stripe.com/v3/controller-8cf533bd2ac100386dcc43eb1faef57b.html#apiKey=pk_test_6zNgR6R6IGp3Va910mkUQMD1&amp;stripeJsId=2932b95e-8093-4dac-9622-404c1715a4ee&amp;origin=https%3A%2F%2Fvsp-thabiznas.c9users.io&amp;referrer=https%3A%2F%2Fvsp-thabiznas.c9users.io%2Fstudent&amp;controllerId=__privateStripeController1" aria-hidden="true" tabindex="-1" style="border: none !important; margin: 0px !important; padding: 0px !important; width: 1px !important; min-width: 100% !important; overflow: hidden !important; display: block !important; visibility: hidden !important; position: fixed !important; height: 1px !important; pointer-events: none !important;"></iframe>
    <iframe frameborder="0" allowtransparency="true" scrolling="no" name="__privateStripeMetricsController0" allowpaymentrequest="true" src="https://js.stripe.com/v2/m/outer.html#url=https%3A%2F%2Fvsp-thabiznas.c9users.io%2Fstudent&amp;title=VerticalPlatform&amp;referrer=https%3A%2F%2Fvsp-thabiznas.c9users.io%2Fadmin&amp;muid=deeca524-212e-49b5-9979-3960df1ad438&amp;sid=5ff99598-caf5-4ddd-90e2-ad03caa1c8aa&amp;preview=false" aria-hidden="true" tabindex="-1" style="border: none !important; margin: 0px !important; padding: 0px !important; width: 1px !important; min-width: 100% !important; overflow: hidden !important; display: block !important; visibility: hidden !important; position: fixed !important; height: 1px !important; pointer-events: none !important;"></iframe>
    <div id="fc_push_frame">
        <iframe id="fc_push" src="https://193814529002331.webpush.freshchat.com/index.html?ref=aHR0cHM6Ly92c3AtdGhhYml6bmFzLmM5dXNlcnMuaW8=" frameborder="0"></iframe>
    </div>
</body>